backups/20RQ7smrw2m4URaZ_Update lead status from Web form and send to Piped.json
{
  "updatedAt": "2026-05-15T09:34:32.689Z",
  "createdAt": "2026-05-15T09:34:32.689Z",
  "id": "20RQ7smrw2m4URaZ",
  "name": "Update lead status from Web form and send to Pipedrive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-web-form",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        51900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-lead-status-from-web-form-and-send-to-pipedrive",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "97f00afe-d825-4683-b133-95e5b1c7e3a2"
    },
    {
      "id": "fetch-web-form",
      "name": "Fetch data from Web form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        51900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/web-form",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-pipedrive",
      "name": "Send to Pipedrive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        51900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/pipedrive",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-51900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        51900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Web form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Web form": {
      "main": [
        {
          "node": "Send to Pipedrive",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Pipedrive": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8c3df067-921e-4260-af15-dfb9bd811e7f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:32.689Z",
      "createdAt": "2026-05-15T09:34:32.689Z",
      "role": "workflow:owner",
      "workflowId": "20RQ7smrw2m4URaZ",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}