backups/6MNNBqdlnaAZ6J8s_Assign to salesperson from Web form and send to Sa.json
{
  "updatedAt": "2026-05-15T09:31:25.546Z",
  "createdAt": "2026-05-15T09:31:25.546Z",
  "id": "6MNNBqdlnaAZ6J8s",
  "name": "Assign to salesperson from Web form and send to Salesforce",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-web-form",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        51000
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-to-salesperson-from-web-form-and-send-to-salesforce",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "d48cfa9a-a33b-4580-b7a6-b4507e13e580"
    },
    {
      "id": "fetch-web-form",
      "name": "Fetch data from Web form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        51000
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/web-form",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-salesforce",
      "name": "Send to Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        51000
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/salesforce",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-51000",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        51000
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Web form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Web form": {
      "main": [
        {
          "node": "Send to Salesforce",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Salesforce": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1aff1dbb-a031-44ff-af78-49f69263d619",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:25.546Z",
      "createdAt": "2026-05-15T09:31:25.546Z",
      "role": "workflow:owner",
      "workflowId": "6MNNBqdlnaAZ6J8s",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}