backups/7xlUkatQyBJ3cSOe_Create jira ticket from Deployment event and send .json
{
  "updatedAt": "2026-05-15T09:31:52.517Z",
  "createdAt": "2026-05-15T09:31:52.517Z",
  "id": "7xlUkatQyBJ3cSOe",
  "name": "Create jira ticket from Deployment event and send to Jira",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-deployment-event",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        149500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-jira-ticket-from-deployment-event-and-send-to-jira",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "8ee62312-954c-4a65-956b-4fa50cd11388"
    },
    {
      "id": "fetch-deployment-event",
      "name": "Fetch data from Deployment event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        149500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/deployment-event",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-jira",
      "name": "Send to Jira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        149500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/jira",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-149500",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        149500
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Deployment event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Deployment event": {
      "main": [
        {
          "node": "Send to Jira",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Jira": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "df44105c-3d52-42cf-870f-1dc93534196b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:52.517Z",
      "createdAt": "2026-05-15T09:31:52.517Z",
      "role": "workflow:owner",
      "workflowId": "7xlUkatQyBJ3cSOe",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}