backups/8dJuhY29SbzmHX5i_Schedule posts from Airtable campaign table and se.json
{
  "updatedAt": "2026-05-15T09:33:32.182Z",
  "createdAt": "2026-05-15T09:33:32.182Z",
  "id": "8dJuhY29SbzmHX5i",
  "name": "Schedule posts from Airtable campaign table and send to Twitter",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-airtable-campaign-table",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        75800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-posts-from-airtable-campaign-table-and-send-to-twitter",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "494122f0-1e67-4897-a6a5-37e232303601"
    },
    {
      "id": "fetch-airtable-campaign-table",
      "name": "Fetch data from Airtable campaign table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        75800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/airtable-campaign-table",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-twitter",
      "name": "Send to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        75800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/twitter",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-75800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        75800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Airtable campaign table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Airtable campaign table": {
      "main": [
        {
          "node": "Send to Twitter",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Twitter": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c02054bf-2a94-4cdb-9f8b-14b653b98795",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:32.182Z",
      "createdAt": "2026-05-15T09:33:32.182Z",
      "role": "workflow:owner",
      "workflowId": "8dJuhY29SbzmHX5i",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}