backups/8guY7CIvNYEqjGwa_Analyze meeting sentiment from Google Meet and sen.json
{
  "updatedAt": "2026-05-15T09:31:14.022Z",
  "createdAt": "2026-05-15T09:31:14.022Z",
  "id": "8guY7CIvNYEqjGwa",
  "name": "Analyze meeting sentiment from Google Meet and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-google-meet",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        14300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-meeting-sentiment-from-google-meet-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "1a1ee8d1-bc5f-4a41-a289-0eb66c991aca"
    },
    {
      "id": "fetch-google-meet",
      "name": "Fetch data from Google Meet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        14300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/google-meet",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-analyze-meeting-sentiment",
      "name": "AI: Analyze Meeting Sentiment",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        14300
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: analyze meeting sentiment"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        14300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-14300",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        14300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Google Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Google Meet": {
      "main": [
        {
          "node": "AI: Analyze Meeting Sentiment",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Analyze Meeting Sentiment": {
      "main": [
        [
          {
            "node": "AI: Analyze Meeting Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e4a54082-3b40-4e90-bab9-597c6e5e85c8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:14.022Z",
      "createdAt": "2026-05-15T09:31:14.022Z",
      "role": "workflow:owner",
      "workflowId": "8guY7CIvNYEqjGwa",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}