backups/94WxR1meKdw1EI1o_Capture lead from LinkedIn Ads and send to Pipedri.json
{
  "updatedAt": "2026-05-15T09:31:30.412Z",
  "createdAt": "2026-05-15T09:31:30.412Z",
  "id": "94WxR1meKdw1EI1o",
  "name": "Capture lead from LinkedIn Ads and send to Pipedrive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-linkedin-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        41400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "capture-lead-from-linkedin-ads-and-send-to-pipedrive",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "127fd564-bde0-48d1-867f-3ea67f8e1ce9"
    },
    {
      "id": "fetch-linkedin-ads",
      "name": "Fetch data from LinkedIn Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        41400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/linkedin-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-pipedrive",
      "name": "Send to Pipedrive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        41400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/pipedrive",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-41400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        41400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from LinkedIn Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from LinkedIn Ads": {
      "main": [
        {
          "node": "Send to Pipedrive",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Pipedrive": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "bd15b8e5-8b7f-42ff-aaca-981d66f354cd",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:30.412Z",
      "createdAt": "2026-05-15T09:31:30.412Z",
      "role": "workflow:owner",
      "workflowId": "94WxR1meKdw1EI1o",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}