backups/AKYmKz4pBGdXxTiN_Trigger restock from Shopify order and send to War.json
{
  "updatedAt": "2026-05-15T09:34:16.371Z",
  "createdAt": "2026-05-15T09:34:16.371Z",
  "id": "AKYmKz4pBGdXxTiN",
  "name": "Trigger restock from Shopify order and send to Warehouse system",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-shopify-order",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        172100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-restock-from-shopify-order-and-send-to-warehouse-system",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "120358b3-4c16-4883-95d8-0216ebc0b90f"
    },
    {
      "id": "fetch-shopify-order",
      "name": "Fetch data from Shopify order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        172100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/shopify-order",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-warehouse-system",
      "name": "Send to Warehouse system",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        172100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/warehouse-system",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-172100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        172100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Shopify order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Shopify order": {
      "main": [
        {
          "node": "Send to Warehouse system",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Warehouse system": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "70be372b-2150-45be-b459-e57de0c9f78a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:16.371Z",
      "createdAt": "2026-05-15T09:34:16.371Z",
      "role": "workflow:owner",
      "workflowId": "AKYmKz4pBGdXxTiN",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}