backups/aTR63sguf7WBtPw7_Fetch data from External API and send to Google Sh.json
{
  "updatedAt": "2026-05-15T09:32:18.568Z",
  "createdAt": "2026-05-15T09:32:18.568Z",
  "id": "aTR63sguf7WBtPw7",
  "name": "Fetch data from External API and send to Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-external-api",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        195100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-data-from-external-api-and-send-to-google-sheets",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "b8281487-6e02-4951-9d8b-0bf01862e006"
    },
    {
      "id": "fetch-external-api",
      "name": "Fetch data from External API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        195100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/external-api",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-google-sheets",
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        195100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-sheets",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-195100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        195100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from External API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from External API": {
      "main": [
        {
          "node": "Send to Google Sheets",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f3dc7589-1560-43ad-afb3-eb3826f16ea3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:18.568Z",
      "createdAt": "2026-05-15T09:32:18.568Z",
      "role": "workflow:owner",
      "workflowId": "aTR63sguf7WBtPw7",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}