backups/AZmahBgmHVsusR3g_Schedule appointment from Property listing and sen.json
{
  "updatedAt": "2026-05-15T09:33:23.632Z",
  "createdAt": "2026-05-15T09:33:23.632Z",
  "id": "AZmahBgmHVsusR3g",
  "name": "Schedule appointment from Property listing and send to Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-property-listing",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        186500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-appointment-from-property-listing-and-send-to-google-sheets",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "a26fc3b5-3df8-4877-a1ee-ef6b871afa5e"
    },
    {
      "id": "fetch-property-listing",
      "name": "Fetch data from Property listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        186500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/property-listing",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-google-sheets",
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        186500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-sheets",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-186500",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        186500
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Property listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Property listing": {
      "main": [
        {
          "node": "Send to Google Sheets",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ee195c7a-0f10-41a5-883b-3d369d69cd4b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:23.632Z",
      "createdAt": "2026-05-15T09:33:23.632Z",
      "role": "workflow:owner",
      "workflowId": "AZmahBgmHVsusR3g",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}