backups/bbaWI0sS3E7HXtOO_Translate customer request from Zendesk ticket and.json
{
  "updatedAt": "2026-05-15T09:34:12.383Z",
  "createdAt": "2026-05-15T09:34:12.383Z",
  "id": "bbaWI0sS3E7HXtOO",
  "name": "Translate customer request from Zendesk ticket and send to Knowledge base",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-zendesk-ticket",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        83400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "translate-customer-request-from-zendesk-ticket-and-send-to-knowledge-base",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "41eced14-707c-463b-946a-76c6a25756d6"
    },
    {
      "id": "fetch-zendesk-ticket",
      "name": "Fetch data from Zendesk ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        83400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zendesk-ticket",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-translate-customer-request",
      "name": "AI: Translate Customer Request",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        83400
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: translate customer request"
      }
    },
    {
      "id": "send-knowledge-base",
      "name": "Send to Knowledge base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        83400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/knowledge-base",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-83400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        83400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zendesk ticket": {
      "main": [
        {
          "node": "AI: Translate Customer Request",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Translate Customer Request": {
      "main": [
        [
          {
            "node": "AI: Translate Customer Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Knowledge base": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6c7c8680-b151-4365-953a-aae05689d0fc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:12.383Z",
      "createdAt": "2026-05-15T09:34:12.383Z",
      "role": "workflow:owner",
      "workflowId": "bbaWI0sS3E7HXtOO",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}