backups/CBkpEDwuIBg92u1l_Add lead to crm from LinkedIn Ads and send to Sale.json
{
  "updatedAt": "2026-05-15T09:31:08.327Z",
  "createdAt": "2026-05-15T09:31:08.327Z",
  "id": "CBkpEDwuIBg92u1l",
  "name": "Add lead to crm from LinkedIn Ads and send to Salesforce",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-linkedin-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        43300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "add-lead-to-crm-from-linkedin-ads-and-send-to-salesforce",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "59698429-4871-41b4-a559-983fcae8988c"
    },
    {
      "id": "fetch-linkedin-ads",
      "name": "Fetch data from LinkedIn Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        43300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/linkedin-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-salesforce",
      "name": "Send to Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        43300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/salesforce",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-43300",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        43300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from LinkedIn Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from LinkedIn Ads": {
      "main": [
        {
          "node": "Send to Salesforce",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Salesforce": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "2564685c-7cf3-49c6-90a7-487d31aa9b65",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:08.327Z",
      "createdAt": "2026-05-15T09:31:08.327Z",
      "role": "workflow:owner",
      "workflowId": "CBkpEDwuIBg92u1l",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}