backups/CmkB0OE6jIuDIVot_Qualify lead from LinkedIn Ads and send to Copper.json
{
  "updatedAt": "2026-05-15T09:33:07.410Z",
  "createdAt": "2026-05-15T09:33:07.410Z",
  "id": "CmkB0OE6jIuDIVot",
  "name": "Qualify lead from LinkedIn Ads and send to Copper",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-linkedin-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        42300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "qualify-lead-from-linkedin-ads-and-send-to-copper",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "7127c4b2-cb39-4ef7-96c3-9ecc5294021a"
    },
    {
      "id": "fetch-linkedin-ads",
      "name": "Fetch data from LinkedIn Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        42300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/linkedin-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-copper",
      "name": "Send to Copper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        42300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/copper",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-42300",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        42300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from LinkedIn Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from LinkedIn Ads": {
      "main": [
        {
          "node": "Send to Copper",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Copper": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a6442387-55f8-48a6-bf31-3a1f02db2003",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:07.410Z",
      "createdAt": "2026-05-15T09:33:07.410Z",
      "role": "workflow:owner",
      "workflowId": "CmkB0OE6jIuDIVot",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}