backups/dOoSGqNYB8UJPuCv_Generate ad copy from Microsoft Teams and send to .json
{
  "updatedAt": "2026-05-15T09:32:20.778Z",
  "createdAt": "2026-05-15T09:32:20.778Z",
  "id": "dOoSGqNYB8UJPuCv",
  "name": "Generate ad copy from Microsoft Teams and send to Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-microsoft-teams",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        26700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-ad-copy-from-microsoft-teams-and-send-to-google-sheets",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "15003e0c-8e6d-4525-9d30-d05668e67e1d"
    },
    {
      "id": "fetch-microsoft-teams",
      "name": "Fetch data from Microsoft Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        26700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/microsoft-teams",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-ad-copy",
      "name": "AI: Generate Ad Copy",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        26700
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate ad copy"
      }
    },
    {
      "id": "send-google-sheets",
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        26700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-sheets",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-26700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        26700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Microsoft Teams": {
      "main": [
        {
          "node": "AI: Generate Ad Copy",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Ad Copy": {
      "main": [
        [
          {
            "node": "AI: Generate Ad Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9989bf31-9f96-496c-ad33-b6229abb3e58",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:20.778Z",
      "createdAt": "2026-05-15T09:32:20.778Z",
      "role": "workflow:owner",
      "workflowId": "dOoSGqNYB8UJPuCv",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}