backups/dWAy0FXCNuxLmAEv_Create jira ticket from Deployment event and send .json
{
  "updatedAt": "2026-05-15T09:31:52.422Z",
  "createdAt": "2026-05-15T09:31:52.422Z",
  "id": "dWAy0FXCNuxLmAEv",
  "name": "Create jira ticket from Deployment event and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-deployment-event",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        149600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-jira-ticket-from-deployment-event-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "cf8ff52f-05d8-4924-978f-e09f9fc0e158"
    },
    {
      "id": "fetch-deployment-event",
      "name": "Fetch data from Deployment event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        149600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/deployment-event",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        149600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-149600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        149600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Deployment event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Deployment event": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a432cb2b-4031-4384-8e7e-180bdf26baf3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:52.422Z",
      "createdAt": "2026-05-15T09:31:52.422Z",
      "role": "workflow:owner",
      "workflowId": "dWAy0FXCNuxLmAEv",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}