backups/eHzXOSrvox89vWvR_Translate customer request from Zendesk ticket and.json
{
  "updatedAt": "2026-05-15T09:34:12.154Z",
  "createdAt": "2026-05-15T09:34:12.154Z",
  "id": "eHzXOSrvox89vWvR",
  "name": "Translate customer request from Zendesk ticket and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-zendesk-ticket",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        83100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "translate-customer-request-from-zendesk-ticket-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "3eaf1846-7246-4102-b37d-a6a82b340bea"
    },
    {
      "id": "fetch-zendesk-ticket",
      "name": "Fetch data from Zendesk ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        83100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zendesk-ticket",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-translate-customer-request",
      "name": "AI: Translate Customer Request",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        83100
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: translate customer request"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        83100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-83100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        83100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zendesk ticket": {
      "main": [
        {
          "node": "AI: Translate Customer Request",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Translate Customer Request": {
      "main": [
        [
          {
            "node": "AI: Translate Customer Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "41b233fe-e794-4cc5-84cd-707ba54dd6fe",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:12.154Z",
      "createdAt": "2026-05-15T09:34:12.154Z",
      "role": "workflow:owner",
      "workflowId": "eHzXOSrvox89vWvR",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}