backups/ESpcEVBQ3Bi9UYgO_Escalate priority from Help desk email and send to.json
{
  "updatedAt": "2026-05-15T09:32:10.939Z",
  "createdAt": "2026-05-15T09:32:10.939Z",
  "id": "ESpcEVBQ3Bi9UYgO",
  "name": "Escalate priority from Help desk email and send to Jira",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-help-desk-email",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        89800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "escalate-priority-from-help-desk-email-and-send-to-jira",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "4dfc16a8-08b6-4c75-9ebf-b421126261e4"
    },
    {
      "id": "fetch-help-desk-email",
      "name": "Fetch data from Help desk email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        89800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/help-desk-email",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-jira",
      "name": "Send to Jira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        89800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/jira",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-89800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        89800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Help desk email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Help desk email": {
      "main": [
        {
          "node": "Send to Jira",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Jira": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9b5f21e3-7c86-489f-99e7-b3f52161154b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:10.939Z",
      "createdAt": "2026-05-15T09:32:10.939Z",
      "role": "workflow:owner",
      "workflowId": "ESpcEVBQ3Bi9UYgO",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}