backups/fe59VtGknrXXDnWH_Assign to salesperson from Google Ads and send to .json
{
  "updatedAt": "2026-05-15T09:31:23.696Z",
  "createdAt": "2026-05-15T09:31:23.696Z",
  "id": "fe59VtGknrXXDnWH",
  "name": "Assign to salesperson from Google Ads and send to Freshsales",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-google-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        40300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-to-salesperson-from-google-ads-and-send-to-freshsales",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "3d682dbb-606d-4fff-9192-8f628131281f"
    },
    {
      "id": "fetch-google-ads",
      "name": "Fetch data from Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        40300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/google-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-freshsales",
      "name": "Send to Freshsales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        40300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/freshsales",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-40300",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        40300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Google Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Google Ads": {
      "main": [
        {
          "node": "Send to Freshsales",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Freshsales": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "85ceb166-7c73-4af9-8ebd-1c3795b59a4c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:23.696Z",
      "createdAt": "2026-05-15T09:31:23.696Z",
      "role": "workflow:owner",
      "workflowId": "fe59VtGknrXXDnWH",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}