backups/FwbuCaNBkg3DRRXh_Generate ad copy from Zoom and send to Marketing t.json
{
  "updatedAt": "2026-05-15T09:32:21.746Z",
  "createdAt": "2026-05-15T09:32:21.746Z",
  "id": "FwbuCaNBkg3DRRXh",
  "name": "Generate ad copy from Zoom and send to Marketing team",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-zoom",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        7800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-ad-copy-from-zoom-and-send-to-marketing-team",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "5a45feb4-3f19-48b6-87bc-fbcff92b278a"
    },
    {
      "id": "fetch-zoom",
      "name": "Fetch data from Zoom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        7800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zoom",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-ad-copy",
      "name": "AI: Generate Ad Copy",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        7800
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate ad copy"
      }
    },
    {
      "id": "send-marketing-team",
      "name": "Send to Marketing team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        7800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/marketing-team",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-7800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        7800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zoom": {
      "main": [
        {
          "node": "AI: Generate Ad Copy",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Ad Copy": {
      "main": [
        [
          {
            "node": "AI: Generate Ad Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Marketing team": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "fff4cbf5-5e42-487b-8d36-af1c12bc39b1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:21.746Z",
      "createdAt": "2026-05-15T09:32:21.746Z",
      "role": "workflow:owner",
      "workflowId": "FwbuCaNBkg3DRRXh",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}