backups/gDWlsSyMJo3RVYEA_Validate compliance from Contract document and sen.json
{
  "updatedAt": "2026-05-15T09:34:41.754Z",
  "createdAt": "2026-05-15T09:34:41.754Z",
  "id": "gDWlsSyMJo3RVYEA",
  "name": "Validate compliance from Contract document and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-contract-document",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        163100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-compliance-from-contract-document-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "7bfd55ba-8e5c-4312-b696-c18290e59cc7"
    },
    {
      "id": "fetch-contract-document",
      "name": "Fetch data from Contract document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        163100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/contract-document",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        163100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-163100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        163100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Contract document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Contract document": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ef2f3f8f-3890-4305-a9f7-60cafcd742fa",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:41.754Z",
      "createdAt": "2026-05-15T09:34:41.754Z",
      "role": "workflow:owner",
      "workflowId": "gDWlsSyMJo3RVYEA",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}