backups/GJPU3hGOCQMqcK3u_Capture lead from LinkedIn Ads and send to Gmail.json
{
  "updatedAt": "2026-05-15T09:31:30.193Z",
  "createdAt": "2026-05-15T09:31:30.193Z",
  "id": "GJPU3hGOCQMqcK3u",
  "name": "Capture lead from LinkedIn Ads and send to Gmail",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-linkedin-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        41800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "capture-lead-from-linkedin-ads-and-send-to-gmail",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "b266f527-2b20-4797-8d3d-4d89d32cc8de"
    },
    {
      "id": "fetch-linkedin-ads",
      "name": "Fetch data from LinkedIn Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        41800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/linkedin-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-gmail",
      "name": "Send to Gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        41800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/gmail",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-41800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        41800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from LinkedIn Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from LinkedIn Ads": {
      "main": [
        {
          "node": "Send to Gmail",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Gmail": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "817fb560-d4a0-4474-9112-24fe0f90f6f3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:30.193Z",
      "createdAt": "2026-05-15T09:31:30.193Z",
      "role": "workflow:owner",
      "workflowId": "GJPU3hGOCQMqcK3u",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}