backups/gqCykMSEe8inkei7_Update ledger from Expense report and send to Slac.json
{
  "updatedAt": "2026-05-15T09:34:33.465Z",
  "createdAt": "2026-05-15T09:34:33.465Z",
  "id": "gqCykMSEe8inkei7",
  "name": "Update ledger from Expense report and send to Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-expense-report",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        129100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-ledger-from-expense-report-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "5f4cc1d1-6263-420e-9203-9704a705df29"
    },
    {
      "id": "fetch-expense-report",
      "name": "Fetch data from Expense report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        129100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/expense-report",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        129100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-129100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        129100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Expense report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Expense report": {
      "main": [
        {
          "node": "Send to Slack",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8159f9f3-ef1f-402e-b7d9-a04baf630cda",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:33.465Z",
      "createdAt": "2026-05-15T09:34:33.465Z",
      "role": "workflow:owner",
      "workflowId": "gqCykMSEe8inkei7",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}