backups/grxZ05P4hdkR639d_Classify action items from Zoom and send to Salesf.json
{
  "updatedAt": "2026-05-15T09:31:33.515Z",
  "createdAt": "2026-05-15T09:31:33.515Z",
  "id": "grxZ05P4hdkR639d",
  "name": "Classify action items from Zoom and send to Salesforce",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-zoom",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        5200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-action-items-from-zoom-and-send-to-salesforce",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "dcc68bb0-5c14-44dc-8ab3-b92ad15e273a"
    },
    {
      "id": "fetch-zoom",
      "name": "Fetch data from Zoom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        5200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zoom",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-classify-action-items",
      "name": "AI: Classify Action Items",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        5200
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: classify action items"
      }
    },
    {
      "id": "send-salesforce",
      "name": "Send to Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        5200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/salesforce",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-5200",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        5200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zoom": {
      "main": [
        {
          "node": "AI: Classify Action Items",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Classify Action Items": {
      "main": [
        [
          {
            "node": "AI: Classify Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Salesforce": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0c374946-9b42-4a22-8060-cad34bdedf29",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:33.515Z",
      "createdAt": "2026-05-15T09:31:33.515Z",
      "role": "workflow:owner",
      "workflowId": "grxZ05P4hdkR639d",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}