backups/iB0OExIoxmv80giL_Initiate approval from Vendor application and send.json
{
  "updatedAt": "2026-05-15T09:32:51.803Z",
  "createdAt": "2026-05-15T09:32:51.803Z",
  "id": "iB0OExIoxmv80giL",
  "name": "Initiate approval from Vendor application and send to SharePoint",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-vendor-application",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        168600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "initiate-approval-from-vendor-application-and-send-to-sharepoint",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "330c898a-842f-460a-bd51-57dab14deb42"
    },
    {
      "id": "fetch-vendor-application",
      "name": "Fetch data from Vendor application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        168600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/vendor-application",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-sharepoint",
      "name": "Send to SharePoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        168600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/sharepoint",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-168600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        168600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Vendor application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Vendor application": {
      "main": [
        {
          "node": "Send to SharePoint",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to SharePoint": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9fbe2ef3-5979-4874-a458-3dd1820bbf5e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:51.803Z",
      "createdAt": "2026-05-15T09:32:51.803Z",
      "role": "workflow:owner",
      "workflowId": "iB0OExIoxmv80giL",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}