backups/iD3lVW3YTkMqPH2p_Generate shipping label from WooCommerce price cha.json
{
  "updatedAt": "2026-05-15T09:32:44.301Z",
  "createdAt": "2026-05-15T09:32:44.301Z",
  "id": "iD3lVW3YTkMqPH2p",
  "name": "Generate shipping label from WooCommerce price change and send to Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-woocommerce-price-change",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        179700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-shipping-label-from-woocommerce-price-change-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "0693c34a-0442-4603-ba85-3b663f22814a"
    },
    {
      "id": "fetch-woocommerce-price-change",
      "name": "Fetch data from WooCommerce price change",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        179700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/woocommerce-price-change",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        179700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-179700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        179700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from WooCommerce price change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from WooCommerce price change": {
      "main": [
        {
          "node": "Send to Slack",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d7684d19-90eb-40ad-8983-432122c12194",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:44.301Z",
      "createdAt": "2026-05-15T09:32:44.301Z",
      "role": "workflow:owner",
      "workflowId": "iD3lVW3YTkMqPH2p",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}