backups/IGWCDoBDyL6uSM3u_Generate report from External API and send to Data.json
{
  "updatedAt": "2026-05-15T09:32:42.319Z",
  "createdAt": "2026-05-15T09:32:42.319Z",
  "id": "IGWCDoBDyL6uSM3u",
  "name": "Generate report from External API and send to Data warehouse",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-external-api",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        197900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-report-from-external-api-and-send-to-data-warehouse",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "a1b97e98-6fa2-4f19-89fe-0c8fae94cbaf"
    },
    {
      "id": "fetch-external-api",
      "name": "Fetch data from External API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        197900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/external-api",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-data-warehouse",
      "name": "Send to Data warehouse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        197900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/data-warehouse",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-197900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        197900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from External API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from External API": {
      "main": [
        {
          "node": "Send to Data warehouse",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Data warehouse": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "27c0808e-c043-4a03-93a1-fa938c4e93ea",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:42.319Z",
      "createdAt": "2026-05-15T09:32:42.319Z",
      "role": "workflow:owner",
      "workflowId": "IGWCDoBDyL6uSM3u",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}