backups/JO1IiePVEfQENFa6_Update candidate database from Resume email and se.json
{
  "updatedAt": "2026-05-15T09:34:23.871Z",
  "createdAt": "2026-05-15T09:34:23.871Z",
  "id": "JO1IiePVEfQENFa6",
  "name": "Update candidate database from Resume email and send to Airtable",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-resume-email",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        101900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-candidate-database-from-resume-email-and-send-to-airtable",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "eafd9564-4bf1-44cb-94af-dcfc21dffb4c"
    },
    {
      "id": "fetch-resume-email",
      "name": "Fetch data from Resume email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        101900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/resume-email",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-airtable",
      "name": "Send to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        101900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/airtable",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-101900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        101900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Resume email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Resume email": {
      "main": [
        {
          "node": "Send to Airtable",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Airtable": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "58406d98-6f03-489b-932e-14a464d63beb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:23.871Z",
      "createdAt": "2026-05-15T09:34:23.871Z",
      "role": "workflow:owner",
      "workflowId": "JO1IiePVEfQENFa6",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}