backups/LeM9qB6DgF59izBM_Monitor stuck tasks in Mondaycom with automated Sl.json
{
  "updatedAt": "2026-05-13T23:29:57.709Z",
  "createdAt": "2026-05-13T23:29:57.709Z",
  "id": "LeM9qB6DgF59izBM",
  "name": "Monitor stuck tasks in Monday.com with automated Slack alerts",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "707b9db8-69f2-4a58-862d-0d9c093cb680",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        688
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "88b6a4cd-e99a-4447-ac58-db0727da256c",
      "name": "Get many items1",
      "type": "n8n-nodes-base.mondayCom",
      "position": [
        528,
        688
      ],
      "parameters": {
        "boardId": "9865886546",
        "groupId": "new_group29179",
        "resource": "boardItem",
        "operation": "getAll"
      },
      "credentials": {
        "mondayComApi": {
          "id": "credential-id",
          "name": "mondayComApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9d3a2919-a806-4cb9-9139-e1694ab01822",
      "name": "Sticky Note64",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        48
      ],
      "parameters": {
        "color": 7,
        "width": 1488,
        "height": 928,
        "content": "# 🚨 Monday.com “Stuck” Items → Slack Alerts (n8n)\n\nThis workflow checks a Monday.com board/group for items with **Status = \"Stuck\"** and sends a Slack alert (e.g., to a user or channel). Great for nudging owners on blocked work without manual chasing.\n\n-"
      },
      "typeVersion": 1
    },
    {
      "id": "b11bdbb2-1a48-4ee9-b1a8-5c3734c442c2",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        48
      ],
      "parameters": {
        "width": 400,
        "height": 928,
        "content": "\n## ⚙️ Setup Instructions\n\n### 1️⃣ Connect Monday.com Node\n1. In **Monday.com** → go to your **Admin → API**  \n   - Copy your **Personal API Token**  \n   - Docs: [Generate Monday API Token](https://developer.monday.com/api-reference/docs/authentication)  \n2. In **n8n** → **Credentials → New → Monday.com API**  \n   - Paste your token and save.  \n3. Open the **Get many items** node → choose your credential → set your **Board ID** and **Group ID** (these must match where your items live).\n\n### 2️⃣ Connect Slack API\n1. Create an app → <https://api.slack.com/apps>  \n2. **OAuth & Permissions** → add scopes:  \n   - `chat:write` (send messages)  \n   - `channels:read`, `groups:read`, `users:read` (to look up channels and users)  \n3. **Install** the app to your workspace → copy the **Bot User OAuth Token**  \n4. In **n8n** → **Credentials → New → Slack OAuth2 API** → paste token and save  \n5. In the **Slack** node (“Alert Team”), select your Slack credential and pick a **user** or **channel**.\n\n\n\n\n## 📬 Contact\nNeed help mapping custom columns or routing alerts by owner?\n\n📧 **robert@ynteractive.com**  \n🔗 **[Robert Breen](https://www.linkedin.com/in/robert-breen-29429625/)**  \n🌐 **[ynteractive.com](https://ynteractive.com)**\n"
      },
      "typeVersion": 1
    },
    {
      "id": "56e805b7-3f81-434a-af8e-6852109e20ad",
      "name": "Set Columns",
      "type": "n8n-nodes-base.set",
      "position": [
        832,
        304
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "1aa1b62d-d066-41ab-b2e6-91237d4c5980",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "f705bdab-3675-4a36-a072-ed9516f9f228",
              "name": "Status",
              "type": "string",
              "value": "={{ $json.column_values[1].text }}"
            },
            {
              "id": "e23d72c7-f8d1-4751-98d9-63c7842cced6",
              "name": "Due Date",
              "type": "string",
              "value": "={{ $json.column_values[2].value }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "4cf7ebcf-d677-47c6-a8f8-ae119a2ea23d",
      "name": "Filter for Stuck Items",
      "type": "n8n-nodes-base.filter",
      "position": [
        1024,
        544
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0b2cfc79-9a33-4f42-b097-7a4bd4c2e885",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Stuck"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "e652a71f-fd4b-4c38-9505-64eb3e0ac259",
      "name": "Alert Team",
      "type": "n8n-nodes-base.slack",
      "position": [
        1376,
        736
      ],
      "webhookId": "f1024a4f-9adb-4923-9bb5-fc9b14c44c3d",
      "parameters": {
        "text": "={{ $json.name }} task is stuck",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "yourid"
        },
        "select": "user",
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "credential-id",
          "name": "slackOAuth2Api Credential"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "5c3f083f-d7ee-4087-887b-5d1c6e686c84",
      "name": "Sticky Note68",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        336
      ],
      "parameters": {
        "color": 3,
        "width": 256,
        "height": 480,
        "content": "### 2️⃣ Connect Monday.com Node\n1. In **Monday.com** → go to your **Admin → API**  \n   - Copy your **Personal API Token**  \n   - Docs: [Generate Monday API Token](https://developer.monday.com/api-reference/docs/authentication)  \n2. In **n8n** → **Credentials → New → Monday.com API**  \n   - Paste your token and save.  \n3. Open the **Create Monday Task** node → choose your credential → select your **Board ID** and **Group ID**.  \n"
      },
      "typeVersion": 1
    },
    {
      "id": "1dccbd39-f5bd-4e2d-be09-357d64f6ce1a",
      "name": "Sticky Note69",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        256
      ],
      "parameters": {
        "color": 3,
        "width": 224,
        "height": 640,
        "content": "### 2️⃣ Connect Slack API\n1. Create an app → <https://api.slack.com/apps>  \n2. **OAuth & Permissions** → add scopes:  \n   - `chat:write` (send messages)  \n   - `channels:read`, `groups:read`, `users:read` (to look up channels and users)  \n3. **Install** the app to your workspace → copy the **Bot User OAuth Token**  \n4. In **n8n** → **Credentials → New → Slack OAuth2 API** → paste token and save  \n5. In the **Slack** node (“Alert Team”), select your Slack credential and pick a **user** or **channel**.\n"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set Columns": {
      "main": [
        [
          {
            "node": "Filter for Stuck Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items1": {
      "main": [
        [
          {
            "node": "Set Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Stuck Items": {
      "main": [
        [
          {
            "node": "Alert Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "10fcdba1-88cb-42a6-9419-219ca1b37398",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-13T23:29:57.709Z",
      "createdAt": "2026-05-13T23:29:57.709Z",
      "role": "workflow:owner",
      "workflowId": "LeM9qB6DgF59izBM",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}