backups/mrCDBdvISbO6t3BZ_Run test suite from GitHub issue and send to Jira.json
{
  "updatedAt": "2026-05-15T09:33:20.864Z",
  "createdAt": "2026-05-15T09:33:20.864Z",
  "id": "mrCDBdvISbO6t3BZ",
  "name": "Run test suite from GitHub issue and send to Jira",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-github-issue",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        138100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "run-test-suite-from-github-issue-and-send-to-jira",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "bfdd4c4e-ed71-4d02-89ef-d9deff536176"
    },
    {
      "id": "fetch-github-issue",
      "name": "Fetch data from GitHub issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        138100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/github-issue",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-jira",
      "name": "Send to Jira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        138100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/jira",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-138100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        138100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from GitHub issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from GitHub issue": {
      "main": [
        {
          "node": "Send to Jira",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Jira": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d565056e-fe95-4e89-9edc-1657bc5d73b0",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:20.864Z",
      "createdAt": "2026-05-15T09:33:20.864Z",
      "role": "workflow:owner",
      "workflowId": "mrCDBdvISbO6t3BZ",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}