backups/N8y1UxxUUXkT98Yx_Create postmortem from Jenkins build and send to N.json
{
  "updatedAt": "2026-05-15T09:31:56.592Z",
  "createdAt": "2026-05-15T09:31:56.592Z",
  "id": "N8y1UxxUUXkT98Yx",
  "name": "Create postmortem from Jenkins build and send to Notion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-jenkins-build",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        148500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-postmortem-from-jenkins-build-and-send-to-notion",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "39a8c190-ac86-4ddd-a904-f8c622ecb7a7"
    },
    {
      "id": "fetch-jenkins-build",
      "name": "Fetch data from Jenkins build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        148500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/jenkins-build",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-notion",
      "name": "Send to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        148500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/notion",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-148500",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        148500
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Jenkins build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Jenkins build": {
      "main": [
        {
          "node": "Send to Notion",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Notion": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b4e697e1-aa9e-4940-8a27-1a6ed38042d2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:56.592Z",
      "createdAt": "2026-05-15T09:31:56.592Z",
      "role": "workflow:owner",
      "workflowId": "N8y1UxxUUXkT98Yx",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}