backups/OJZtHilAvDYkJ6DP_Create social media posts from Campaign brief and .json
{
  "updatedAt": "2026-05-15T09:32:02.733Z",
  "createdAt": "2026-05-15T09:32:02.733Z",
  "id": "OJZtHilAvDYkJ6DP",
  "name": "Create social media posts from Campaign brief and send to Instagram",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-campaign-brief",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        69700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-social-media-posts-from-campaign-brief-and-send-to-instagram",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "0fb40e20-5f71-481a-ab1a-d89aaaadbb2b"
    },
    {
      "id": "fetch-campaign-brief",
      "name": "Fetch data from Campaign brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        69700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/campaign-brief",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-instagram",
      "name": "Send to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        69700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/instagram",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-69700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        69700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Campaign brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Campaign brief": {
      "main": [
        {
          "node": "Send to Instagram",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Instagram": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f2c16859-1987-4ef2-898c-adf53b13c2be",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:02.733Z",
      "createdAt": "2026-05-15T09:32:02.733Z",
      "role": "workflow:owner",
      "workflowId": "OJZtHilAvDYkJ6DP",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}