backups/P2Pf45LDwpFEc9tU_Run test suite from Jenkins build and send to Slac.json
{
  "updatedAt": "2026-05-15T09:33:21.932Z",
  "createdAt": "2026-05-15T09:33:21.932Z",
  "id": "P2Pf45LDwpFEc9tU",
  "name": "Run test suite from Jenkins build and send to Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-jenkins-build",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        148800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "run-test-suite-from-jenkins-build-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "0dbfb9fb-195f-465d-9670-448bf9f9882d"
    },
    {
      "id": "fetch-jenkins-build",
      "name": "Fetch data from Jenkins build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        148800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/jenkins-build",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        148800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-148800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        148800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Jenkins build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Jenkins build": {
      "main": [
        {
          "node": "Send to Slack",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ee19beaf-a165-42e0-b06b-c19d997afe34",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:21.932Z",
      "createdAt": "2026-05-15T09:33:21.932Z",
      "role": "workflow:owner",
      "workflowId": "P2Pf45LDwpFEc9tU",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}