backups/R6fOKFDnFFGRnc1Y_Generate blog outline from Zoom and send to Trello.json
{
  "updatedAt": "2026-05-15T09:32:26.218Z",
  "createdAt": "2026-05-15T09:32:26.218Z",
  "id": "R6fOKFDnFFGRnc1Y",
  "name": "Generate blog outline from Zoom and send to Trello card",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-zoom",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        6900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-blog-outline-from-zoom-and-send-to-trello-card",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "f765a6ca-8fcf-48e9-bd3b-ba5bcad6147f"
    },
    {
      "id": "fetch-zoom",
      "name": "Fetch data from Zoom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        6900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zoom",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-blog-outline",
      "name": "AI: Generate Blog Outline",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        6900
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate blog outline"
      }
    },
    {
      "id": "send-trello-card",
      "name": "Send to Trello card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        6900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/trello-card",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-6900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        6900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zoom": {
      "main": [
        {
          "node": "AI: Generate Blog Outline",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Blog Outline": {
      "main": [
        [
          {
            "node": "AI: Generate Blog Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Trello card": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "98a13e23-ed46-4665-96fe-809fe73fd69a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:26.218Z",
      "createdAt": "2026-05-15T09:32:26.218Z",
      "role": "workflow:owner",
      "workflowId": "R6fOKFDnFFGRnc1Y",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}