backups/Rk6hPKnpUWwZdV68_Run background check from LinkedIn application and.json
{
  "updatedAt": "2026-05-15T09:33:18.974Z",
  "createdAt": "2026-05-15T09:33:18.974Z",
  "id": "Rk6hPKnpUWwZdV68",
  "name": "Run background check from LinkedIn application and send to BambooHR",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-linkedin-application",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        117800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "run-background-check-from-linkedin-application-and-send-to-bamboohr",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "578f6933-7691-414f-9df0-5cdbf7b57d9d"
    },
    {
      "id": "fetch-linkedin-application",
      "name": "Fetch data from LinkedIn application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        117800
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/linkedin-application",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-bamboohr",
      "name": "Send to BambooHR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        117800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/bamboohr",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-117800",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        117800
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from LinkedIn application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from LinkedIn application": {
      "main": [
        {
          "node": "Send to BambooHR",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to BambooHR": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0be550d6-54ec-45da-840d-e366eda87ed8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:18.974Z",
      "createdAt": "2026-05-15T09:33:18.974Z",
      "role": "workflow:owner",
      "workflowId": "Rk6hPKnpUWwZdV68",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}