backups/rXfq0CyjwRzbvJYz_Update status from Trello card and send to GitHub.json
{
  "updatedAt": "2026-05-15T09:34:37.556Z",
  "createdAt": "2026-05-15T09:34:37.556Z",
  "id": "rXfq0CyjwRzbvJYz",
  "name": "Update status from Trello card and send to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-trello-card",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        153700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-status-from-trello-card-and-send-to-github",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "1001ec22-bb5f-40bd-aa07-d383e0b404ce"
    },
    {
      "id": "fetch-trello-card",
      "name": "Fetch data from Trello card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        153700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/trello-card",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-github",
      "name": "Send to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        153700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/github",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-153700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        153700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Trello card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Trello card": {
      "main": [
        {
          "node": "Send to GitHub",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to GitHub": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f19a0662-bd46-4ac1-9799-5d176ff14fe7",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:37.556Z",
      "createdAt": "2026-05-15T09:34:37.556Z",
      "role": "workflow:owner",
      "workflowId": "rXfq0CyjwRzbvJYz",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}