backups/snLMghCU55FdjmAU_Create postmortem from Datadog alert and send to E.json
{
  "updatedAt": "2026-05-15T09:31:54.948Z",
  "createdAt": "2026-05-15T09:31:54.948Z",
  "id": "snLMghCU55FdjmAU",
  "name": "Create postmortem from Datadog alert and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-datadog-alert",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        141200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-postmortem-from-datadog-alert-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "2bf1e885-957c-4e48-be73-c660a32b34d0"
    },
    {
      "id": "fetch-datadog-alert",
      "name": "Fetch data from Datadog alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        141200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/datadog-alert",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        141200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-141200",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        141200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Datadog alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Datadog alert": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d43d9a19-23f0-44bb-9bd7-e5e8a7fd78b5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:54.948Z",
      "createdAt": "2026-05-15T09:31:54.948Z",
      "role": "workflow:owner",
      "workflowId": "snLMghCU55FdjmAU",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}