backups/t96L6N5e2oNVHm4q_Update ticket status from Zendesk ticket and send .json
{
  "updatedAt": "2026-05-15T09:34:40.873Z",
  "createdAt": "2026-05-15T09:34:40.873Z",
  "id": "t96L6N5e2oNVHm4q",
  "name": "Update ticket status from Zendesk ticket and send to CRM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-zendesk-ticket",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        82100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-ticket-status-from-zendesk-ticket-and-send-to-crm",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "108b1dde-0dc2-4dcc-9028-db2fd44bc198"
    },
    {
      "id": "fetch-zendesk-ticket",
      "name": "Fetch data from Zendesk ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        82100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/zendesk-ticket",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-crm",
      "name": "Send to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        82100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/crm",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-82100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        82100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Zendesk ticket": {
      "main": [
        {
          "node": "Send to CRM",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to CRM": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ce960763-c006-430c-9ff8-cc3aea4e17cc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:40.873Z",
      "createdAt": "2026-05-15T09:34:40.873Z",
      "role": "workflow:owner",
      "workflowId": "t96L6N5e2oNVHm4q",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}