backups/Tb36xjaWU01RiuJi_Generate product description from Google Meet and .json
{
  "updatedAt": "2026-05-15T09:32:39.968Z",
  "createdAt": "2026-05-15T09:32:39.968Z",
  "id": "Tb36xjaWU01RiuJi",
  "name": "Generate product description from Google Meet and send to Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-google-meet",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        18700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-product-description-from-google-meet-and-send-to-google-sheets",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "a550c16b-b4bd-47c3-897b-0e76509ea2a0"
    },
    {
      "id": "fetch-google-meet",
      "name": "Fetch data from Google Meet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        18700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/google-meet",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-generate-product-description",
      "name": "AI: Generate Product Description",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        18700
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: generate product description"
      }
    },
    {
      "id": "send-google-sheets",
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        18700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/google-sheets",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-18700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        18700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Google Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Google Meet": {
      "main": [
        {
          "node": "AI: Generate Product Description",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Generate Product Description": {
      "main": [
        [
          {
            "node": "AI: Generate Product Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "999e6972-6f81-4525-9309-08b6416a193b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:39.968Z",
      "createdAt": "2026-05-15T09:32:39.968Z",
      "role": "workflow:owner",
      "workflowId": "Tb36xjaWU01RiuJi",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}