backups/TIENf31jkYCgZ3SA_Update lead status from Google Ads and send to Pip.json
{
  "updatedAt": "2026-05-15T09:34:31.280Z",
  "createdAt": "2026-05-15T09:34:31.280Z",
  "id": "TIENf31jkYCgZ3SA",
  "name": "Update lead status from Google Ads and send to Pipedrive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-google-ads",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        40700
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-lead-status-from-google-ads-and-send-to-pipedrive",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "acce7410-c6ec-44d5-9fa1-80dcbc03eb0a"
    },
    {
      "id": "fetch-google-ads",
      "name": "Fetch data from Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        40700
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/google-ads",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-pipedrive",
      "name": "Send to Pipedrive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        40700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/pipedrive",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-40700",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        40700
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Google Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Google Ads": {
      "main": [
        {
          "node": "Send to Pipedrive",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Pipedrive": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "79b91ab3-e8e3-4d05-a59a-e1990d13609e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:31.280Z",
      "createdAt": "2026-05-15T09:34:31.280Z",
      "role": "workflow:owner",
      "workflowId": "TIENf31jkYCgZ3SA",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}