backups/Tiq5lXvhH2fCMZFW_Schedule interview from Application form and send .json
{
  "updatedAt": "2026-05-15T09:33:27.592Z",
  "createdAt": "2026-05-15T09:33:27.592Z",
  "id": "Tiq5lXvhH2fCMZFW",
  "name": "Schedule interview from Application form and send to Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-application-form",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        104400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-interview-from-application-form-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "bd5caf91-4285-49b6-a0be-9279b0b8e293"
    },
    {
      "id": "fetch-application-form",
      "name": "Fetch data from Application form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        104400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/application-form",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        104400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-104400",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        104400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Application form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Application form": {
      "main": [
        {
          "node": "Send to Slack",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "84296e12-ef38-4b0b-b253-8fdcf613277a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:27.592Z",
      "createdAt": "2026-05-15T09:33:27.592Z",
      "role": "workflow:owner",
      "workflowId": "Tiq5lXvhH2fCMZFW",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}