backups/TJ8Qps7WKsG4ivhj_Notify team from Asana task and send to Notion.json
{
  "updatedAt": "2026-05-15T09:33:00.765Z",
  "createdAt": "2026-05-15T09:33:00.765Z",
  "id": "TJ8Qps7WKsG4ivhj",
  "name": "Notify team from Asana task and send to Notion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-asana-task",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        151900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "notify-team-from-asana-task-and-send-to-notion",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "cc411c3d-4fee-423e-909b-28e547a7063f"
    },
    {
      "id": "fetch-asana-task",
      "name": "Fetch data from Asana task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        151900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/asana-task",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-notion",
      "name": "Send to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        151900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/notion",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-151900",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        151900
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Asana task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Asana task": {
      "main": [
        {
          "node": "Send to Notion",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Notion": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "17645979-2dd0-4287-8e6f-c77a58ca3a76",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:33:00.765Z",
      "createdAt": "2026-05-15T09:33:00.765Z",
      "role": "workflow:owner",
      "workflowId": "TJ8Qps7WKsG4ivhj",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}