backups/TujXCrGHGXy7rQSD_Classify resume with ai from Job portal and send t.json
{
  "updatedAt": "2026-05-15T09:31:35.490Z",
  "createdAt": "2026-05-15T09:31:35.490Z",
  "id": "TujXCrGHGXy7rQSD",
  "name": "Classify resume with ai from Job portal and send to Slack",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-job-portal",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        111000
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-resume-with-ai-from-job-portal-and-send-to-slack",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "5a49de39-db2b-4e82-b70e-da3430946770"
    },
    {
      "id": "fetch-job-portal",
      "name": "Fetch data from Job portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        111000
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/job-portal",
        "responseFormat": "json"
      }
    },
    {
      "id": "ai-classify-resume-with-ai",
      "name": "AI: Classify Resume With Ai",
      "type": "n8n-nodes-base.openAIApi",
      "typeVersion": 1,
      "position": [
        0,
        111000
      ],
      "parameters": {
        "model": "gpt-4",
        "operation": "complete",
        "prompt": "Perform the following action on the incoming data: classify resume with AI"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        111000
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/slack",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-111000",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        111000
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Job portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Job portal": {
      "main": [
        {
          "node": "AI: Classify Resume With Ai",
          "type": "main",
          "index": 0
        }
      ]
    },
    "AI: Classify Resume With Ai": {
      "main": [
        [
          {
            "node": "AI: Classify Resume With Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "40d3ead1-deb0-4e8e-a9fe-fcfa69c856f5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:35.490Z",
      "createdAt": "2026-05-15T09:31:35.490Z",
      "role": "workflow:owner",
      "workflowId": "TujXCrGHGXy7rQSD",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}