backups/UXtN7D3I92pGrEOr_Update candidate database from Resume email and se.json
{
  "updatedAt": "2026-05-15T09:34:23.964Z",
  "createdAt": "2026-05-15T09:34:23.964Z",
  "id": "UXtN7D3I92pGrEOr",
  "name": "Update candidate database from Resume email and send to BambooHR",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-resume-email",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        102200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-candidate-database-from-resume-email-and-send-to-bamboohr",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "fc180381-5efc-4baf-9072-0b675c0b981a"
    },
    {
      "id": "fetch-resume-email",
      "name": "Fetch data from Resume email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        102200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/resume-email",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-bamboohr",
      "name": "Send to BambooHR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        102200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/bamboohr",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-102200",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        102200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Resume email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Resume email": {
      "main": [
        {
          "node": "Send to BambooHR",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to BambooHR": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "07de23cf-46e5-43cb-8fa6-a2fe21e61c80",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:23.964Z",
      "createdAt": "2026-05-15T09:34:23.964Z",
      "role": "workflow:owner",
      "workflowId": "UXtN7D3I92pGrEOr",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}