backups/VZrrwsIvPxp7GdHW_Generate invoice pdf from Expense report and send .json
{
  "updatedAt": "2026-05-15T09:32:26.702Z",
  "createdAt": "2026-05-15T09:32:26.702Z",
  "id": "VZrrwsIvPxp7GdHW",
  "name": "Generate invoice pdf from Expense report and send to QuickBooks",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-expense-report",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        127500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-invoice-pdf-from-expense-report-and-send-to-quickbooks",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "e022ff0a-7fc4-46d4-a365-ef21cb65a8d2"
    },
    {
      "id": "fetch-expense-report",
      "name": "Fetch data from Expense report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        127500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/expense-report",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-quickbooks",
      "name": "Send to QuickBooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        127500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/quickbooks",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-127500",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        127500
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Expense report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Expense report": {
      "main": [
        {
          "node": "Send to QuickBooks",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to QuickBooks": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "bc3bac38-4cf5-49ca-99fb-0553583dd9b8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:26.702Z",
      "createdAt": "2026-05-15T09:32:26.702Z",
      "role": "workflow:owner",
      "workflowId": "VZrrwsIvPxp7GdHW",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}