backups/YJ7ga6lDfaVtjnsn_Assign to team member from Mondaycom ticket and se.json
{
  "updatedAt": "2026-05-15T09:31:26.237Z",
  "createdAt": "2026-05-15T09:31:26.237Z",
  "id": "YJ7ga6lDfaVtjnsn",
  "name": "Assign to team member from Monday.com ticket and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-monday-com-ticket",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        157600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-to-team-member-from-monday-com-ticket-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "c6d6f404-d525-4c7b-9bc2-5f3c38020e9d"
    },
    {
      "id": "fetch-monday-com-ticket",
      "name": "Fetch data from Monday.com ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        157600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/monday-com-ticket",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        157600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-157600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        157600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Monday.com ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Monday.com ticket": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "58a6b618-738f-49e4-9874-3090b3cce1bf",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:26.237Z",
      "createdAt": "2026-05-15T09:31:26.237Z",
      "role": "workflow:owner",
      "workflowId": "YJ7ga6lDfaVtjnsn",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}