backups/YP8xewA6Pfc3DCee_Update contract registry from Contract document an.json
{
  "updatedAt": "2026-05-15T09:34:24.557Z",
  "createdAt": "2026-05-15T09:34:24.557Z",
  "id": "YP8xewA6Pfc3DCee",
  "name": "Update contract registry from Contract document and send to Compliance DB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-contract-document",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        161100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "update-contract-registry-from-contract-document-and-send-to-compliance-db",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "75788158-3b7d-4370-a0ef-9fa94f2be0af"
    },
    {
      "id": "fetch-contract-document",
      "name": "Fetch data from Contract document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        161100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/contract-document",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-compliance-db",
      "name": "Send to Compliance DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        161100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/compliance-db",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-161100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        161100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Contract document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Contract document": {
      "main": [
        {
          "node": "Send to Compliance DB",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Compliance DB": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3dc312d9-088f-4fd6-b21f-062137a06b7e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:34:24.557Z",
      "createdAt": "2026-05-15T09:34:24.557Z",
      "role": "workflow:owner",
      "workflowId": "YP8xewA6Pfc3DCee",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}