backups/zCIZEsldUbdILG2d_Escalate priority from Intercom chat and send to E.json
{
  "updatedAt": "2026-05-15T09:32:11.526Z",
  "createdAt": "2026-05-15T09:32:11.526Z",
  "id": "zCIZEsldUbdILG2d",
  "name": "Escalate priority from Intercom chat and send to Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-intercom-chat",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        86100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "escalate-priority-from-intercom-chat-and-send-to-email",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "43f007b7-b29f-45b0-8311-64d7b944e28a"
    },
    {
      "id": "fetch-intercom-chat",
      "name": "Fetch data from Intercom chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        86100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/intercom-chat",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-email",
      "name": "Send to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        86100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-86100",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        86100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Intercom chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Intercom chat": {
      "main": [
        {
          "node": "Send to Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Email": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ceaccba7-2223-4ce5-b4e6-128bc79d57d8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:32:11.526Z",
      "createdAt": "2026-05-15T09:32:11.526Z",
      "role": "workflow:owner",
      "workflowId": "zCIZEsldUbdILG2d",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}