backups/zhCCM3UJ5zbFJlqX_Assign to salesperson from Web form and send to Gm.json
{
  "updatedAt": "2026-05-15T09:31:25.227Z",
  "createdAt": "2026-05-15T09:31:25.227Z",
  "id": "zhCCM3UJ5zbFJlqX",
  "name": "Assign to salesperson from Web form and send to Gmail",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-web-form",
      "name": "Incoming Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        51600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-to-salesperson-from-web-form-and-send-to-gmail",
        "responseCode": 200,
        "responseMode": "onReceived"
      },
      "webhookId": "a3c1b545-e005-4011-a412-e5145b5a92d3"
    },
    {
      "id": "fetch-web-form",
      "name": "Fetch data from Web form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        51600
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/web-form",
        "responseFormat": "json"
      }
    },
    {
      "id": "send-gmail",
      "name": "Send to Gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        51600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/gmail",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "error-handler-600-51600",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        600,
        51600
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-alerts",
        "text": "={{ $json.get('error_message', 'An error occurred') }}"
      }
    }
  ],
  "connections": {
    "Incoming Trigger": {
      "main": [
        [
          {
            "node": "Fetch data from Web form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch data from Web form": {
      "main": [
        {
          "node": "Send to Gmail",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send to Gmail": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "203dd0ff-4f60-4853-9d5b-5e068255142f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-15T09:31:25.227Z",
      "createdAt": "2026-05-15T09:31:25.227Z",
      "role": "workflow:owner",
      "workflowId": "zhCCM3UJ5zbFJlqX",
      "projectId": "HkDrNvwtLnIGtiR1"
    }
  ],
  "activeVersion": null,
  "tags": []
}