n8n_templates/n8n_workflows/11301.json
{
  "workflow": {
    "id": 11301,
    "name": "Curate & translate news from RSS using Google Gemini, Sheets, and Slack",
    "views": 147,
    "recentViews": 0,
    "totalViews": 147,
    "createdAt": "2025-11-27T14:40:32.680Z",
    "description": "## 🤖 Automated Multi-lingual News Curator & Archiver\n\n**Overview**\nThis workflow automates news monitoring by fetching RSS feeds, rewriting content using AI, translating it (EN/ZH/KO), and archiving it.\n\n**Who is this for?**\nContent Curators, Localization Teams, and Travel Bloggers.\n\n**How it works**\n1. **Fetch & Filter:** Pulls NHK RSS and filters for keywords (e.g., \"Tokyo\").\n2. **AI Processing:** Google Gemini rewrites articles, extracts locations, and translates text.\n3. **Archive & Notify:** Saves structured data to Google Sheets and alerts Slack.\n\n**Setup Requirements**\n1. **Credentials:** Google Gemini, Google Sheets, Slack.\n2. **Google Sheet:** Create headers: `title`, `summary`, `location`, `en`, `zh`, `ko`, `url`.\n3. **Slack:** Configure Channel IDs.\n\n**Customization**\n- **RSS Read:** Change feed URL.\n- **If Node:** Update filter keywords.\n- **AI Agent:** Adjust system prompts for tone.\n\n\n## 1. Fetch & Filter\nRuns on a schedule to fetch the latest RSS items. Filters articles based on specific keywords (e.g., \"Tokyo\" or \"Season\") before processing.\n\n\n## 2. AI Analysis & Parsing\nUses Google Gemini to rewrite the news, extract specific locations, and translate content. The Code node cleans the JSON output for the database.\n\n\n## 3. Archive & Notify\nAppends the structured data to Google Sheets and sends a formatted notification to Slack (or alerts if an article was skipped).\n\n\n\n**Output Example (JSON)**\nThe translation agent outputs data in this format:\n```json\n{\n  \"en\": \"Tokyo Tower is...\",\n  \"zh\": \"东京塔是...\",\n  \"ko\": \"도쿄 타워는...\"\n}",
    "workflow": {
      "meta": {
        "instanceId": "944cba43668653ea775b64ebba581287f64104a1f18606c8b1f8684392313630",
        "templateCredsSetupCompleted": true
      },
      "nodes": [
        {
          "id": "067f33a0-084d-40e1-9945-6c24e130373f",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            272,
            224
          ],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 20
                }
              ]
            }
          },
          "typeVersion": 1.2
        },
        {
          "id": "8f9bf5fb-4cb6-4eac-aeb5-17d614f3adef",
          "name": "Gemini Chat Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
          "position": [
            960,
            448
          ],
          "parameters": {
            "options": {}
          },
          "credentials": {
            "googlePalmApi": {
              "id": "credential-id",
              "name": "googlePalmApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "5c2af69f-019d-4d3b-938d-d8360d79b6da",
          "name": "Gemini Chat Model1",
          "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
          "position": [
            1392,
            448
          ],
          "parameters": {
            "options": {}
          },
          "credentials": {
            "googlePalmApi": {
              "id": "credential-id",
              "name": "googlePalmApi Credential"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "a96bc82a-e977-4ec5-8cda-a5b3584e522f",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -256,
            64
          ],
          "parameters": {
            "width": 480,
            "height": 624,
            "content": "## 🤖 Curate & Translate News (Gemini, Sheets, Slack)\n\n**Overview**\nThis workflow automates news monitoring by fetching RSS feeds, rewriting content using **Google Gemini**, translating it (EN/ZH/KO), and archiving it to **Google Sheets** and **Slack**.\n\n**Who is this for?**\nContent Curators, Localization Teams, and Travel Bloggers.\n\n**How it works**\n1. **Fetch & Filter:** Pulls NHK RSS and filters for keywords (e.g., \"Tokyo\") using `stringContains`.\n2. **AI Processing:** Google Gemini rewrites articles, extracts locations, and translates text.\n3. **Archive & Notify:** Saves structured data to Google Sheets and alerts Slack.\n\n**Output Example (JSON)**\nThe translation agent outputs data in this format:\n```json\n{\n  \"en\": \"Tokyo Tower is...\",\n  \"zh\": \"东京塔是...\",\n  \"ko\": \"도쿄 타워는...\"\n}"
          },
          "typeVersion": 1
        },
        {
          "id": "947e125b-abd8-4f3d-b5ae-161bd58d1067",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            272,
            48
          ],
          "parameters": {
            "color": 7,
            "width": 528,
            "height": 112,
            "content": "## 1. Fetch & Filter\nRuns on a schedule to fetch the latest RSS items. Filters articles based on specific keywords (e.g., \"Tokyo\" or \"Season\") before processing."
          },
          "typeVersion": 1
        },
        {
          "id": "607d6a03-d2ef-4365-914d-88472da668aa",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            848,
            48
          ],
          "parameters": {
            "color": 7,
            "width": 912,
            "height": 112,
            "content": "## 2. AI Analysis & Parsing\nUses Google Gemini to rewrite the news, extract specific locations, and translate content. The Code node cleans the JSON output for the database."
          },
          "typeVersion": 1
        },
        {
          "id": "6e2663ca-e66a-411f-9609-a7c56d1082d2",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1792,
            48
          ],
          "parameters": {
            "color": 7,
            "width": 352,
            "height": 112,
            "content": "## 3. Archive & Notify\nAppends the structured data to Google Sheets and sends a formatted notification to Slack (or alerts if an article was skipped)."
          },
          "typeVersion": 1
        },
        {
          "id": "79e42b18-6cd3-4027-99ec-f75d93134efd",
          "name": "Fetch RSS Feed",
          "type": "n8n-nodes-base.rssFeedRead",
          "position": [
            416,
            224
          ],
          "parameters": {
            "url": "https://www.nhk.or.jp/rss/news/cat3.xml",
            "options": {}
          },
          "typeVersion": 1.2
        },
        {
          "id": "e29aa0c3-120a-41db-ae56-683507df8865",
          "name": "Limit Items",
          "type": "n8n-nodes-base.limit",
          "position": [
            560,
            224
          ],
          "parameters": {},
          "typeVersion": 1
        },
        {
          "id": "8b5532e5-2eeb-4227-a130-6d007ab2541e",
          "name": "Filter Keywords",
          "type": "n8n-nodes-base.if",
          "position": [
            704,
            224
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "options": {
                "version": 2,
                "leftValue": "",
                "caseSensitive": true,
                "typeValidation": "strict"
              },
              "combinator": "or",
              "conditions": [
                {
                  "id": "44db82f2-d3e6-4dff-abd9-1354de619c92",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  },
                  "leftValue": "={{ $json.title }}",
                  "rightValue": "="
                },
                {
                  "id": "da07218a-c947-4987-b997-1af4a0a4ea3c",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  },
                  "leftValue": "={{ $json.title }}",
                  "rightValue": "tokyo"
                },
                {
                  "id": "b90223ef-e96d-477b-b6cf-3cc0f1e4dcfb",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  },
                  "leftValue": "={{ $json.title }}",
                  "rightValue": "season"
                }
              ]
            }
          },
          "typeVersion": 2.2
        },
        {
          "id": "d3fc7b38-c89b-43eb-a9b9-b8ddfb6dcfd9",
          "name": "Rewrite Article",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            848,
            208
          ],
          "parameters": {
            "text": "={{ $json.content }}",
            "options": {
              "systemMessage": "=You are an experienced journalist. Understand the content...\n以下の「元の記事」の内容を正確に理解し、その情報を元にして、次の構成に従った新しい解説記事を作成してください。\n記事全体のトーンは、中立的かつ客観的で、専門知識がない人にも分かりやすい言葉で書いてください。\n\n# 構成\n・【タイトル】記事の内容がすぐに分かり、読者の興味を引くようなタイトル\n・【導入】このニュースが「なぜ今、重要なのか」を1〜2文で簡潔に説明\n・【要点サマリー】元の記事の最も重要なポイントを3つの箇条書きでリストアップ\n・【背景と深掘り解説】この出来事が起きた背景や、関連する重要なキーワードについて、初心者にも理解できるように丁寧に解説\n・【今後の展望】このニュースが、今後どのような影響を与えうるか、考えられるいくつかの可能性を提示\n・【まとめ】記事全体の結論と、読者へのメッセージ\n\n\n"
            },
            "promptType": "define"
          },
          "typeVersion": 3
        },
        {
          "id": "097a85cb-590f-42d7-8e5f-a35815e8ece6",
          "name": "Extract Location",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            1120,
            208
          ],
          "parameters": {
            "text": "={{ $('Limit Items').item.json.content }}\n\n最も重要だと思われる地名または施設名を一つだけ抽出し、その名称のみを出力してください。余計な説明は一切不要です。",
            "options": {
              "systemMessage": "From the text provided, extract only the single most important location name...\n\n例：清水寺、東京スカイツリー、道頓堀"
            },
            "promptType": "define"
          },
          "typeVersion": 3
        },
        {
          "id": "4b7e11eb-4c2b-4d5f-842c-884209635f3d",
          "name": "Translate Content",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            1392,
            208
          ],
          "parameters": {
            "text": "=={{ $('Rewrite Article').item.json.output }}",
            "options": {
              "systemMessage": "You are a professional translator. Translate the input Japanese article into English, Chinese, and Korean...\n\n1. 英語 (English)\n2. 中国語 簡体字 (Chinese Simplified)\n3. 韓国語 (Korean)\n\n重要：\n必ず以下のJSON形式のデータのみを出力してください。余計な挨拶やMarkdown記号（```jsonなど）は一切書かないでください。\n\n{\n  \"en\": \"ここに英語の翻訳\",\n  \"zh\": \"ここに中国語の翻訳\",\n  \"ko\": \"ここに韓国語の翻訳\"\n}"
            },
            "promptType": "define"
          },
          "typeVersion": 3
        },
        {
          "id": "36bf6334-2cff-4c58-bb5f-6f84a5b90a3c",
          "name": "Format Data",
          "type": "n8n-nodes-base.code",
          "position": [
            1664,
            208
          ],
          "parameters": {
            "jsCode": "// -------------------------------------------------------\n// 【設定・準備】\n// -------------------------------------------------------\n// 前段のノードからデータを一括取得します。\n// ★重要：元データとして「Limit Items」ではなく「Filter Keywords」を使います。\n// これにより、除外された記事による順序ズレ（Index Misalignment）を完全に防げます。\nconst filteredItems = $('Filter Keywords').all();   // フィルタ通過済みの元記事データ\nconst aiAgentItems  = $('Rewrite Article').all();   // AI: 記事書き換えの結果\nconst locationItems = $('Extract Location').all();  // AI: 場所抽出の結果\n\n// -------------------------------------------------------\n// 【メイン処理】\n// 現在の入力（Translate Content）をループ処理します\n// -------------------------------------------------------\nreturn $input.all().map((item, index) => {\n  try {\n    // 1. インデックスを使った安全なデータの紐付け\n    // ---------------------------------------------------\n    // すべての処理は「Filter Keywords」を通過したリストに対して順に行われているため、\n    // index番号は完全に一致します。\n    const originalData = filteredItems[index].json;\n    \n    // AI抽出データがない場合のフォールバック（念のため）\n    const locationName = locationItems[index]?.json?.output || \"N/A\";\n    const rewriteTextRaw = aiAgentItems[index]?.json?.output || \"\";\n\n\n    // 2. 翻訳データ（JSON）のパース処理\n    // ---------------------------------------------------\n    // Translate Contentノードからの出力（翻訳JSON）を取得\n    const translationRaw = item.json.output || \"{}\";\n    \n    // デフォルト値の設定\n    let translations = { en: \"Translation Error\", zh: \"Translation Error\", ko: \"Translation Error\" };\n    \n    try {\n      // 生成AIが Markdown記号（```json ... ```）を付けてくることがあるため削除します\n      const cleanJsonStr = translationRaw.replace(/```json|```/g, '').trim();\n      translations = JSON.parse(cleanJsonStr);\n    } catch (e) {\n      console.log(\"Translation JSON Parse Error: \", e);\n      // エラー時はそのままテキストを入れるなど、柔軟に対応可能です\n    }\n\n\n    // 3. 記事本文の整形（Markdown記号の削除）\n    // ---------------------------------------------------\n    // Google SheetsやSlackで見やすくするため、Markdownの見出し(#)や強調(*)を削除\n    const cleanBody = rewriteTextRaw\n      .replace(/[#*]/g, '')     // # と * を削除\n      .replace(/\\n{3,}/g, '\\n\\n') // 3つ以上の連続改行を2つに詰める\n      .trim();\n\n\n    // 4. 要約（サマリー）の抽出\n    // ---------------------------------------------------\n    // 「Rewrite Article」が生成した【要点サマリー】の部分だけを抜き出します\n    let summary = \"\";\n    const summaryMatch = rewriteTextRaw.match(/(?:【要点サマリー】|【Key Points Summary】|【Summary】)([\\s\\S]*?)(?=【|$)/);\n    \n    if (summaryMatch && summaryMatch[1]) {\n      // 箇条書き記号や余計な改行を整理して、1行の文章にします\n      summary = summaryMatch[1]\n        .replace(/[・-]/g, '')\n        .replace(/\\n/g, ' ')\n        .trim();\n    } else {\n      // 万が一抽出できない場合は、記事の冒頭120文字を使用\n      summary = cleanBody.substring(0, 120) + \"...\";\n    }\n\n\n    // 5. データの結合と出力\n    // ---------------------------------------------------\n    // 扱いやすい1つのJSONオブジェクトにまとめます\n    return {\n      json: {\n        title:          originalData.title,    // 元記事のタイトル (RSS由来)\n        url:            originalData.link,     // 元記事のURL (RSS由来)\n        location:       locationName,          // 抽出した場所\n        short_summary:  summary,               // 生成した短い要約\n        original_clean: cleanBody,             // 読みやすく整形した日本語記事全文\n        \n        // 翻訳データを展開\n        en: translations.en,\n        zh: translations.zh,\n        ko: translations.ko\n      },\n      // ノード実行のペアリング情報を維持\n      pairedItem: item.pairedItem\n    };\n\n  } catch (error) {\n    // エラーハンドリング: 何か失敗してもワークフローを止めずエラーを出力\n    return {\n      json: {\n        error: \"Data Formatting Failed\",\n        message: error.message,\n        original_title: filteredItems[index]?.json?.title || \"Unknown\"\n      }\n    };\n  }\n});"
          },
          "typeVersion": 2
        },
        {
          "id": "7c29f7c5-cced-4c96-99e8-f41d85bc5747",
          "name": "Save to Google Sheets",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            1808,
            208
          ],
          "parameters": {
            "columns": {
              "value": {
                "en": "={{ $('Format Data').item.json.en }}",
                "ko": "={{ $('Format Data').item.json.ko }}",
                "zh": "={{ $('Format Data').item.json.zh }}",
                "url": "={{ $json.url }}",
                "title": "={{ $json.title }}",
                "summary": "={{ $json.short_summary }}",
                "location": "={{ $('Extract Location').item.json.output }}"
              },
              "schema": [
                {
                  "id": "title",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "title",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "summary",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "summary",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "location",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "location",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "en",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "en",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "zh",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "zh",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "ko",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "ko",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "url",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "url",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "url"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "appendOrUpdate",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": "gid=0",
              "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_DXvPVxXHbrbD834kNpg8-s/edit#gid=0",
              "cachedResultName": "シート1"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1Kud0dU9SAOjmwfFiU4MH_DXvPVxXHbrbD834kNpg8-s",
              "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_DXvPVxXHbrbD834kNpg8-s/edit?usp=drivesdk",
              "cachedResultName": "ニュース自動翻訳ログ"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "credential-id",
              "name": "googleSheetsOAuth2Api Credential"
            }
          },
          "typeVersion": 4.7
        },
        {
          "id": "c39053d2-33c8-4712-8a9a-bca8d7e45c54",
          "name": "Notify Slack",
          "type": "n8n-nodes-base.slack",
          "position": [
            1984,
            208
          ],
          "webhookId": "93da4af9-be46-4e3a-9363-43202eccb38e",
          "parameters": {
            "select": "channel",
            "channelId": {
              "__rl": true,
              "mode": "list",
              "value": "C09RFVAC7FD",
              "cachedResultName": "all-yuki"
            },
            "attachments": [
              {
                "text": "={{ $('Translate Content').item.json.output }}",
                "title": "={{ $('Extract Location').item.json.output }}",
                "footer": "=Original Article: {{ $('Limit Items').item.json.link }}",
                "title_link": "={{ $('Limit Items').item.json.link }}"
              },
              {
                "text": "=*English:* {{ $('Format Data').item.json.en }}  *Chinese:* {{ $('Format Data').item.json.zh }}  *Korean:* {{ $('Format Data').item.json.ko }}"
              }
            ],
            "messageType": "attachment",
            "otherOptions": {
              "includeLinkToWorkflow": false
            },
            "authentication": "oAuth2"
          },
          "credentials": {
            "slackOAuth2Api": {
              "id": "credential-id",
              "name": "slackOAuth2Api Credential"
            }
          },
          "typeVersion": 2.3
        },
        {
          "id": "7a81257e-d854-41a6-ac57-e4b20a5d599a",
          "name": "Notify Skipped",
          "type": "n8n-nodes-base.slack",
          "position": [
            704,
            448
          ],
          "webhookId": "93da4af9-be46-4e3a-9363-43202eccb38e",
          "parameters": {
            "text": "==[Skipped Notification]\nThe article \"{{ $json.title }}\" did not match the keywords (Tokyo or Season), so summarization was skipped.",
            "select": "channel",
            "channelId": {
              "__rl": true,
              "mode": "list",
              "value": "C09RFVAC7FD",
              "cachedResultName": "all-yuki"
            },
            "otherOptions": {
              "includeLinkToWorkflow": false
            },
            "authentication": "oAuth2"
          },
          "credentials": {
            "slackOAuth2Api": {
              "id": "credential-id",
              "name": "slackOAuth2Api Credential"
            }
          },
          "typeVersion": 2.3
        }
      ],
      "pinData": {},
      "connections": {
        "Format Data": {
          "main": [
            [
              {
                "node": "Save to Google Sheets",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Limit Items": {
          "main": [
            [
              {
                "node": "Filter Keywords",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Fetch RSS Feed": {
          "main": [
            [
              {
                "node": "Limit Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filter Keywords": {
          "main": [
            [
              {
                "node": "Rewrite Article",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Notify Skipped",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Rewrite Article": {
          "main": [
            [
              {
                "node": "Extract Location",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract Location": {
          "main": [
            [
              {
                "node": "Translate Content",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Fetch RSS Feed",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "Rewrite Article",
                "type": "ai_languageModel",
                "index": 0
              },
              {
                "node": "Extract Location",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Translate Content": {
          "main": [
            [
              {
                "node": "Format Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Chat Model1": {
          "ai_languageModel": [
            [
              {
                "node": "Translate Content",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Save to Google Sheets": {
          "main": [
            [
              {
                "node": "Notify Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 17,
      "nodeTypes": {
        "n8n-nodes-base.if": {
          "count": 1
        },
        "n8n-nodes-base.code": {
          "count": 1
        },
        "n8n-nodes-base.limit": {
          "count": 1
        },
        "n8n-nodes-base.slack": {
          "count": 2
        },
        "n8n-nodes-base.stickyNote": {
          "count": 4
        },
        "n8n-nodes-base.rssFeedRead": {
          "count": 1
        },
        "n8n-nodes-base.googleSheets": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 3
        },
        "n8n-nodes-base.scheduleTrigger": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
          "count": 2
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "ueharayuuki",
      "username": "ueharayuuki1012",
      "bio": "",
      "verified": true,
      "links": [],
      "avatar": "https://gravatar.com/avatar/5c8e0044e745f34de2f54501785a1e41d0de4cfe00e0370797e2596d62b5bd97?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 18,
        "icon": "file:googleSheets.svg",
        "name": "n8n-nodes-base.googleSheets",
        "codex": {
          "data": {
            "alias": [
              "CSV",
              "Sheet",
              "Spreadsheet",
              "GS"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                  "icon": "❤️",
                  "label": "Love at first sight: Ricardo’s n8n journey"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                  "icon": "⏲",
                  "label": "Creating triggers for n8n workflows using polling"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                  "icon": "🍔",
                  "label": "How Honest Burgers Use Automation to Save $100k per year"
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Data & Storage",
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\",\"output\"]",
        "defaults": {
          "name": "Google Sheets"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
        },
        "displayName": "Google Sheets",
        "typeVersion": 5,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          },
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 20,
        "icon": "fa:map-signs",
        "name": "n8n-nodes-base.if",
        "codex": {
          "data": {
            "alias": [
              "Router",
              "Filter",
              "Condition",
              "Logic",
              "Boolean",
              "Branch"
            ],
            "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                  "icon": "🤬",
                  "label": "Create a toxic language detector for Telegram in 4 step"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                  "icon": "🏷️",
                  "label": "How to automatically manage contributions to open-source projects"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "If",
          "color": "#408000"
        },
        "iconData": {
          "icon": "map-signs",
          "type": "icon"
        },
        "displayName": "If",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 37,
        "icon": "fa:rss",
        "name": "n8n-nodes-base.rssFeedRead",
        "codex": {
          "data": {
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/why-i-chose-n8n-over-zapier-in-2020/",
                  "icon": "😍",
                  "label": "Why I chose n8n over Zapier in 2020"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.rssfeedread/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "RSS Read",
          "color": "#b02020"
        },
        "iconData": {
          "icon": "rss",
          "type": "icon"
        },
        "displayName": "RSS Read",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 40,
        "icon": "file:slack.svg",
        "name": "n8n-nodes-base.slack",
        "codex": {
          "data": {
            "alias": [
              "human",
              "form",
              "wait",
              "hitl",
              "approval"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                  "icon": "👏",
                  "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
                }
              ]
            },
            "categories": [
              "Communication",
              "HITL"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "HITL": [
                "Human in the Loop"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "Slack"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
        },
        "displayName": "Slack",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 28,
            "name": "HITL"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 834,
        "icon": "file:code.svg",
        "name": "n8n-nodes-base.code",
        "codex": {
          "data": {
            "alias": [
              "cpde",
              "Javascript",
              "JS",
              "Python",
              "Script",
              "Custom Code",
              "Function"
            ],
            "details": "The Code node allows you to execute JavaScript in your workflow.",
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Code"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Code",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 839,
        "icon": "fa:clock",
        "name": "n8n-nodes-base.scheduleTrigger",
        "codex": {
          "data": {
            "alias": [
              "Time",
              "Scheduler",
              "Polling",
              "Cron",
              "Interval"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\",\"schedule\"]",
        "defaults": {
          "name": "Schedule Trigger",
          "color": "#31C49F"
        },
        "iconData": {
          "icon": "clock",
          "type": "icon"
        },
        "displayName": "Schedule Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1237,
        "icon": "file:limit.svg",
        "name": "n8n-nodes-base.limit",
        "codex": {
          "data": {
            "alias": [
              "Limit",
              "Remove",
              "Slice",
              "Transform",
              "Array",
              "List",
              "Item"
            ],
            "details": "",
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.limit/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Limit"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjMkZCNjdDIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcGF0aD0idXJsKCNhKSIgY2xpcC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNTEyIDQ1OGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC02OGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDY4YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bS0xNDAgMGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC02OGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDY4YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bS0xNDAgMGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC02OGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDY4YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bS0xNDAgMGMwLTYuNjI3LTUuMzczLTEyLTEyLTEySDEyYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjI0YzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNjhjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptMTUyLTIyMmMtNi42MjcgMC0xMi01LjM3My0xMi0xMlYzMGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDI0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTk0YzAgNi42MjctNS4zNzMgMTItMTIgMTJ6Ii8+PHBhdGggZD0iTTE0OS41NzcgMTQ2Ljk4MmM5LjM5OC05LjM0NiAyNC41OTQtOS4zMDQgMzMuOTQxLjA5NUwyNTYgMjE5Ljk2NGw3Mi40ODItNzIuODg3YzkuMzQ3LTkuMzk5IDI0LjU0My05LjQ0MSAzMy45NDEtLjA5NXM5LjQ0MSAyNC41NDMuMDk1IDMzLjk0MWwtODkuNSA5MGEyNCAyNCAwIDAgMS0zNC4wMzYgMGwtODkuNS05MGMtOS4zNDYtOS4zOTgtOS4zMDQtMjQuNTk0LjA5NS0zMy45NDFNMCAzNTBjMC02LjYyNyA1LjM3My0xMiAxMi0xMmg0ODhjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYyNGMwIDYuNjI3LTUuMzczIDEyLTEyIDEySDEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEyeiIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoNTEydjUxMkgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg=="
        },
        "displayName": "Limit",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1262,
        "icon": "file:google.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Google Gemini Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
        },
        "displayName": "Google Gemini Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 31,
        "name": "Content Creation"
      },
      {
        "id": 51,
        "name": "Multimodal AI"
      }
    ],
    "image": []
  }
}