n8n_templates/n8n_workflows/13434.json
{
  "workflow": {
    "id": 13434,
    "name": "Generate LinkedIn posts with Gemini, Olostep, Hugging Face and Google Sheets",
    "views": 0,
    "recentViews": 0,
    "totalViews": 0,
    "createdAt": "2026-02-16T14:43:37.405Z",
    "description": "## AI LinkedIn Post Generator: From Topic to Image & Text\n\nTransform your content queue into a high-engagement LinkedIn presence with zero manual effort. The **AI LinkedIn Post Generator** workflow automates every step of the content creation process. It pulls a topic from your backlog, conducts real-time web research for the latest trends and statistics, drafts a professional post, and even generates a custom AI image to accompany it.\n\nBy combining **Gemini 2.5 Flash**, **Olostep**, and **Hugging Face** image models, this workflow ensures your social media activity remains consistent, relevant, and visually striking.\n\n---\n\n### Who’s it for?\n*   **Solopreneurs & Creators:** Maintain a high-quality LinkedIn presence while focusing on your core business.\n*   **Content Marketers:** Quickly generate drafts and visuals for a volume-heavy social media strategy.\n*   **Personal Brands:** Stay relevant by automatically incorporating real-time news and statistics into your posts.\n*   **Social Media Agencies:** Scale client content production by automating the research and drafting phases.\n\n### How it works / What it does\n1.  **Trigger:** Manual execution or scheduled trigger kicks off the process.\n2.  **Topic Retrieval:** Fetches the next topic marked as \"To-Do\" from a **Google Sheet**.\n3.  **Web Research:** **Olostep** scans the web for key insights, recent trends, and supporting statistics related to the topic.\n4.  **Parallel Generation:**\n    *   **Post Writer:** Gemini drafts an engaging, mobile-optimized LinkedIn post with emojis, hashtags, and a clear Call to Action (CTA).\n    *   **Image Prompt Generator:** A second AI agent crafts a detailed visual prompt based on the research findings.\n5.  **Visual Creation:** The workflow calls a **Hugging Face** model (FLUX) to generate a unique image for the post.\n6.  **Finalization:** The post text and image URL are saved back to the **Google Sheet**, the status is updated to \"Done,\" and you receive a **Gmail** notification that your content is ready.\n\n### How to set up\n1.  **Credentials:** Add your API keys for **Google Gemini (PaLM)**, **Olostep**, **Hugging Face**, **Google Sheets**, and **Gmail**.\n2.  **Google Sheet Setup:** Create a sheet with columns for `topic`, `status`, `post`, and `image`. Populate the `topic` column and set the initial `status` to \"To-Do\".\n3.  **Notification:** Update the **Gmail** node with your email address to receive completion alerts.\n\n### Requirements\n*   **Google Gemini API:** For research synthesis and professional copywriting.\n*   **Olostep API:** To gather real-time data and \"current\" context.\n*   **Hugging Face API:** (Or any preferred image model API) for visual generation.\n*   **Google Workspace (OAuth2):** For sheet management and email alerts.\n\n### How to customize the workflow\n*   **Visual Style:** Modify the \"Image Prompt Generator\" system message to enforce a specific brand aesthetic (e.g., \"minimalist 3D,\" \"professional photography,\" or \"flat illustration\").\n*   **Post Tone:** Adjust the \"Post Writer\" agent to match your specific voice, whether it's \"brutally honest,\" \"playful,\" or \"academic.\"\n*   **Multi-Post Generation:** Update the logic to process multiple \"To-Do\" rows in a single run for weekly content batching.",
    "workflow": {
      "id": "dIiF7H-c4a4DoV_BYbqbP",
      "meta": {
        "instanceId": "6f81894254c2852bfe28b07fc1f6652b03481706dd714d6609cc88e8521956d2",
        "templateCredsSetupCompleted": true
      },
      "name": "LinkedIn posts generator",
      "tags": [
        {
          "id": "xRJNyiRIpAsEzL8y",
          "name": "Olostep",
          "createdAt": "2026-01-31T11:17:46.807Z",
          "updatedAt": "2026-01-31T11:17:46.807Z"
        }
      ],
      "nodes": [
        {
          "id": "255db91c-2beb-4cff-a5b8-fd8f7f6ed71a",
          "name": "When clicking ‘Execute workflow’",
          "type": "n8n-nodes-base.manualTrigger",
          "position": [
            0,
            16
          ],
          "parameters": {},
          "typeVersion": 1
        },
        {
          "id": "4823840d-61d6-4b5a-b707-c4045c8280d7",
          "name": "get topic",
          "type": "n8n-nodes-base.googleSheets",
          "maxTries": 2,
          "position": [
            224,
            16
          ],
          "parameters": {
            "options": {
              "returnFirstMatch": true
            },
            "filtersUI": {
              "values": [
                {
                  "lookupValue": "To-Do",
                  "lookupColumn": "status"
                }
              ]
            },
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": "gid=0",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kdh2MssIaPMMNTC7HcIZyWhT72s3PrZsozGVfq8P6fM/edit#gid=0",
              "cachedResultName": "topics"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1Kdh2MssIaPMMNTC7HcIZyWhT72s3PrZsozGVfq8P6fM",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kdh2MssIaPMMNTC7HcIZyWhT72s3PrZsozGVfq8P6fM/edit?usp=drivesdk",
              "cachedResultName": "LinkedIn Post (n8n)"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "credential-id",
              "name": "Google Sheets account"
            }
          },
          "retryOnFail": true,
          "typeVersion": 4.7
        },
        {
          "id": "dfe534ad-d04d-4d6c-b431-e3760eea3aac",
          "name": "Create answer",
          "type": "n8n-nodes-olostep.olostepScrape",
          "maxTries": 2,
          "position": [
            448,
            16
          ],
          "parameters": {
            "task": "=Search the web for {{ $json.topic }}",
            "resource": "answer",
            "json_schema": "{\"current_information\": \"\", \"key_insights\": \"\", \"trends\": \"\", \"statistics\": \"\", \"relevant_context\": \"relevant context that would be valuable for creating an engaging LinkedIn post\"}"
          },
          "credentials": {
            "olostepScrapeApi": {
              "id": "credential-id",
              "name": "Olostep Scrape account"
            }
          },
          "retryOnFail": true,
          "typeVersion": 1
        },
        {
          "id": "1326f32a-7f0e-409b-8102-6597b1463bfe",
          "name": "Google Gemini Chat Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
          "position": [
            768,
            144
          ],
          "parameters": {
            "options": {}
          },
          "credentials": {
            "googlePalmApi": {
              "id": "credential-id",
              "name": "Gemini(PaLM) Api"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "e313182a-5d9e-471f-a34e-42f178af8e2c",
          "name": "Update row in sheet",
          "type": "n8n-nodes-base.googleSheets",
          "maxTries": 2,
          "position": [
            1648,
            0
          ],
          "parameters": {
            "columns": {
              "value": {
                "post": "={{ $json.output }}",
                "image": "={{ $('image URL').first().json.data.first().url }}",
                "topic": "={{ $('get topic').first().json.topic }}",
                "status": "Done"
              },
              "schema": [
                {
                  "id": "topic",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "topic",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "status",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "status",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "post",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "post",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "image",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "image",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "row_number",
                  "type": "number",
                  "display": true,
                  "removed": true,
                  "readOnly": true,
                  "required": false,
                  "displayName": "row_number",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "topic"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "update",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": "gid=0",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kdh2MssIaPMMNTC7HcIZyWhT72s3PrZsozGVfq8P6fM/edit#gid=0",
              "cachedResultName": "topics"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1Kdh2MssIaPMMNTC7HcIZyWhT72s3PrZsozGVfq8P6fM",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kdh2MssIaPMMNTC7HcIZyWhT72s3PrZsozGVfq8P6fM/edit?usp=drivesdk",
              "cachedResultName": "LinkedIn Post (n8n)"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "credential-id",
              "name": "Google Sheets account"
            }
          },
          "retryOnFail": true,
          "typeVersion": 4.7
        },
        {
          "id": "d8f9d01d-89f7-4256-ba03-2e9b1e58b8f5",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -48,
            -112
          ],
          "parameters": {
            "color": 7,
            "width": 400,
            "height": 288,
            "content": "## Get Topic\nFetches the next topic marked as \"To-Do\" from Google Sheets."
          },
          "typeVersion": 1
        },
        {
          "id": "06cc4ef7-de28-44fe-b184-ebf8c819338d",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            352,
            -112
          ],
          "parameters": {
            "color": 7,
            "width": 288,
            "height": 288,
            "content": "## Web Research (Olostep)\nSearches the web and extracts insights, trends, and statistics."
          },
          "typeVersion": 1
        },
        {
          "id": "d5fa73ef-70ce-4321-891f-e1629ab8c778",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            960,
            48
          ],
          "parameters": {
            "color": 7,
            "width": 352,
            "height": 336,
            "content": "## AI Post Writer\nCreates a professional, engaging LinkedIn post with hashtags and CTA."
          },
          "typeVersion": 1
        },
        {
          "id": "1ee51a9a-a35e-422a-a0c9-c0cf2955e524",
          "name": "Sticky Note4",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            640,
            -224
          ],
          "parameters": {
            "color": 7,
            "width": 320,
            "height": 272,
            "content": "## Image Prompt Generator\nGenerates a short prompt for LinkedIn post visuals."
          },
          "typeVersion": 1
        },
        {
          "id": "66786c92-0ffb-416f-9c15-d5a65ff341e6",
          "name": "Sticky Note5",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            960,
            -224
          ],
          "parameters": {
            "color": 7,
            "width": 640,
            "height": 272,
            "content": "## Image Generation\nUses a hugging face model to generate a post image from the prompt."
          },
          "typeVersion": 1
        },
        {
          "id": "7917771d-b21b-4bbd-ab5e-9aeb5bdb1928",
          "name": "Sticky Note6",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1600,
            -96
          ],
          "parameters": {
            "color": 7,
            "width": 464,
            "height": 304,
            "content": "## Update Sheet\nSaves the post and marks the topic as \"Done\", then sends a notification on your email."
          },
          "typeVersion": 1
        },
        {
          "id": "02faf4b1-d8cc-4e5d-97f7-1e4dccbc172b",
          "name": "Send a message",
          "type": "n8n-nodes-base.gmail",
          "position": [
            1872,
            0
          ],
          "webhookId": "f1c72390-2c9d-4c86-a3a3-62c348dca5a8",
          "parameters": {
            "sendTo": "user@example.com",
            "message": "=Hey Name!\n\nA new LinkedIn post about {{ $('get topic').first().json.topic }} has been generated.\n\nYou can check it out here: https://yourSheetURL.example",
            "options": {},
            "subject": "New LinkedIn Post Generated...",
            "emailType": "text"
          },
          "credentials": {
            "gmailOAuth2": {
              "id": "credential-id",
              "name": "Gmail cred"
            }
          },
          "typeVersion": 2.2
        },
        {
          "id": "f140f7b3-52de-429f-992e-6d11b3c6fbfa",
          "name": "Sticky Note7",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            992,
            -368
          ],
          "parameters": {
            "color": 3,
            "width": 496,
            "height": 112,
            "content": "## Warning\nSometimes the hugging face gives a null data or even take too long and don't get back with any. In that case consider trying another model or any image generation model that you prefer."
          },
          "typeVersion": 1
        },
        {
          "id": "fc7ee1b2-bb16-4a01-a7d7-d3167901fcb2",
          "name": "Image Prompt Generator",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            672,
            -112
          ],
          "parameters": {
            "text": "=Topic: {{ $('get topic').item.json.topic }}\nCurrent Information: {{ $json.result.current_information }}\nKey Insights: {{ $json.result.key_insights }}\nTrends: {{ $json.result.trends }}\nStatistics: {{ $json.result.statistics }}\nRelevant Context: {{ $json.result.relevant_context }}",
            "options": {
              "systemMessage": "=# System Role  \nYou are an expert image prompt generator for LinkedIn content creation specializing in transforming incoming articles into a prompt for an image generator.  \n\n# Task Specification  \n- Using the provided article, craft a prompt for LinkedIn post image.\n- Do Not output anything but the image prompt. No pre text or post text, No summaries, just the image prompt ready for the generation."
            },
            "promptType": "define"
          },
          "typeVersion": 3.1
        },
        {
          "id": "fa4498e0-60f0-4d28-8f55-1451d13da224",
          "name": "Post Writer",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            992,
            208
          ],
          "parameters": {
            "text": "=Topic: {{ $('get topic').item.json.topic }}\nCurrent Information: {{ $json.result.current_information }}\nKey Insights: {{ $json.result.key_insights }}\nTrends: {{ $json.result.trends }}\nStatistics: {{ $json.result.statistics }}\nRelevant Context: {{ $json.result.relevant_context }}",
            "options": {
              "systemMessage": "=# System Role  \nYou are an expert LinkedIn content creator specializing in transforming incoming articles into highly engaging posts.  \n\n# Task Specification  \nUsing the provided article, craft a LinkedIn post that is:  \n1. Written in a concise, engaging tone optimized for readability on mobile.  \n2. Tailored specifically to the target audience’s interests, needs, and professional goals.  \n3. Plain text only, with frequent line breaks for clarity.  \n4. Incorporates 1-2 emojis to enhance personality and appeal.  \n5. Provides actionable value and includes a clear call to action.  \n6. Contains 3-5 relevant hashtags.  \n7. Outputs only the post text—nothing else.  \n\n# Specifics and Context  \nThe post should succinctly capture the core message of the article while resonating with the audience’s values. It must sound human and conversational, staying under 3,000 characters.  \n\n# Examples  \n## Example 1  \n**Input:** Article about productivity tips for managers.  \n**Output:**  \n🔥 Time to Supercharge Your Productivity!  \n\nManagers, are your days packed with back-to-back meetings and endless to-do lists? Here’s the secret to working smarter, not harder: [insight summary].  \n\n👉 Top tips to stay ahead:  \n1. Prioritize tasks using the Eisenhower Matrix.  \n2. Block time on your calendar for deep focus.  \n3. Delegate effectively to your team.  \n\nWhat strategies help you lead and manage your time effectively? Share your thoughts below!  \n\n#Leadership #TimeManagement #Productivity  \n\n# Reminders  \n- Ensure the content aligns with the target audience's interests and challenges.  \n- Always include 1-2 emojis and a call to action.  \n- Use plain text and only output the post content.  \n"
            },
            "promptType": "define"
          },
          "typeVersion": 3.1
        },
        {
          "id": "d03bd29e-82b2-4a74-9f79-2d4e80d2f65a",
          "name": "generate image",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            1008,
            -112
          ],
          "parameters": {
            "url": "https://black-forest-labs-flux-2-klein-9b.hf.space/gradio_api/call/generate",
            "method": "POST",
            "options": {},
            "jsonBody": "={\n  \"data\": [\n    \"{{ $json.output }}\",\n    [],\n    \"Distilled (4 steps)\",\n    0,\n    true,\n    1024,\n    1024,\n    4,\n    1,\n    false\n  ]\n}",
            "sendBody": true,
            "specifyBody": "json"
          },
          "typeVersion": 4.3
        },
        {
          "id": "84cec2c7-1a13-451a-ab2a-a89c716b0354",
          "name": "get image",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            1232,
            -112
          ],
          "parameters": {
            "url": "=https://black-forest-labs-flux-2-klein-9b.hf.space/gradio_api/call/generate/{{ $json.event_id }}",
            "options": {}
          },
          "typeVersion": 4.3
        },
        {
          "id": "7131a0cc-09e2-4ee5-9f28-cbe9a1ee1166",
          "name": "image URL",
          "type": "n8n-nodes-base.set",
          "position": [
            1424,
            -112
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "ba2a4f75-12c4-4bff-8375-47345d97d5be",
                  "name": "data",
                  "type": "array",
                  "value": "={{ $json.data.slice(22) }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "a72408da-db22-4cb2-90d0-b6b9a62eab39",
          "name": "Sticky Note8",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            720,
            48
          ],
          "parameters": {
            "color": 7,
            "width": 176,
            "height": 224,
            "content": "## AI model"
          },
          "typeVersion": 1
        },
        {
          "id": "e3e10b91-aa4a-4f98-9a3d-966e805856ba",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -864,
            -400
          ],
          "parameters": {
            "width": 736,
            "height": 1072,
            "content": "## AI LinkedIn Post Generator: From Topic to Image & Text\n\nTransform your content queue into a high-engagement LinkedIn presence with zero manual effort. The **AI LinkedIn Post Generator** workflow automates every step of the content creation process. It pulls a topic from your backlog, conducts real-time web research for the latest trends and statistics, drafts a professional post, and even generates a custom AI image to accompany it.\n\nBy combining **Gemini 2.5 Flash**, **Olostep**, and **Hugging Face** image models, this workflow ensures your social media activity remains consistent, relevant, and visually striking.\n\n---\n\n### Who’s it for?\n*   **Solopreneurs & Creators:** Maintain a high-quality LinkedIn presence while focusing on your core business.\n*   **Content Marketers:** Quickly generate drafts and visuals for a volume-heavy social media strategy.\n*   **Personal Brands:** Stay relevant by automatically incorporating real-time news and statistics into your posts.\n*   **Social Media Agencies:** Scale client content production by automating the research and drafting phases.\n\n### How it works / What it does\n1.  **Trigger:** Manual execution or scheduled trigger kicks off the process.\n2.  **Topic Retrieval:** Fetches the next topic marked as \"To-Do\" from a **Google Sheet**.\n3.  **Web Research:** **Olostep** scans the web for key insights, recent trends, and supporting statistics related to the topic.\n4.  **Parallel Generation:**\n    *   **Post Writer:** Gemini drafts an engaging, mobile-optimized LinkedIn post with emojis, hashtags, and a clear Call to Action (CTA).\n    *   **Image Prompt Generator:** A second AI agent crafts a detailed visual prompt based on the research findings.\n5.  **Visual Creation:** The workflow calls a **Hugging Face** model (FLUX) to generate a unique image for the post.\n6.  **Finalization:** The post text and image URL are saved back to the **Google Sheet**, the status is updated to \"Done,\" and you receive a **Gmail** notification that your content is ready.\n\n### How to set up\n1.  **Credentials:** Add your API keys for **Google Gemini (PaLM)**, **Olostep**, **Hugging Face**, **Google Sheets**, and **Gmail**.\n2.  **Google Sheet Setup:** Create a sheet with columns for `topic`, `status`, `post`, and `image`. Populate the `topic` column and set the initial `status` to \"To-Do\".\n3.  **Notification:** Update the **Gmail** node with your email address to receive completion alerts.\n\n### Requirements\n*   **Google Gemini API:** For research synthesis and professional copywriting.\n*   **Olostep API:** To gather real-time data and \"current\" context.\n*   **Hugging Face API:** (Or any preferred image model API) for visual generation.\n*   **Google Workspace (OAuth2):** For sheet management and email alerts.\n\n### How to customize the workflow\n*   **Visual Style:** Modify the \"Image Prompt Generator\" system message to enforce a specific brand aesthetic (e.g., \"minimalist 3D,\" \"professional photography,\" or \"flat illustration\").\n*   **Post Tone:** Adjust the \"Post Writer\" agent to match your specific voice, whether it's \"brutally honest,\" \"playful,\" or \"academic.\"\n*   **Multi-Post Generation:** Update the logic to process multiple \"To-Do\" rows in a single run for weekly content batching."
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "binaryMode": "separate",
        "availableInMCP": false,
        "executionOrder": "v1"
      },
      "versionId": "093470f7-a6e2-4adf-b61b-2f92823ab5dc",
      "connections": {
        "get image": {
          "main": [
            [
              {
                "node": "image URL",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "get topic": {
          "main": [
            [
              {
                "node": "Create answer",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "image URL": {
          "main": [
            [
              {
                "node": "Update row in sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Post Writer": {
          "main": [
            [
              {
                "node": "Update row in sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create answer": {
          "main": [
            [
              {
                "node": "Post Writer",
                "type": "main",
                "index": 0
              },
              {
                "node": "Image Prompt Generator",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "generate image": {
          "main": [
            [
              {
                "node": "get image",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update row in sheet": {
          "main": [
            [
              {
                "node": "Send a message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Image Prompt Generator": {
          "main": [
            [
              {
                "node": "generate image",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Google Gemini Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "Post Writer",
                "type": "ai_languageModel",
                "index": 0
              },
              {
                "node": "Image Prompt Generator",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "get topic",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 20,
      "nodeTypes": {
        "n8n-nodes-base.set": {
          "count": 1
        },
        "n8n-nodes-base.gmail": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 9
        },
        "n8n-nodes-base.httpRequest": {
          "count": 2
        },
        "n8n-nodes-base.googleSheets": {
          "count": 2
        },
        "n8n-nodes-base.manualTrigger": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 2
        },
        "n8n-nodes-olostep.olostepScrape": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
          "count": 1
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "Yasser Sami",
      "username": "yassersami",
      "bio": "AI Automation Architect building smart workflows with n8n. I help businesses save time by automating processes, connecting apps, and integrating AI. My focus is on creating efficient, reliable systems that streamline operations and reduce manual work.",
      "verified": true,
      "links": [
        "https://www.linkedin.com/in/yasser-sami-425333228/"
      ],
      "avatar": "https://gravatar.com/avatar/e11e6f15924e7365111150fae6284b733d02fae20e05bd32cc026eee22d6a975?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 18,
        "icon": "file:googleSheets.svg",
        "name": "n8n-nodes-base.googleSheets",
        "codex": {
          "data": {
            "alias": [
              "CSV",
              "Sheet",
              "Spreadsheet",
              "GS"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                  "icon": "❤️",
                  "label": "Love at first sight: Ricardo’s n8n journey"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                  "icon": "⏲",
                  "label": "Creating triggers for n8n workflows using polling"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                  "icon": "🍔",
                  "label": "How Honest Burgers Use Automation to Save $100k per year"
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Data & Storage",
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\",\"output\"]",
        "defaults": {
          "name": "Google Sheets"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
        },
        "displayName": "Google Sheets",
        "typeVersion": 5,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          },
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 19,
        "icon": "file:httprequest.svg",
        "name": "n8n-nodes-base.httpRequest",
        "codex": {
          "data": {
            "alias": [
              "API",
              "Request",
              "URL",
              "Build",
              "cURL"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                  "icon": "🎨",
                  "label": "Automate Designs with Bannerbear and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                  "icon": "🧰",
                  "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "HTTP Request",
          "color": "#0004F5"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "HTTP Request",
        "typeVersion": 4,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 38,
        "icon": "fa:pen",
        "name": "n8n-nodes-base.set",
        "codex": {
          "data": {
            "alias": [
              "Set",
              "JS",
              "JSON",
              "Filter",
              "Transform",
              "Map"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                  "icon": "📡",
                  "label": "Database Monitoring and Alerting with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Edit Fields"
        },
        "iconData": {
          "icon": "pen",
          "type": "icon"
        },
        "displayName": "Edit Fields (Set)",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 356,
        "icon": "file:gmail.svg",
        "name": "n8n-nodes-base.gmail",
        "codex": {
          "data": {
            "alias": [
              "email",
              "human",
              "form",
              "wait",
              "hitl",
              "approval"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                  "icon": "💪",
                  "label": "Using Automation to Boost Productivity in the Workplace"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Communication",
              "HITL"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "HITL": [
                "Human in the Loop"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Gmail"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
        },
        "displayName": "Gmail",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 28,
            "name": "HITL"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 838,
        "icon": "fa:mouse-pointer",
        "name": "n8n-nodes-base.manualTrigger",
        "codex": {
          "data": {
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "When clicking ‘Execute workflow’",
          "color": "#909298"
        },
        "iconData": {
          "icon": "mouse-pointer",
          "type": "icon"
        },
        "displayName": "Manual Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1262,
        "icon": "file:google.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Google Gemini Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
        },
        "displayName": "Google Gemini Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 31,
        "name": "Content Creation"
      },
      {
        "id": 51,
        "name": "Multimodal AI"
      }
    ],
    "image": []
  }
}