n8n_templates/n8n_workflows/14017.json
{
  "workflow": {
    "id": 14017,
    "name": "Discover YouTube channels from keywords and save leads to Google Sheets",
    "views": 20,
    "recentViews": 1,
    "totalViews": 20,
    "createdAt": "2026-03-13T03:23:28.808Z",
    "description": "This workflow automatically searches YouTube Data API for videos related to specific keywords, extracts channel data, filters channels based on performance metrics, and saves the results into Google Sheets.\n\nInstead of manually searching YouTube and copying channel information, this workflow continuously discovers creators and builds a structured lead database. It is designed for marketers, researchers, agencies, and teams that need a reliable way to identify relevant YouTube channels in specific niches.\n\n## Who this workflow is for\n\nThis workflow is ideal for:\n- influencer marketing teams discovering creators in specific niches\n- agencies building creator outreach lists\n- researchers analyzing YouTube channel growth and trends\n- startups building creator marketplaces\n- marketers identifying potential partners or competitors\n\nIf you regularly search YouTube for channels related to certain topics, this workflow automates that process.\n\n## How it works\n\nThe workflow runs on a schedule in n8n and processes keywords one at a time to avoid API limits.\n\nThe automation performs the following steps:\n\n1. A Schedule Trigger starts the workflow automatically.\n2. Keywords are retrieved from a keyword list.\n3. The workflow selects one keyword to process.\n4. The YouTube Data API searches for videos related to that keyword.\n5. Channel IDs are extracted from the video results.\n6. Channel statistics such as subscriber count, total views, and video count are retrieved.\n7. Channels are filtered using configurable thresholds.\n8. Qualified channels are saved or updated in Google Sheets.\n\n\nThe result is an automatically growing database of YouTube channels relevant to your target topics.\n\n## Requirements\n\nTo use this workflow you will need:\n- An instance of n8n\n- A YouTube Data API credential\n- A Google Sheets account\n- A spreadsheet where discovered channels will be stored\n\n\n## How to set up\n\n1. Create credentials for the YouTube Data API in n8n.\n2. Connect your Google Sheets account.\n3. Add your target keywords to your keyword source.\n4. Configure filtering rules such as minimum subscribers or views.\n5. Set the schedule trigger interval.\n\nOnce configured, the workflow will run automatically and populate your spreadsheet with newly discovered YouTube channels.\n\n## How to customize the workflow\n\nYou can adapt the workflow depending on your use case.\n\nCommon customizations include:\n\n- adjusting subscriber or view thresholds\n- discovering smaller emerging creators by lowering filters\n- adding additional data fields such as video titles or upload dates\n- integrating notification tools like Slack when new channels are discovered\n- exporting results to databases or CRM systems\n- \nBecause the workflow is built in n8n, you can easily extend it to support more advanced creator discovery or automation pipelines.\n",
    "workflow": {
      "id": "rY2bWvlcFRgy34Py",
      "meta": {
        "instanceId": "f58e4f0a3282e3b40e4ce7f833a4918305cab32b8a229f343740990cecd4663c",
        "templateCredsSetupCompleted": true
      },
      "name": "Youtube Scrapper",
      "tags": [],
      "nodes": [
        {
          "id": "f2ac95fd-8956-4010-9d5d-5f809d11a6a0",
          "name": "Append or update row in sheet",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            976,
            416
          ],
          "parameters": {
            "columns": {
              "value": {
                "Email": "={{ $json.email }}",
                "Tiktok": "={{ $json.tiktok }}",
                "Country": "={{ $json.country }}",
                "Discord": "={{ $json.discord }}",
                "Twitter": "={{ $json.twitter }}",
                "Facebook": "={{ $json.facebook }}",
                "Instagram": "={{ $json.instagram }}",
                "Channel ID": "={{ $json.channelId }}",
                "Subscribers": "={{ $json.subscribers }}",
                "Total Views": "={{ $json.views }}",
                "Channel Name": "={{ $json.title }}",
                "Total Videos": "={{ $json.videos }}"
              },
              "schema": [
                {
                  "id": "Channel ID",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Channel ID",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Channel Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Channel Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Subscribers",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Subscribers",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Total Videos",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Total Videos",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Total Views",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Total Views",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Country",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Country",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Email",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Email",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Instagram",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Instagram",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Twitter",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Twitter",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Tiktok",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Tiktok",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Discord",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Discord",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Facebook",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Facebook",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "Channel ID"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "appendOrUpdate",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": 1525501272,
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit#gid=1525501272",
              "cachedResultName": "Sheet2"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit?usp=drivesdk",
              "cachedResultName": "Test Sheet"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "2osqmyVpITuA9IWt",
              "name": "Google Sheets account"
            }
          },
          "typeVersion": 4.7
        },
        {
          "id": "3e5d4c72-a2da-4531-832a-c34fdc210bf8",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            -1376,
            416
          ],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "expression": "* * * * *"
                }
              ]
            }
          },
          "retryOnFail": false,
          "typeVersion": 1.3
        },
        {
          "id": "a31b6ea0-2c42-4ef8-8df0-82ddb3f86643",
          "name": "Update Keyword Status -> Processing",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            -592,
            416
          ],
          "parameters": {
            "columns": {
              "value": {
                "Status": "Processed",
                "Keyword": "={{ $json.Keyword }}",
                "Last Run": "={{ $now }}"
              },
              "schema": [
                {
                  "id": "Keyword",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Keyword",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Status",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Status",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Last Run",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Last Run",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "Keyword"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "appendOrUpdate",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": "gid=0",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit#gid=0",
              "cachedResultName": "Sheet1"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit?usp=drivesdk",
              "cachedResultName": "Test Sheet"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "2osqmyVpITuA9IWt",
              "name": "Google Sheets account"
            }
          },
          "typeVersion": 4.7
        },
        {
          "id": "79615eb1-e2f6-4a37-b34d-27cbf28e3b99",
          "name": "Get the first keyword",
          "type": "n8n-nodes-base.code",
          "position": [
            -800,
            416
          ],
          "parameters": {
            "jsCode": "// $input.item(0) refers to the first input item from the previous node\n// In Search Rows, all rows come as separate items, so $input.all() returns an array of items\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  // No pending keywords\n  return [];\n}\n\n// Only take the first item\nreturn [items[0]];"
          },
          "typeVersion": 2
        },
        {
          "id": "12bda5a9-9f13-460e-b0e5-c7849a689b56",
          "name": "Run an Actor and get dataset",
          "type": "@apify/n8n-nodes-apify.apify",
          "disabled": true,
          "position": [
            -480,
            1248
          ],
          "parameters": {
            "actorId": {
              "__rl": true,
              "mode": "list",
              "value": "CZLTbryGaPlOPPaht",
              "cachedResultUrl": "https://console.apify.com/actors/CZLTbryGaPlOPPaht/input",
              "cachedResultName": "Youtube Channel Email Scraper By Keyword (scraper-mind/mass-youtube-channel-email-scraper)"
            },
            "operation": "Run actor and get dataset",
            "customBody": "={\n    \"country\": \"United States\",\n    \"keywords\": [\n        \"{{ $json.Keyword }}\"\n    ],\n    \"maxLeadsPerKeyword\": 100,\n    \"scrapeLeadsWithEmail\": true\n}",
            "authentication": "apifyOAuth2Api"
          },
          "credentials": {
            "apifyOAuth2Api": {
              "id": "k7m5T78Ox6ilLMZH",
              "name": "Apify account"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "cd7db7a2-0ca1-4c98-a162-ea2e3013fdf3",
          "name": "Append or update row in sheet1",
          "type": "n8n-nodes-base.googleSheets",
          "disabled": true,
          "position": [
            -80,
            1248
          ],
          "parameters": {
            "columns": {
              "value": {
                "Email": "={{ $json.email }}",
                "Tiktok": "={{ $json.tiktok }}",
                "Discord": "={{ $json.discord }}",
                "Keyword": "={{ $json.keyword }}",
                "Twitter": "={{ $json.twitter }}",
                "Facebook": "={{ $json.facebook }}",
                "Instagram": "={{ $json.instagram }}",
                "Channel URL": "={{ $json.channel_url }}",
                "Subscribers": "={{ $json.subscriber_count.match(/\\d+/)[0] }}",
                "Channel Name": "={{ $json.channel_name }}",
                "Videos Count": "={{ $json.video_count.match(/\\d+/)[0] }}"
              },
              "schema": [
                {
                  "id": "Channel Name",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Channel Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Channel URL",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Channel URL",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Email",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Email",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Instagram",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Instagram",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Tiktok",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Tiktok",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Facebook",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Facebook",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Discord",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Discord",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Twitter",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Twitter",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Subscribers",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Subscribers",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Videos Count",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Videos Count",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Keyword",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Keyword",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "Channel URL"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "appendOrUpdate",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": 1672634312,
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit#gid=1672634312",
              "cachedResultName": "Using Apify"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit?usp=drivesdk",
              "cachedResultName": "Test Sheet"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "2osqmyVpITuA9IWt",
              "name": "Google Sheets account"
            }
          },
          "typeVersion": 4.7
        },
        {
          "id": "c809b200-cbe4-4638-a577-7c2b2663504f",
          "name": "Code in JavaScript",
          "type": "n8n-nodes-base.code",
          "disabled": true,
          "position": [
            -272,
            1248
          ],
          "parameters": {
            "jsCode": "const emailRegex = /[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/;\n\n// Thresholds\nconst subscriberThreshold = 10000;\nconst videoThreshold = 100;\n\nreturn $input.all()\n  .map(item => {\n    const emails = item.json.emails || [];\n    const socials = item.json.social_links || {};\n\n    // Clean email\n    let cleanEmail = \"\";\n    if (Array.isArray(emails)) {\n      const match = emails\n        .map(e => e.match(emailRegex))\n        .find(e => e !== null);\n      cleanEmail = match ? match[0] : \"\";\n    }\n\n    // Build cleaned item\n    const cleanedItem = {\n      ...item.json,\n      email: cleanEmail,\n      instagram: socials.instagram || \"\",\n      twitter: socials.twitter || \"\",\n      tiktok: socials.tiktok || \"\",\n      discord: socials.discord || \"\",\n      facebook: socials.facebook || \"\"\n    };\n\n    return cleanedItem;\n  })\n  // Filter by thresholds\n  .filter(channel => {\n    const subs = parseInt(channel.subscribers || \"0\");\n    const vids = parseInt(channel.videos || \"0\");\n    return subs >= subscriberThreshold && vids >= videoThreshold;\n  })\n  .map(channel => ({ json: channel })); // Wrap each in { json: ... } for n8n"
          },
          "typeVersion": 2
        },
        {
          "id": "80d98841-cffe-4005-996a-dc40e0d732cf",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -2080,
            320
          ],
          "parameters": {
            "width": 496,
            "height": 288,
            "content": "## Workflow overview\n\nThis workflow automatically discovers high quality YouTube channels based on a list of target keywords.\n\nIt runs on a schedule, searches for videos related to each keyword, extracts the channels behind those videos, retrieves channel statistics, and filters channels based on predefined quality criteria such as subscriber count, total views, and video count.\n\nThe final result is stored in a spreadsheet where channels are either added as new entries or updated if they already exist. This workflow is useful for influencer discovery, lead generation, or creator research."
          },
          "typeVersion": 1
        },
        {
          "id": "8059c4ad-7551-4bd0-8741-7823e409c8ce",
          "name": "Search Videos based on Keywords",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            -256,
            416
          ],
          "parameters": {
            "url": "https://www.googleapis.com/youtube/v3/search",
            "options": {},
            "sendQuery": true,
            "authentication": "predefinedCredentialType",
            "queryParameters": {
              "parameters": [
                {
                  "name": "part",
                  "value": "snippet"
                },
                {
                  "name": "q",
                  "value": "={{ $json.Keyword }}"
                },
                {
                  "name": "type",
                  "value": "video"
                },
                {
                  "name": "maxResults",
                  "value": "50"
                }
              ]
            },
            "nodeCredentialType": "youTubeOAuth2Api"
          },
          "credentials": {
            "youTubeOAuth2Api": {
              "id": "gBSmOJLVQdbnVl0O",
              "name": "YouTube account"
            }
          },
          "typeVersion": 4.4
        },
        {
          "id": "82fb27e6-960a-422e-a715-741f91abd6de",
          "name": "List of Target Keywords",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            -992,
            416
          ],
          "parameters": {
            "options": {},
            "filtersUI": {
              "values": [
                {
                  "lookupValue": "Pending",
                  "lookupColumn": "Status"
                }
              ]
            },
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": "gid=0",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit#gid=0",
              "cachedResultName": "Sheet1"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qbH4sq8NtPxh-wxCbRmyZAzzmC36KgipJlkWou-FUn8/edit?usp=drivesdk",
              "cachedResultName": "Test Sheet"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "2osqmyVpITuA9IWt",
              "name": "Google Sheets account"
            }
          },
          "executeOnce": false,
          "typeVersion": 4.7
        },
        {
          "id": "e3b9d095-f5db-44bf-941e-630b00e8e0c8",
          "name": "Extract Channel Ids from the Video Results",
          "type": "n8n-nodes-base.code",
          "position": [
            64,
            416
          ],
          "parameters": {
            "jsCode": "// Get items array from search node\nconst items = $json.items || [];\n\n// Extract channel IDs safely\nconst channelIds = items\n  .map(item => item.snippet?.channelId)\n  .filter(id => id !== undefined);\n\n// Deduplicate\nconst uniqueChannelIds = [...new Set(channelIds)];\n\n// Create comma separated list for API\nconst channelIdsString = uniqueChannelIds.join(\",\");\n\nreturn [\n  {\n    json: {\n      channelIdsString\n    }\n  }\n];"
          },
          "typeVersion": 2
        },
        {
          "id": "5e27c8e6-5907-42c3-9311-2d70df76ceda",
          "name": "Get Channel Stats",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            272,
            416
          ],
          "parameters": {
            "url": "https://www.googleapis.com/youtube/v3/channels",
            "options": {},
            "sendQuery": true,
            "authentication": "predefinedCredentialType",
            "queryParameters": {
              "parameters": [
                {
                  "name": "part",
                  "value": "statistics, snippet, brandingSettings"
                },
                {
                  "name": "id",
                  "value": "=id={{ $json.channelIdsString }}"
                }
              ]
            },
            "nodeCredentialType": "youTubeOAuth2Api"
          },
          "credentials": {
            "youTubeOAuth2Api": {
              "id": "gBSmOJLVQdbnVl0O",
              "name": "YouTube account"
            }
          },
          "typeVersion": 4.4
        },
        {
          "id": "b1146fe9-ce4b-456b-9a1a-e7c4d24b5222",
          "name": "Filter based on Criteria",
          "type": "n8n-nodes-base.code",
          "position": [
            464,
            416
          ],
          "parameters": {
            "jsCode": "// Get the items array from the YouTube API response\nconst channels = $json.items || [];\n\n// Thresholds\nconst subscriberThreshold = 10000;\nconst videoThreshold = 100;\nconst viewThreshold = 500000;\n\n// Regex to extract emails\nconst emailRegex = /[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/;\n\n// Filter and map channels\nconst passedChannels = channels\n    .map(channel => {\n        // Existing statistics\n        const subs = parseInt(channel.statistics?.subscriberCount || \"0\");\n        const vids = parseInt(channel.statistics?.videoCount || \"0\");\n        const views = parseInt(channel.statistics?.viewCount || \"0\");\n\n        // Skip channels below thresholds\n        if (subs < subscriberThreshold || vids < videoThreshold || views < viewThreshold) {\n            return null;\n        }\n\n        // Extract emails from description\n        const description = channel.brandingSettings?.channel?.description || \"\";\n        const descEmails = (description.match(emailRegex) || []);\n\n        // Combine with any existing emails array\n        const existingEmails = channel.emails || [];\n        const allEmails = [...existingEmails, ...descEmails].filter(Boolean);\n        const cleanEmail = allEmails.length ? allEmails[0] : \"\";\n\n        // Extract social links if present\n        const socials = channel.brandingSettings?.channel?.externalLinks || {};\n        \n        return {\n            json: {\n                retry: false,\n                channelId: channel.id,\n                title: channel.snippet?.title,\n                country: channel.snippet?.country || \"\",\n                subscribers: subs,\n                videos: vids,\n                views: views,\n                email: cleanEmail,\n                instagram: socials.instagram || \"\",\n                twitter: socials.twitter || \"\",\n                tiktok: socials.tiktok || \"\",\n                discord: socials.discord || \"\",\n                facebook: socials.facebook || \"\"\n            }\n        };\n    })\n    .filter(channel => channel !== null); // Remove channels that didn't pass thresholds\n\nif (passedChannels.length === 0) {\n    return [{ json: { retry: true } }];\n}\n\nreturn passedChannels;"
          },
          "typeVersion": 2
        },
        {
          "id": "ab835bbf-f9d7-4c23-af9f-f130b77eb348",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -1456,
            576
          ],
          "parameters": {
            "color": 4,
            "width": 304,
            "height": 304,
            "content": "## Step 1. Schedule workflow trigger\n\nThis workflow starts automatically at a scheduled interval.\n\nThe scheduler allows you to run the automation periodically, for example every 5 minutes, every hour, or once per day depending on your discovery needs.\n\nEach run processes the next available keyword from the keyword list."
          },
          "typeVersion": 1
        },
        {
          "id": "6946302e-54da-446b-96bd-56093f7f35e3",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -1056,
            320
          ],
          "parameters": {
            "color": 4,
            "width": 624,
            "height": 624,
            "content": "## Step 2. Retrieve Target Keywords and Process One Keyword at a Time.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis step retrieves the list of target keywords from the data source.\nEach keyword represents a topic or niche that will be used to search for related YouTube videos and discover relevant channels.\n\nExample keywords might include:\n• dashcam\n• productivity tools\n• AI automation\n• gaming highlights\n\nTo avoid duplicate processing, the workflow selects the first unprocessed keyword from the list.\n\nOnce selected, the keyword is immediately marked as processed to ensure it is not used again in future runs.\n\nThis ensures that the workflow processes each keyword only once."
          },
          "typeVersion": 1
        },
        {
          "id": "0bdf0e43-ac98-46ab-b77a-8bb3fc7a8889",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -368,
            64
          ],
          "parameters": {
            "color": 4,
            "width": 304,
            "height": 320,
            "content": "## Step 3. Search YouTube Videos\n\nUsing the selected keyword, the workflow searches YouTube videos through the YouTube API.\n\nVideos are used as the discovery source because every video is linked to a channel. \n\nBy analyzing these results, the workflow can identify relevant creators within the niche."
          },
          "typeVersion": 1
        },
        {
          "id": "4e8bb8c9-8e84-475b-ac50-2bdb1688f1a2",
          "name": "Sticky Note5",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -16,
            272
          ],
          "parameters": {
            "color": 4,
            "width": 656,
            "height": 656,
            "content": "## Step 4. Extract Channel IDs, Retrieve Channel Stats, and Filter Qualified Channels\nFrom the video results, the workflow extracts the unique channel IDs of the creators who published those videos.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDuplicate channel IDs are removed to avoid requesting the same channel statistics multiple times.\n\nFor each discovered channel, the workflow retrieves detailed statistics such as:\n• Subscriber count\n• Total number of videos\n• Total channel views\n\nThese metrics are used to evaluate whether the channel meets the qualification criteria.\n\nChannels are filtered based on predefined thresholds to identify high quality creators.\n\nExample criteria:\n• Minimum subscribers\n• Minimum number of videos\n• Minimum total views\n\nOnly channels that meet all requirements proceed to the next step."
          },
          "typeVersion": 1
        },
        {
          "id": "b85ecf68-a7f1-4541-a0ab-fc0891c9e04e",
          "name": "Sticky Note4",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            880,
            640
          ],
          "parameters": {
            "color": 4,
            "width": 304,
            "height": 288,
            "content": "## Step 5. Save Results to Spreadsheet\n\nQualified channels are saved to the spreadsheet.\n\nIf the channel already exists, its information is updated. If it is new, a new row is added.\n\nThis creates a continuously growing database of qualified YouTube channels."
          },
          "typeVersion": 1
        },
        {
          "id": "f50ba7ff-895c-431e-9f45-3039bf6d8321",
          "name": "Sticky Note6",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -2080,
            656
          ],
          "parameters": {
            "width": 496,
            "height": 224,
            "content": "## Setup instructions\n\nBefore running this workflow, configure the following:\n\nAdd your YouTube API credentials.\nConnect your spreadsheet or database where keywords and channel data are stored.\nAdjust the filtering thresholds to match your target creator profile."
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "binaryMode": "separate",
        "availableInMCP": false,
        "executionOrder": "v1"
      },
      "versionId": "c2117951-2a40-4701-8a3b-e3205c8c6a68",
      "connections": {
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "List of Target Keywords",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Channel Stats": {
          "main": [
            [
              {
                "node": "Filter based on Criteria",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Append or update row in sheet1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get the first keyword": {
          "main": [
            [
              {
                "node": "Update Keyword Status -> Processing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "List of Target Keywords": {
          "main": [
            [
              {
                "node": "Get the first keyword",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filter based on Criteria": {
          "main": [
            [
              {
                "node": "Append or update row in sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Run an Actor and get dataset": {
          "main": [
            [
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Append or update row in sheet": {
          "main": [
            []
          ]
        },
        "Search Videos based on Keywords": {
          "main": [
            [
              {
                "node": "Extract Channel Ids from the Video Results",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update Keyword Status -> Processing": {
          "main": [
            [
              {
                "node": "Search Videos based on Keywords",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract Channel Ids from the Video Results": {
          "main": [
            [
              {
                "node": "Get Channel Stats",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 19,
      "nodeTypes": {
        "n8n-nodes-base.code": {
          "count": 4
        },
        "n8n-nodes-base.stickyNote": {
          "count": 7
        },
        "n8n-nodes-base.httpRequest": {
          "count": 2
        },
        "n8n-nodes-base.googleSheets": {
          "count": 4
        },
        "@apify/n8n-nodes-apify.apify": {
          "count": 1
        },
        "n8n-nodes-base.scheduleTrigger": {
          "count": 1
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "Vonn",
      "username": "vonnairone",
      "bio": "",
      "verified": false,
      "links": [],
      "avatar": "https://gravatar.com/avatar/0dd5e119a04d18d56d480b5a80905a94de4275f2558e384ce3548fac171e515c?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 18,
        "icon": "file:googleSheets.svg",
        "name": "n8n-nodes-base.googleSheets",
        "codex": {
          "data": {
            "alias": [
              "CSV",
              "Sheet",
              "Spreadsheet",
              "GS"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                  "icon": "❤️",
                  "label": "Love at first sight: Ricardo’s n8n journey"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                  "icon": "⏲",
                  "label": "Creating triggers for n8n workflows using polling"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                  "icon": "🍔",
                  "label": "How Honest Burgers Use Automation to Save $100k per year"
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Data & Storage",
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\",\"output\"]",
        "defaults": {
          "name": "Google Sheets"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
        },
        "displayName": "Google Sheets",
        "typeVersion": 5,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          },
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 19,
        "icon": "file:httprequest.svg",
        "name": "n8n-nodes-base.httpRequest",
        "codex": {
          "data": {
            "alias": [
              "API",
              "Request",
              "URL",
              "Build",
              "cURL"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                  "icon": "🎨",
                  "label": "Automate Designs with Bannerbear and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                  "icon": "🧰",
                  "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "HTTP Request",
          "color": "#0004F5"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "HTTP Request",
        "typeVersion": 4,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 834,
        "icon": "file:code.svg",
        "name": "n8n-nodes-base.code",
        "codex": {
          "data": {
            "alias": [
              "cpde",
              "Javascript",
              "JS",
              "Python",
              "Script",
              "Custom Code",
              "Function"
            ],
            "details": "The Code node allows you to execute JavaScript in your workflow.",
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Code"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Code",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 839,
        "icon": "fa:clock",
        "name": "n8n-nodes-base.scheduleTrigger",
        "codex": {
          "data": {
            "alias": [
              "Time",
              "Scheduler",
              "Polling",
              "Cron",
              "Interval"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\",\"schedule\"]",
        "defaults": {
          "name": "Schedule Trigger",
          "color": "#31C49F"
        },
        "iconData": {
          "icon": "clock",
          "type": "icon"
        },
        "displayName": "Schedule Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 32,
        "name": "Market Research"
      }
    ],
    "image": []
  }
}