n8n_templates/n8n_workflows/14113.json
{
  "workflow": {
    "id": 14113,
    "name": "Rerank PM priorities every 2 hours using OpenAI, Notion, and Slack",
    "views": 23,
    "recentViews": 1,
    "totalViews": 23,
    "createdAt": "2026-03-17T12:02:01.265Z",
    "description": "# Description\nAI-powered priority re-evaluation every 2 hours. Analyzes new signals, meeting decisions, emails, and blockers, then runs 3 AI passes (Impact, Urgency, Final Ranking) to suggest re-ranking. Only updates when the ranking actually changes.\n\n# Context\nRuns every 2 hours during work days (8:00–18:00). Pulls 5 data sources in parallel: open priorities, recent high-impact signals, today’s meeting decisions, urgent emails, and overdue/blocked actions.\nA Priority Context Matrix links each priority to relevant new information. Three sequential AI passes score Impact, Urgency, and produce a Final Ranking with rationale. CompareDatasets detects changes vs current ranking. Only if the ranking changed, Notion is batch-updated and Slack shows before/after.\n\n# Who is this for?\n•\tPMs managing dynamic priority stacks\n•\tProduct leaders who need real-time priority alignment\n•\tTeams where priorities shift frequently due to customer signals\n# Requirements\n•\tNotion account with PM Daily databases\n•\tOpenAI API key\n•\tSlack Bot token\n\n# How it works\n- Trigger  Runs every 2 hours, Monday–Friday, 8:00–18:00.\n- Context Collection  5 parallel pulls: open priorities, signals, meetings, emails, blocked actions.\n- Priority Matrix  Links each priority to relevant signals, emails, and decisions. Deduplicates and normalizes.\n- 3-Pass AI Scoring  Pass 1: Impact. Pass 2: Urgency. Pass 3: Final Ranking with rationale.\n- Change Detection  Compares new vs current ranking. If changed: batch-updates Notion and posts before/after to Slack.\n# What you get\n- Continuous priority re-evaluation every 2 hours\n- 3-pass AI scoring (Impact, Urgency, Final)\n- Change detection — only updates when needed\n- Before/after ranking comparison on Slack\n- 40+ node workflow with CompareDatasets intelligence\n\n## About me :\nI’m Yassin a Product Manager  Scaling tech products with data-driven project management.\n📬 Feel free to connect with me on [Linkedin](https://www.linkedin.com/in/yassin-zehar)",
    "workflow": {
      "id": "Bx2w5dd0BPnbui0a",
      "meta": {
        "instanceId": "6275b214d4b650e9363d586d0c0d827625f56016530d23e5ca774ac184f5b929",
        "templateCredsSetupCompleted": true
      },
      "name": "PM Daily Smart Priority Reranker",
      "tags": [],
      "nodes": [
        {
          "id": "f3a488b4-5c92-457d-8fb8-77c5623fa8f4",
          "name": "Sticky Note - How It Works",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            752,
            -240
          ],
          "parameters": {
            "width": 350,
            "height": 260,
            "content": "## How it works\n\nEvery 2 hours during work days, re-evaluates all open priorities using fresh signals, meetings, emails, and blockers. Three AI passes (Impact, Urgency, Final Ranking) produce a new ranking. Only updates Notion if the ranking actually changed."
          },
          "typeVersion": 1
        },
        {
          "id": "908a0473-bec3-493d-8191-155600a40c68",
          "name": "Sticky Note - Context Collection",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1136,
            -240
          ],
          "parameters": {
            "color": 7,
            "width": 1470,
            "height": 1096,
            "content": "## Context Collection\n\nFive parallel pulls: open priorities, recent high-impact signals, today's meeting decisions, recent urgent emails, and overdue or blocked actions."
          },
          "typeVersion": 1
        },
        {
          "id": "9de9aedf-585d-46e0-afad-059bd89f95b6",
          "name": "Sticky Note - Priority Matrix",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            2640,
            -240
          ],
          "parameters": {
            "color": 7,
            "width": 814,
            "height": 1096,
            "content": "## Priority Matrix\n\nBuilds a detailed context matrix linking each priority to its relevant signals, emails, and decisions. Deduplicates and normalizes the data."
          },
          "typeVersion": 1
        },
        {
          "id": "20c556d0-cb2a-44f7-a77c-ccc7a2d14ffa",
          "name": "Sticky Note - 3-Pass AI Scoring",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            3472,
            -240
          ],
          "parameters": {
            "color": 7,
            "width": 894,
            "height": 1096,
            "content": "## 3-Pass AI Scoring\n\nPass 1: Impact Analysis scores each priority. Pass 2: Urgency Recalibration adjusts for deadlines. Pass 3: Final Ranking with rationale."
          },
          "typeVersion": 1
        },
        {
          "id": "f9e14de6-673c-49ad-957d-b260c566fd08",
          "name": "Sticky Note - Change Detection",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            4384,
            -240
          ],
          "parameters": {
            "color": 7,
            "width": 1742,
            "height": 1096,
            "content": "## Change Detection\n\nCompareDatasets identifies ranking differences. If changes, batch-updates Notion and posts before/after to Slack."
          },
          "typeVersion": 1
        },
        {
          "id": "b130f053-78c3-4f5a-b3d2-09b0fbcc9044",
          "name": "Rerank Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            1232,
            352
          ],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "expression": "0 */2 8-18 * * 1-5"
                }
              ]
            }
          },
          "typeVersion": 1.2
        },
        {
          "id": "e867aad1-3e6a-42fa-a89d-679ff3e00af0",
          "name": "Read Settings",
          "type": "n8n-nodes-base.notion",
          "position": [
            1472,
            352
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "operation": "getAll",
            "returnAll": true,
            "databaseId": "31e06bab-3ebe-813a-858d-dfec8df6b644"
          },
          "typeVersion": 2.2
        },
        {
          "id": "8374b191-9bb2-4585-bddf-6cae44eb84c9",
          "name": "Check Demo Mode",
          "type": "n8n-nodes-base.if",
          "position": [
            1680,
            352
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "conditions": [
                {
                  "operator": {
                    "type": "boolean",
                    "operation": "equals"
                  },
                  "leftValue": "={{ $json.properties?.demo_mode?.checkbox }}",
                  "rightValue": true
                }
              ]
            }
          },
          "typeVersion": 2
        },
        {
          "id": "7f525011-d6b1-4414-83f9-6c5ac079acf7",
          "name": "Get Open Priorities",
          "type": "n8n-nodes-base.notion",
          "position": [
            1968,
            -32
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "operation": "getAll",
            "returnAll": true,
            "databaseId": "31e06bab-3ebe-81fe-9d0c-e65a49a99ef3"
          },
          "typeVersion": 2.2
        },
        {
          "id": "75dab067-a4d4-4ab7-9e4a-26ee6fd9ab4e",
          "name": "Sort Priorities",
          "type": "n8n-nodes-base.sort",
          "position": [
            2192,
            -32
          ],
          "parameters": {
            "options": {}
          },
          "typeVersion": 1
        },
        {
          "id": "973f2f53-a0fb-4742-a29a-9e88bf5ef293",
          "name": "Limit Top 20",
          "type": "n8n-nodes-base.limit",
          "position": [
            2400,
            -32
          ],
          "parameters": {
            "maxItems": 20
          },
          "typeVersion": 1
        },
        {
          "id": "25038e8f-90f1-4174-ad6c-12c368d306ec",
          "name": "Normalize Priorities",
          "type": "n8n-nodes-base.code",
          "position": [
            2672,
            -32
          ],
          "parameters": {
            "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { source: 'priorities', items: items.map((item, idx) => ({ id: item.id, title: item.properties?.Name?.title?.[0]?.plain_text || 'Untitled', currentRank: idx + 1, status: item.properties?.Status?.select?.name || 'Open', priority: item.properties?.Priority?.number || 0, due: item.properties?.Due?.date?.start || null })) } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "5df6cb9a-b372-4ccb-b495-8c55813f7a45",
          "name": "Get Recent Signals",
          "type": "n8n-nodes-base.notion",
          "position": [
            1952,
            160
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "operation": "getAll",
            "returnAll": true,
            "databaseId": "31e06bab-3ebe-811b-b204-c5f41b273303"
          },
          "typeVersion": 2.2
        },
        {
          "id": "25681add-c177-41e1-ae3a-f2e96a51e834",
          "name": "Filter High Signals",
          "type": "n8n-nodes-base.filter",
          "position": [
            2192,
            160
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "conditions": [
                {
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  },
                  "leftValue": "={{ $json.properties?.Impact?.select?.name }}",
                  "rightValue": ""
                }
              ]
            }
          },
          "typeVersion": 2
        },
        {
          "id": "c50a3b05-5c6a-4c72-9de4-250d229c35db",
          "name": "Normalize Signals",
          "type": "n8n-nodes-base.code",
          "position": [
            2400,
            160
          ],
          "parameters": {
            "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { source: 'signals', items: items.map(i => ({ id: i.id, title: i.properties?.Name?.title?.[0]?.plain_text || '', impact: i.properties?.Impact?.select?.name || 'Medium', category: i.properties?.Category?.select?.name || 'General' })) } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "fdbe5d84-0acb-4a5b-bd0d-ef3951ff208b",
          "name": "Get Meeting Decisions",
          "type": "n8n-nodes-base.notion",
          "position": [
            1952,
            320
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "operation": "getAll",
            "returnAll": true,
            "databaseId": "31e06bab-3ebe-8108-b9d7-cde4bd8192b6"
          },
          "typeVersion": 2.2
        },
        {
          "id": "52c3bdc5-7e55-439c-9829-d8627cc54de6",
          "name": "Normalize Meetings",
          "type": "n8n-nodes-base.code",
          "position": [
            2192,
            320
          ],
          "parameters": {
            "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { source: 'meetings', items: items.map(i => ({ id: i.id, title: i.properties?.Name?.title?.[0]?.plain_text || '', decisions: i.properties?.Decisions?.rich_text?.map(t => t.plain_text).join(' ') || '' })) } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "8199d342-0cd9-4345-af37-4712e7b4c899",
          "name": "Get Urgent Emails",
          "type": "n8n-nodes-base.notion",
          "position": [
            1952,
            496
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "operation": "getAll",
            "returnAll": true,
            "databaseId": "31e06bab-3ebe-81d6-8c12-f607c8ff3b3f"
          },
          "typeVersion": 2.2
        },
        {
          "id": "6200b5db-ebaf-436c-b77b-90f9944251f6",
          "name": "Filter Urgent Emails",
          "type": "n8n-nodes-base.filter",
          "position": [
            2192,
            496
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "conditions": [
                {
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  },
                  "leftValue": "={{ $json.properties?.Priority?.select?.name }}",
                  "rightValue": "Urgent"
                }
              ]
            }
          },
          "typeVersion": 2
        },
        {
          "id": "60ed80aa-674d-47ac-a5b1-b13a3cc2e007",
          "name": "Normalize Emails",
          "type": "n8n-nodes-base.code",
          "position": [
            2432,
            496
          ],
          "parameters": {
            "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { source: 'emails', items: items.map(i => ({ id: i.id, subject: i.properties?.Subject?.title?.[0]?.plain_text || '', sender: i.properties?.From?.email || '', urgency: i.properties?.Priority?.select?.name || 'Normal' })) } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "889b8b11-7547-4063-a355-1ae4ec2bfaef",
          "name": "Get Blocked Actions",
          "type": "n8n-nodes-base.notion",
          "position": [
            1952,
            672
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "operation": "getAll",
            "returnAll": true,
            "databaseId": "31e06bab-3ebe-8190-894f-f211aea15dc4"
          },
          "typeVersion": 2.2
        },
        {
          "id": "efbb502b-6958-4d9b-b37e-294ef50514f0",
          "name": "Filter Overdue Actions",
          "type": "n8n-nodes-base.filter",
          "position": [
            2192,
            672
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "conditions": [
                {
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  },
                  "leftValue": "={{ $json.properties?.Status?.select?.name }}",
                  "rightValue": "Blocked"
                }
              ]
            }
          },
          "typeVersion": 2
        },
        {
          "id": "4e599368-29a5-4851-8c4a-de0c4049aab5",
          "name": "Normalize Blockers",
          "type": "n8n-nodes-base.code",
          "position": [
            2432,
            672
          ],
          "parameters": {
            "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { source: 'blockers', items: items.map(i => ({ id: i.id, title: i.properties?.Name?.title?.[0]?.plain_text || '', status: i.properties?.Status?.select?.name || 'Open', due: i.properties?.Due?.date?.start || null })) } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "f1274a7c-1806-4c5b-be97-ce6a4f99df8a",
          "name": "Merge Context",
          "type": "n8n-nodes-base.merge",
          "position": [
            2832,
            352
          ],
          "parameters": {
            "mode": "combine",
            "options": {}
          },
          "typeVersion": 3
        },
        {
          "id": "156f541f-7192-45a8-81e4-55b321a70741",
          "name": "Build Priority Matrix",
          "type": "n8n-nodes-base.code",
          "position": [
            3088,
            352
          ],
          "parameters": {
            "jsCode": "const allItems = $input.all().map(i => i.json);\nconst context = { priorities: [], signals: [], meetings: [], emails: [], blockers: [] };\nfor (const item of allItems) {\n  if (item.source && context[item.source] !== undefined) context[item.source] = item.items || [];\n}\n\nconst matrix = context.priorities.map(p => {\n  const relatedSignals = context.signals.filter(s => {\n    const pTitle = (p.title || '').toLowerCase();\n    const sTitle = (s.title || '').toLowerCase();\n    return pTitle.split(' ').some(w => w.length > 3 && sTitle.includes(w));\n  });\n  const relatedEmails = context.emails.filter(e => {\n    const pTitle = (p.title || '').toLowerCase();\n    const eSubject = (e.subject || '').toLowerCase();\n    return pTitle.split(' ').some(w => w.length > 3 && eSubject.includes(w));\n  });\n  const relatedBlockers = context.blockers.filter(b => {\n    const pTitle = (p.title || '').toLowerCase();\n    const bTitle = (b.title || '').toLowerCase();\n    return pTitle.split(' ').some(w => w.length > 3 && bTitle.includes(w));\n  });\n  return { ...p, relatedSignals, relatedEmails, relatedBlockers, signalCount: relatedSignals.length, emailCount: relatedEmails.length, blockerCount: relatedBlockers.length };\n});\n\nreturn [{ json: { matrix, meetings: context.meetings, totalPriorities: context.priorities.length, totalSignals: context.signals.length, totalBlockers: context.blockers.length } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "2ec6572d-a0cf-4425-bed6-400e4c7b8d49",
          "name": "Remove Duplicates",
          "type": "n8n-nodes-base.removeDuplicates",
          "position": [
            3328,
            352
          ],
          "parameters": {},
          "typeVersion": 1
        },
        {
          "id": "c90a874f-4e55-4f97-adad-da721f721eed",
          "name": "AI Pass 1 - Impact",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "position": [
            3632,
            144
          ],
          "parameters": {
            "resource": "chat"
          },
          "typeVersion": 1.4
        },
        {
          "id": "b5931836-ae31-4537-a816-0cfbf4babb6c",
          "name": "Parse Impact",
          "type": "n8n-nodes-base.code",
          "position": [
            3872,
            144
          ],
          "parameters": {
            "jsCode": "const content = $json.message?.content || '';\nlet parsed;\ntry { const m = content.match(/\\{[\\s\\S]*\\}/); parsed = m ? JSON.parse(m[0]) : { impactScores: [] }; } catch(e) { parsed = { impactScores: [] }; }\nreturn [{ json: { impactScores: parsed.impactScores || parsed } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "5eaa7337-fb66-429c-8e98-19b65c866508",
          "name": "Set Impact Scores",
          "type": "n8n-nodes-base.set",
          "position": [
            4096,
            144
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "is1",
                  "name": "impact",
                  "type": "object",
                  "value": "={{ $json }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "58c80947-c8dd-4993-9861-750ac5c3c9aa",
          "name": "AI Pass 2 - Urgency",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "position": [
            3632,
            400
          ],
          "parameters": {
            "resource": "chat"
          },
          "typeVersion": 1.4
        },
        {
          "id": "cef96c97-7833-4c7c-b340-1b1ee984c811",
          "name": "Parse Urgency",
          "type": "n8n-nodes-base.code",
          "position": [
            3872,
            400
          ],
          "parameters": {
            "jsCode": "const content = $json.message?.content || '';\nlet parsed;\ntry { const m = content.match(/\\{[\\s\\S]*\\}/); parsed = m ? JSON.parse(m[0]) : { urgencyScores: [] }; } catch(e) { parsed = { urgencyScores: [] }; }\nreturn [{ json: { urgencyScores: parsed.urgencyScores || parsed } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "3e668810-36de-45e0-a404-a05c8b087c4b",
          "name": "Set Urgency Scores",
          "type": "n8n-nodes-base.set",
          "position": [
            4096,
            400
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "us1",
                  "name": "urgency",
                  "type": "object",
                  "value": "={{ $json }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "b4433701-c557-479b-9296-c49441e9fe70",
          "name": "AI Pass 3 - Final Rank",
          "type": "@n8n/n8n-nodes-langchain.openAi",
          "position": [
            3632,
            656
          ],
          "parameters": {
            "resource": "chat"
          },
          "typeVersion": 1.4
        },
        {
          "id": "de44ed65-1be7-46c3-8674-220b112c81d1",
          "name": "Parse Ranking",
          "type": "n8n-nodes-base.code",
          "position": [
            3872,
            656
          ],
          "parameters": {
            "jsCode": "const content = $json.message?.content || '';\nlet parsed;\ntry { const m = content.match(/\\{[\\s\\S]*\\}/); parsed = m ? JSON.parse(m[0]) : { ranking: [] }; } catch(e) { parsed = { ranking: [] }; }\nreturn [{ json: { newRanking: parsed.ranking || [] } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "0937ac04-f78c-4c86-8c2a-105f22d7364d",
          "name": "Compare Rankings",
          "type": "n8n-nodes-base.compareDatasets",
          "position": [
            4464,
            640
          ],
          "parameters": {
            "options": {},
            "mergeByFields": {
              "values": [
                {
                  "field1": "id",
                  "field2": "id"
                }
              ]
            }
          },
          "typeVersion": 1
        },
        {
          "id": "f8fdc38a-8ed1-460f-a6a6-cc5c6b9a9294",
          "name": "Any Changes",
          "type": "n8n-nodes-base.if",
          "position": [
            4672,
            384
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "conditions": [
                {
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  },
                  "leftValue": "={{ $json.newRanking?.length > 0 }}",
                  "rightValue": "true"
                }
              ]
            }
          },
          "typeVersion": 2
        },
        {
          "id": "3ccd3393-ccf3-4843-bfec-02dad457ea6e",
          "name": "Build Change Summary",
          "type": "n8n-nodes-base.code",
          "position": [
            4864,
            176
          ],
          "parameters": {
            "jsCode": "const ranking = $json.newRanking || [];\nlet summary = ':arrows_counterclockwise: *Priority Re-Ranking Update*\\n\\n';\nsummary += `_${new Date().toISOString().split('T')[0]} ${new Date().toTimeString().split(' ')[0]}_\\n\\n`;\nsummary += '*New Priority Order:*\\n';\nranking.forEach(r => {\n  const arrow = r.change === 'up' ? ':arrow_up:' : r.change === 'down' ? ':arrow_down:' : ':white_circle:';\n  summary += `${r.rank}. ${arrow} *${r.title}* (Score: ${r.finalScore}) - ${r.rationale || ''}\\n`;\n});\nsummary += `\\n_${ranking.filter(r => r.change !== 'same').length} priorities changed position_`;\nreturn [{ json: { ...($json), changeSummary: summary, changedCount: ranking.filter(r => r.change !== 'same').length } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "82cbd250-acc0-4307-942d-dceb40eebdd7",
          "name": "Prepare Update Batch",
          "type": "n8n-nodes-base.code",
          "position": [
            4912,
            352
          ],
          "parameters": {
            "jsCode": "const ranking = $json.newRanking || [];\nreturn ranking.map(r => ({ json: { pageId: r.id, rank: r.rank, finalScore: r.finalScore, rationale: r.rationale } }));"
          },
          "typeVersion": 2
        },
        {
          "id": "659f0bf7-e295-4975-853a-e13f7f9ebed8",
          "name": "Batch Updates",
          "type": "n8n-nodes-base.splitInBatches",
          "position": [
            5216,
            400
          ],
          "parameters": {
            "options": {}
          },
          "typeVersion": 3
        },
        {
          "id": "edad9b00-5314-437d-83c1-ec047c91f784",
          "name": "Update Notion Priority",
          "type": "n8n-nodes-base.notion",
          "position": [
            5536,
            400
          ],
          "parameters": {
            "pageId": "={{ $json.pageId }}",
            "options": {},
            "resource": "databasePage",
            "operation": "update"
          },
          "typeVersion": 2.2
        },
        {
          "id": "9d3770a4-e56a-4305-8aae-d46e6dd1fb8f",
          "name": "Format Slack Update",
          "type": "n8n-nodes-base.code",
          "position": [
            5072,
            176
          ],
          "parameters": {
            "jsCode": "const ranking = $json.newRanking || [];\nlet text = ':arrows_counterclockwise: *Priority Ranking Updated*\\n\\n';\nranking.slice(0, 5).forEach(r => {\n  const arrow = r.change === 'up' ? ':arrow_up:' : r.change === 'down' ? ':arrow_down:' : ':white_circle:';\n  text += `${r.rank}. ${arrow} ${r.title} (${r.finalScore})\\n`;\n});\nreturn [{ json: { slackText: text } }];"
          },
          "typeVersion": 2
        },
        {
          "id": "204b4138-0973-4936-9da5-3ba53ebdd905",
          "name": "Post Ranking Change",
          "type": "n8n-nodes-base.slack",
          "position": [
            5392,
            160
          ],
          "webhookId": "c0c1d55c-2e40-4c14-a0f2-ece3c5980dcf",
          "parameters": {
            "text": "={{ $json.slackText }}",
            "otherOptions": {}
          },
          "typeVersion": 2.2
        },
        {
          "id": "a6dad597-240f-4226-af6d-16b7e3cc973a",
          "name": "No Changes",
          "type": "n8n-nodes-base.noOp",
          "position": [
            4896,
            608
          ],
          "parameters": {},
          "typeVersion": 1
        },
        {
          "id": "b5e79ce6-de0b-4e20-9ce7-2b6d84fedc1a",
          "name": "Slack No Changes",
          "type": "n8n-nodes-base.slack",
          "position": [
            5104,
            608
          ],
          "webhookId": "128df8c3-da31-42ce-a170-8705a66d6723",
          "parameters": {
            "text": "={{ ':white_check_mark: Priority reranker ran at ' + new Date().toISOString() + ' - no ranking changes detected.' }}",
            "otherOptions": {}
          },
          "typeVersion": 2.2
        },
        {
          "id": "f190ee9a-85a4-40f2-8840-2880baae0c24",
          "name": "Create Audit Log",
          "type": "n8n-nodes-base.notion",
          "position": [
            5936,
            560
          ],
          "parameters": {
            "options": {},
            "resource": "databasePage",
            "databaseId": "31e06bab-3ebe-811b-af1f-f186b6dbdf3e"
          },
          "typeVersion": 2.2
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "binaryMode": "separate",
        "availableInMCP": false,
        "executionOrder": "v1"
      },
      "versionId": "f2af4d9c-2a13-4fa9-8185-18c209c77501",
      "connections": {
        "No Changes": {
          "main": [
            [
              {
                "node": "Slack No Changes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Any Changes": {
          "main": [
            [
              {
                "node": "Build Change Summary",
                "type": "main",
                "index": 0
              },
              {
                "node": "Prepare Update Batch",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Changes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Limit Top 20": {
          "main": [
            [
              {
                "node": "Normalize Priorities",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse Impact": {
          "main": [
            [
              {
                "node": "Set Impact Scores",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Batch Updates": {
          "main": [
            [
              {
                "node": "Update Notion Priority",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge Context": {
          "main": [
            [
              {
                "node": "Build Priority Matrix",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse Ranking": {
          "main": [
            [
              {
                "node": "Compare Rankings",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse Urgency": {
          "main": [
            [
              {
                "node": "Set Urgency Scores",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Read Settings": {
          "main": [
            [
              {
                "node": "Check Demo Mode",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Rerank Trigger": {
          "main": [
            [
              {
                "node": "Read Settings",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check Demo Mode": {
          "main": [
            [
              {
                "node": "Get Open Priorities",
                "type": "main",
                "index": 0
              },
              {
                "node": "Get Recent Signals",
                "type": "main",
                "index": 0
              },
              {
                "node": "Get Meeting Decisions",
                "type": "main",
                "index": 0
              },
              {
                "node": "Get Urgent Emails",
                "type": "main",
                "index": 0
              },
              {
                "node": "Get Blocked Actions",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Sort Priorities": {
          "main": [
            [
              {
                "node": "Limit Top 20",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Compare Rankings": {
          "main": [
            [
              {
                "node": "Any Changes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Emails": {
          "main": [
            [
              {
                "node": "Merge Context",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Slack No Changes": {
          "main": [
            [
              {
                "node": "Create Audit Log",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Urgent Emails": {
          "main": [
            [
              {
                "node": "Filter Urgent Emails",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Signals": {
          "main": [
            [
              {
                "node": "Merge Context",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Remove Duplicates": {
          "main": [
            [
              {
                "node": "AI Pass 1 - Impact",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Set Impact Scores": {
          "main": [
            [
              {
                "node": "AI Pass 2 - Urgency",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "AI Pass 1 - Impact": {
          "main": [
            [
              {
                "node": "Parse Impact",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Recent Signals": {
          "main": [
            [
              {
                "node": "Filter High Signals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Blockers": {
          "main": [
            [
              {
                "node": "Merge Context",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Meetings": {
          "main": [
            [
              {
                "node": "Merge Context",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Set Urgency Scores": {
          "main": [
            [
              {
                "node": "AI Pass 3 - Final Rank",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "AI Pass 2 - Urgency": {
          "main": [
            [
              {
                "node": "Parse Urgency",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filter High Signals": {
          "main": [
            [
              {
                "node": "Normalize Signals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Format Slack Update": {
          "main": [
            [
              {
                "node": "Post Ranking Change",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Blocked Actions": {
          "main": [
            [
              {
                "node": "Filter Overdue Actions",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Open Priorities": {
          "main": [
            [
              {
                "node": "Sort Priorities",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Post Ranking Change": {
          "main": [
            [
              {
                "node": "Create Audit Log",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build Change Summary": {
          "main": [
            [
              {
                "node": "Format Slack Update",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filter Urgent Emails": {
          "main": [
            [
              {
                "node": "Normalize Emails",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Priorities": {
          "main": [
            [
              {
                "node": "Merge Context",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Update Batch": {
          "main": [
            [
              {
                "node": "Batch Updates",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build Priority Matrix": {
          "main": [
            [
              {
                "node": "Remove Duplicates",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Meeting Decisions": {
          "main": [
            [
              {
                "node": "Normalize Meetings",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "AI Pass 3 - Final Rank": {
          "main": [
            [
              {
                "node": "Parse Ranking",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filter Overdue Actions": {
          "main": [
            [
              {
                "node": "Normalize Blockers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update Notion Priority": {
          "main": [
            [
              {
                "node": "Batch Updates",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 45,
      "nodeTypes": {
        "n8n-nodes-base.if": {
          "count": 2
        },
        "n8n-nodes-base.set": {
          "count": 2
        },
        "n8n-nodes-base.code": {
          "count": 12
        },
        "n8n-nodes-base.noOp": {
          "count": 1
        },
        "n8n-nodes-base.sort": {
          "count": 1
        },
        "n8n-nodes-base.limit": {
          "count": 1
        },
        "n8n-nodes-base.merge": {
          "count": 1
        },
        "n8n-nodes-base.slack": {
          "count": 2
        },
        "n8n-nodes-base.filter": {
          "count": 3
        },
        "n8n-nodes-base.notion": {
          "count": 8
        },
        "n8n-nodes-base.stickyNote": {
          "count": 5
        },
        "n8n-nodes-base.splitInBatches": {
          "count": 1
        },
        "n8n-nodes-base.compareDatasets": {
          "count": 1
        },
        "n8n-nodes-base.scheduleTrigger": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.openAi": {
          "count": 3
        },
        "n8n-nodes-base.removeDuplicates": {
          "count": 1
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "Yassin Zehar",
      "username": "yassinzehar",
      "bio": "Product Manager | Data-oriented | Agile certified (PSM I, PSPO I)  | Paris",
      "verified": true,
      "links": [
        "https://github.com/YassinAnalytics"
      ],
      "avatar": "https://gravatar.com/avatar/f44fe65164172c0ea4508c9a2a8753ec183d0b2da17f25f07afb24ce65d3a3ae?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 20,
        "icon": "fa:map-signs",
        "name": "n8n-nodes-base.if",
        "codex": {
          "data": {
            "alias": [
              "Router",
              "Filter",
              "Condition",
              "Logic",
              "Boolean",
              "Branch"
            ],
            "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                  "icon": "🤬",
                  "label": "Create a toxic language detector for Telegram in 4 step"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                  "icon": "🏷️",
                  "label": "How to automatically manage contributions to open-source projects"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "If",
          "color": "#408000"
        },
        "iconData": {
          "icon": "map-signs",
          "type": "icon"
        },
        "displayName": "If",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 24,
        "icon": "file:merge.svg",
        "name": "n8n-nodes-base.merge",
        "codex": {
          "data": {
            "alias": [
              "Join",
              "Concatenate",
              "Wait"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                  "icon": "🏬",
                  "label": "How to synchronize data between two systems (one-way vs. two-way sync"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.merge/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Merge"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTc3XzUxOCkiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNDhDMCAyMS40OTAzIDIxLjQ5MDMgMCA0OCAwSDExMkMxMzguNTEgMCAxNjAgMjEuNDkwMyAxNjAgNDhWNTZIMTk2LjI1MkMyNDAuNDM1IDU2IDI3Ni4yNTIgOTEuODE3MiAyNzYuMjUyIDEzNlYxOTJDMjc2LjI1MiAyMTQuMDkxIDI5NC4xNjEgMjMyIDMxNi4yNTIgMjMySDM1MlYyMjRDMzUyIDE5Ny40OSAzNzMuNDkgMTc2IDQwMCAxNzZINDY0QzQ5MC41MSAxNzYgNTEyIDE5Ny40OSA1MTIgMjI0VjI4OEM1MTIgMzE0LjUxIDQ5MC41MSAzMzYgNDY0IDMzNkg0MDBDMzczLjQ5IDMzNiAzNTIgMzE0LjUxIDM1MiAyODhWMjgwSDMxNi4yNTJDMjk0LjE2MSAyODAgMjc2LjI1MiAyOTcuOTA5IDI3Ni4yNTIgMzIwVjM3NkMyNzYuMjUyIDQyMC4xODMgMjQwLjQzNSA0NTYgMTk2LjI1MiA0NTZIMTYwVjQ2NEMxNjAgNDkwLjUxIDEzOC41MSA1MTIgMTEyIDUxMkg0OEMyMS40OTAzIDUxMiAwIDQ5MC41MSAwIDQ2NFY0MDBDMCAzNzMuNDkgMjEuNDkwMyAzNTIgNDggMzUySDExMkMxMzguNTEgMzUyIDE2MCAzNzMuNDkgMTYwIDQwMFY0MDhIMTk2LjI1MkMyMTMuOTI1IDQwOCAyMjguMjUyIDM5My42NzMgMjI4LjI1MiAzNzZWMzIwQzIyOC4yNTIgMjk0Ljc4NCAyMzguODU5IDI3Mi4wNDQgMjU1Ljg1MyAyNTZDMjM4Ljg1OSAyMzkuOTU2IDIyOC4yNTIgMjE3LjIxNiAyMjguMjUyIDE5MlYxMzZDMjI4LjI1MiAxMTguMzI3IDIxMy45MjUgMTA0IDE5Ni4yNTIgMTA0SDE2MFYxMTJDMTYwIDEzOC41MSAxMzguNTEgMTYwIDExMiAxNjBINDhDMjEuNDkwMyAxNjAgMCAxMzguNTEgMCAxMTJWNDhaTTEwNCA0OEMxMDguNDE4IDQ4IDExMiA1MS41ODE3IDExMiA1NlYxMDRDMTEyIDEwOC40MTggMTA4LjQxOCAxMTIgMTA0IDExMkg1NkM1MS41ODE3IDExMiA0OCAxMDguNDE4IDQ4IDEwNFY1NkM0OCA1MS41ODE3IDUxLjU4MTcgNDggNTYgNDhIMTA0Wk00NTYgMjI0QzQ2MC40MTggMjI0IDQ2NCAyMjcuNTgyIDQ2NCAyMzJWMjgwQzQ2NCAyODQuNDE4IDQ2MC40MTggMjg4IDQ1NiAyODhINDA4QzQwMy41ODIgMjg4IDQwMCAyODQuNDE4IDQwMCAyODBWMjMyQzQwMCAyMjcuNTgyIDQwMy41ODIgMjI0IDQwOCAyMjRINDU2Wk0xMTIgNDA4QzExMiA0MDMuNTgyIDEwOC40MTggNDAwIDEwNCA0MDBINTZDNTEuNTgxNyA0MDAgNDggNDAzLjU4MiA0OCA0MDhWNDU2QzQ4IDQ2MC40MTggNTEuNTgxNyA0NjQgNTYgNDY0SDEwNEMxMDguNDE4IDQ2NCAxMTIgNDYwLjQxOCAxMTIgNDU2VjQwOFoiIGZpbGw9IiM1NEI4QzkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTc3XzUxOCI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Merge",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 26,
        "icon": "fa:arrow-right",
        "name": "n8n-nodes-base.noOp",
        "codex": {
          "data": {
            "alias": [
              "nothing"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                  "icon": "🤬",
                  "label": "Create a toxic language detector for Telegram in 4 step"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.noop/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"organization\"]",
        "defaults": {
          "name": "No Operation, do nothing",
          "color": "#b0b0b0"
        },
        "iconData": {
          "icon": "arrow-right",
          "type": "icon"
        },
        "displayName": "No Operation, do nothing",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 38,
        "icon": "fa:pen",
        "name": "n8n-nodes-base.set",
        "codex": {
          "data": {
            "alias": [
              "Set",
              "JS",
              "JSON",
              "Filter",
              "Transform",
              "Map"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                  "icon": "📡",
                  "label": "Database Monitoring and Alerting with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Edit Fields"
        },
        "iconData": {
          "icon": "pen",
          "type": "icon"
        },
        "displayName": "Edit Fields (Set)",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 39,
        "icon": "fa:sync",
        "name": "n8n-nodes-base.splitInBatches",
        "codex": {
          "data": {
            "alias": [
              "Loop",
              "Concatenate",
              "Batch",
              "Split",
              "Split In Batches"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"organization\"]",
        "defaults": {
          "name": "Loop Over Items",
          "color": "#007755"
        },
        "iconData": {
          "icon": "sync",
          "type": "icon"
        },
        "displayName": "Loop Over Items (Split in Batches)",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 40,
        "icon": "file:slack.svg",
        "name": "n8n-nodes-base.slack",
        "codex": {
          "data": {
            "alias": [
              "human",
              "form",
              "wait",
              "hitl",
              "approval"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                  "icon": "👏",
                  "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
                }
              ]
            },
            "categories": [
              "Communication",
              "HITL"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "HITL": [
                "Human in the Loop"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "Slack"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
        },
        "displayName": "Slack",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 28,
            "name": "HITL"
          }
        ]
      },
      {
        "id": 487,
        "icon": "file:notion.svg",
        "name": "n8n-nodes-base.notion",
        "codex": {
          "data": {
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.notion/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/notion/"
                }
              ]
            },
            "categories": [
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "Notion"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjU4Mjc2IDYuOTc2NzlDOC44MjA0NyA3Ljk4MjM4IDkuMjg0NzkgNy45MDU2NiAxMS42MDkxIDcuNzUwNTdMMzMuNTIwNiA2LjQzNDg4QzMzLjk4NTMgNi40MzQ4OCAzMy41OTg5IDUuOTcxMjcgMzMuNDQzOSA1Ljg5NDIzTDI5LjgwNDkgMy4yNjM0OEMyOS4xMDc2IDIuNzIyMTMgMjguMTc4NiAyLjEwMjE3IDI2LjM5ODIgMi4yNTcyNkw1LjE4MTE1IDMuODA0NzZDNC40MDczNiAzLjg4MTQ4IDQuMjUyODIgNC4yNjgzNyA0LjU2MDk2IDQuNTc4NDdMNy41ODI3NiA2Ljk3Njc5Wk04Ljg5ODI5IDEyLjA4MzNWMzUuMTM4MUM4Ljg5ODI5IDM2LjM3NzEgOS41MTc0NiAzNi44NDA3IDEwLjkxMSAzNi43NjRMMzQuOTkxOSAzNS4zNzA2QzM2LjM4NjIgMzUuMjkzOSAzNi41NDE1IDM0LjQ0MTcgMzYuNTQxNSAzMy40MzUyVjEwLjUzNTFDMzYuNTQxNSA5LjUzMDE5IDM2LjE1NDkgOC45ODgyOSAzNS4zMDE0IDkuMDY1NjRMMTAuMTM2NyAxMC41MzUxQzkuMjA3OTkgMTAuNjEzMSA4Ljg5ODIxIDExLjA3NzcgOC44OTgyMSAxMi4wODMzSDguODk4MjlaTTMyLjY3MDggMTMuMzJDMzIuODI1MiAxNC4wMTcgMzIuNjcwOCAxNC43MTMzIDMxLjk3MjUgMTQuNzkxN0wzMC44MTIzIDE1LjAyMjlWMzIuMDQzNEMyOS44MDQ5IDMyLjU4NDggMjguODc1OSAzMi44OTQ0IDI4LjEwMTggMzIuODk0NEMyNi44NjI1IDMyLjg5NDQgMjYuNTUyMSAzMi41MDcyIDI1LjYyMzcgMzEuMzQ3NEwxOC4wMzQzIDE5LjQzMjlWMzAuOTYwNUwyMC40MzU5IDMxLjUwMjRDMjAuNDM1OSAzMS41MDI0IDIwLjQzNTkgMzIuODk0NCAxOC40OTgzIDMyLjg5NDRMMTMuMTU2OCAzMy4yMDQyQzEzLjAwMTYgMzIuODk0NCAxMy4xNTY4IDMyLjEyMTQgMTMuNjk4NiAzMS45NjY1TDE1LjA5MjUgMzEuNTgwMlYxNi4zMzg1TDEzLjE1NzIgMTYuMTgzNEMxMy4wMDE5IDE1LjQ4NjQgMTMuMzg4NSAxNC40ODE0IDE0LjQ3MzMgMTQuNDAzNUwyMC4yMDM1IDE0LjAxNzJMMjguMTAxOCAyNi4wODY4VjE1LjQwOTdMMjYuMDg4MSAxNS4xNzg2QzI1LjkzMzUgMTQuMzI2NSAyNi41NTIxIDEzLjcwNzggMjcuMzI2NSAxMy42MzExTDMyLjY3MDggMTMuMzJaTTMuMzk5NzMgMS43MTU5OEwyNS40Njg4IDAuMDkwNzQ1N0MyOC4xNzkgLTAuMTQxNjg4IDI4Ljg3NjMgMC4wMTQwMjQ1IDMwLjU3OTYgMS4yNTEzNUwzNy42MjQzIDYuMjAyNzZDMzguNzg2NyA3LjA1NDIxIDM5LjE3NDIgNy4yODYwMiAzOS4xNzQyIDguMjE0MTlWMzUuMzcwNkMzOS4xNzQyIDM3LjA3MjYgMzguNTU0MiAzOC4wNzkxIDM2LjM4NjUgMzguMjMzMUwxMC43NTc3IDM5Ljc4MDdDOS4xMzA0OSAzOS44NTgzIDguMzU2MDcgMzkuNjI2NCA3LjUwMzkyIDM4LjU0MjZMMi4zMTYwOCAzMS44MTE3QzEuMzg2NTggMzAuNTcyNiAxIDI5LjY0NTcgMSAyOC41NjEzVjQuNDIyODNDMSAzLjAzMTA1IDEuNjIwMTkgMS44NzAwNSAzLjM5OTczIDEuNzE1OThWMS43MTU5OFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo="
        },
        "displayName": "Notion",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 834,
        "icon": "file:code.svg",
        "name": "n8n-nodes-base.code",
        "codex": {
          "data": {
            "alias": [
              "cpde",
              "Javascript",
              "JS",
              "Python",
              "Script",
              "Custom Code",
              "Function"
            ],
            "details": "The Code node allows you to execute JavaScript in your workflow.",
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Code"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Code",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 836,
        "icon": "file:compare.svg",
        "name": "n8n-nodes-base.compareDatasets",
        "codex": {
          "data": {
            "alias": [
              "Join",
              "Concatenate",
              "Compare",
              "Dataset",
              "Split",
              "Sync",
              "Syncing"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                  "icon": "🏬",
                  "label": "How to synchronize data between two systems (one-way vs. two-way sync"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.comparedatasets/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Compare Datasets"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzODQiIGhlaWdodD0iNTEyIj48cGF0aCBmaWxsPSIjZWQyMzBkIiBkPSJNMzUyIDQ0OEgzMmMtMTcuNjkgMC0zMiAxNC4zMS0zMiAzMnMxNC4zMSAzMS4xIDMyIDMxLjFoMzIwYzE3LjY5IDAgMzItMTQuMzEgMzItMzEuMXMtMTQuMy0zMi0zMi0zMiIvPjxwYXRoIGZpbGw9IiM2MmY3MzAiIGQ9Ik00OCAyMDhoMTEydjExMS4xYzAgMTcuNjkgMTQuMzEgMzEuMSAzMiAzMS4xczMyLTE0LjMxIDMyLTMxLjFWMjA4aDExMmMxNy42OSAwIDMyLTE0LjMyIDMyLTMyLjAxUzM1My42OSAxNDQgMzM2IDE0NEgyMjRWMzJjMC0xNy42OS0xNC4zMS0zMi4wMS0zMi0zMi4wMXMtMzIgMTQuMzQtMzIgMzIuMDJ2MTEySDQ4Yy0xNy42OSAwLTMyIDE0LjMxLTMyIDMxLjk5czE0LjMxIDMyIDMyIDMyIi8+PC9zdmc+"
        },
        "displayName": "Compare Datasets",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 839,
        "icon": "fa:clock",
        "name": "n8n-nodes-base.scheduleTrigger",
        "codex": {
          "data": {
            "alias": [
              "Time",
              "Scheduler",
              "Polling",
              "Cron",
              "Interval"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\",\"schedule\"]",
        "defaults": {
          "name": "Schedule Trigger",
          "color": "#31C49F"
        },
        "iconData": {
          "icon": "clock",
          "type": "icon"
        },
        "displayName": "Schedule Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 844,
        "icon": "fa:filter",
        "name": "n8n-nodes-base.filter",
        "codex": {
          "data": {
            "alias": [
              "Router",
              "Filter",
              "Condition",
              "Logic",
              "Boolean",
              "Branch"
            ],
            "details": "The Filter node can be used to filter items based on a condition. If the condition is met, the item will be passed on to the next node. If the condition is not met, the item will be omitted. Conditions can be combined together by AND(meet all conditions), or OR(meet at least one condition).",
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Filter",
          "color": "#229eff"
        },
        "iconData": {
          "icon": "filter",
          "type": "icon"
        },
        "displayName": "Filter",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1237,
        "icon": "file:limit.svg",
        "name": "n8n-nodes-base.limit",
        "codex": {
          "data": {
            "alias": [
              "Limit",
              "Remove",
              "Slice",
              "Transform",
              "Array",
              "List",
              "Item"
            ],
            "details": "",
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.limit/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Limit"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjMkZCNjdDIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcGF0aD0idXJsKCNhKSIgY2xpcC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNTEyIDQ1OGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC02OGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDY4YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bS0xNDAgMGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC02OGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDY4YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bS0xNDAgMGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC02OGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDY4YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bS0xNDAgMGMwLTYuNjI3LTUuMzczLTEyLTEyLTEySDEyYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjI0YzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNjhjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptMTUyLTIyMmMtNi42MjcgMC0xMi01LjM3My0xMi0xMlYzMGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDI0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTk0YzAgNi42MjctNS4zNzMgMTItMTIgMTJ6Ii8+PHBhdGggZD0iTTE0OS41NzcgMTQ2Ljk4MmM5LjM5OC05LjM0NiAyNC41OTQtOS4zMDQgMzMuOTQxLjA5NUwyNTYgMjE5Ljk2NGw3Mi40ODItNzIuODg3YzkuMzQ3LTkuMzk5IDI0LjU0My05LjQ0MSAzMy45NDEtLjA5NXM5LjQ0MSAyNC41NDMuMDk1IDMzLjk0MWwtODkuNSA5MGEyNCAyNCAwIDAgMS0zNC4wMzYgMGwtODkuNS05MGMtOS4zNDYtOS4zOTgtOS4zMDQtMjQuNTk0LjA5NS0zMy45NDFNMCAzNTBjMC02LjYyNyA1LjM3My0xMiAxMi0xMmg0ODhjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYyNGMwIDYuNjI3LTUuMzczIDEyLTEyIDEySDEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEyeiIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoNTEydjUxMkgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg=="
        },
        "displayName": "Limit",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1238,
        "icon": "file:removeDuplicates.svg",
        "name": "n8n-nodes-base.removeDuplicates",
        "codex": {
          "data": {
            "alias": [
              "Dedupe",
              "Deduplicate",
              "Duplicates",
              "Remove",
              "Unique",
              "Transform",
              "Array",
              "List",
              "Item"
            ],
            "details": "",
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.removeduplicates/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Remove Duplicates"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjNTRCOEM5IiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGQ9Ik0xMzQuMDk3IDExMWgzOC44Mjl2MzIuNTA4SDEzOC4xNnYzNC42MzVoLTMyLjUwOHYtMzguNjk5YzAtMTUuNzA5IDEyLjczNS0yOC40NDQgMjguNDQ1LTI4LjQ0NG03Ny42NTggMzIuNTA4VjExMWg3Ny42NTd2MzIuNTA4em0xMTYuNDg2IDBWMTExaDc3LjY1OHYzMi41MDh6bTExNi40ODcgMFYxMTFoMzguODI5YzE1LjcxIDAgMjguNDQ1IDEyLjczNSAyOC40NDUgMjguNDQ0djM4LjY5OWgtMzIuNTA4di0zNC42MzV6bTM0Ljc2NiA3My4yMzhoMzIuNTA4djM4LjY5OGMwIDE1LjcxLTEyLjczNSAyOC40NDUtMjguNDQ1IDI4LjQ0NWgtMzguODI5di0zMi41MDhoMzQuNzY2ek0wIDI0NC41MzdDMCAyMjkuMzI5IDEyLjczNSAyMTcgMjguNDQ0IDIxN2gzNDkuNDYxYzE1LjcwOSAwIDI4LjQ0NCAxMi4zMjkgMjguNDQ0IDI3LjUzN3YxMjkuODE1YzAgMTUuMjA4LTEyLjczNSAyNy41MzctMjguNDQ0IDI3LjUzN0gyOC40NDVDMTIuNzM0IDQwMS44ODkgMCAzODkuNTYgMCAzNzQuMzUyeiIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoNTEydjUxMkgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg=="
        },
        "displayName": "Remove Duplicates",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1240,
        "icon": "file:sort.svg",
        "name": "n8n-nodes-base.sort",
        "codex": {
          "data": {
            "alias": [
              "Sort",
              "Order",
              "Transform",
              "Array",
              "List",
              "Item",
              "Random"
            ],
            "details": "",
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.sort/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Sort"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjODI4N0VCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMzAuNSA0MjIuNWMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMzUxYzAtNi42MjcgNS4zNzMtMTIgMTItMTJoMjRjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYzNTFjMCA2LjYyNy01LjM3MyAxMi0xMiAxMnoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGZpbGw9IiM4Mjg3RUIiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTM2LjA3NyAzMzMuNDgyYzkuMzk4LTkuMzQ2IDI0LjU5NC05LjMwNCAzMy45NC4wOTVsNzIuNDgzIDcyLjg4NyA3Mi40ODItNzIuODg3YzkuMzQ3LTkuMzk5IDI0LjU0My05LjQ0MSAzMy45NDEtLjA5NXM5LjQ0MSAyNC41NDMuMDk1IDMzLjk0MWwtODkuNSA5MGEyNCAyNCAwIDAgMS0zNC4wMzYgMGwtODkuNS05MGMtOS4zNDYtOS4zOTgtOS4zMDQtMjQuNTk0LjA5NS0zMy45NDFNMzgxLjUgODkuNWM2LjYyNyAwIDEyIDUuMzczIDEyIDEydjM1MWMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC0yNGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMzUxYzAtNi42MjcgNS4zNzMtMTIgMTItMTJ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBmaWxsPSIjODI4N0VCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00NzUuOTIzIDE3OC41MThjLTkuMzk4IDkuMzQ2LTI0LjU5NCA5LjMwNC0zMy45NDEtLjA5NUwzNjkuNSAxMDUuNTM2bC03Mi40ODIgNzIuODg3Yy05LjM0NyA5LjM5OS0yNC41NDMgOS40NDEtMzMuOTQxLjA5NXMtOS40NDEtMjQuNTQzLS4wOTUtMzMuOTQxbDg5LjUtOTBhMjQgMjQgMCAwIDEgMzQuMDM2IDBsODkuNSA5MGM5LjM0NiA5LjM5OCA5LjMwNCAyNC41OTQtLjA5NSAzMy45NDEiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg=="
        },
        "displayName": "Sort",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1250,
        "icon": "file:openAi.svg",
        "name": "@n8n/n8n-nodes-langchain.openAi",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "ChatGPT",
              "Sora",
              "DallE",
              "whisper",
              "audio",
              "transcribe",
              "tts",
              "assistant"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-langchain.openai/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Miscellaneous",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg1IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NiAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MSA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K"
        },
        "displayName": "OpenAI",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 46,
        "name": "Project Management"
      },
      {
        "id": 49,
        "name": "AI Summarization"
      }
    ],
    "image": []
  }
}