n8n_templates/n8n_workflows/14433.json
{
  "workflow": {
    "id": 14433,
    "name": "Orchestrate sustainability lifecycle analytics with GPT-4o, Slack, Gmail and Google Docs",
    "views": 16,
    "recentViews": 1,
    "totalViews": 16,
    "createdAt": "2026-03-29T09:46:08.621Z",
    "description": "## How It Works\nThis workflow automates end-to-end sustainability lifecycle management for corporate sustainability teams, ESG governance officers, and circular economy programme leads. It addresses the challenge of coordinating fragmented sustainability inputs, scheduled monitoring, platform data feeds, and manual initiative submissions into a single governed, auditable reporting pipeline. Data enters from three sources: a lifecycle monitor, an external sustainability data API, and an initiative submission form. Inputs are merged and passed to a Sustainability Orchestrator with shared memory, which delegates to three specialist agents: a Circular Economy Agent (metrics calculation and circular output scoring), a Sustainability Governance Agent (governance evaluation and Slack-based approvals), and a Documentation Agent (ESG document creation). The orchestrator then routes actions for documentation tracking, lifecycle analytics, and governance approvals, before combining results, aggregating metrics, and sending a stakeholder report via Gmail and a summary notification via Slack.\n\n## Setup Steps\n1. Import workflow; configure the lifecycle monitor trigger interval and external sustainability API endpoint URL.\n2. Add AI model credentials to the Sustainability Orchestrator and Documentation Agent.\n3. Connect Slack credentials to the Approval Request Tool and Send Summary Notification nodes.\n4. Link Gmail credentials to the Send Stakeholder Report node.\n5. Configure Google Sheets credentials; set sheet IDs for ESG Documentation, Lifecycle Analytics, and Governance.\n6. Set scoring thresholds in the Metrics Calculator node.\n\n## Prerequisites\n- OpenAI API key (or compatible LLM)\n- Slack workspace with bot credentials\n- Gmail account with OAuth credentials\n- Google Sheets with tracking tabs pre-created\n## Use Cases\n- Enterprises automating circular economy programme scoring across product lines\n## Customisation\n- Swap Circular Economy scoring thresholds to align with GRI, Ellen MacArthur, or regional frameworks\n## Benefits\n- Triple-source ingestion eliminates sustainability data blind spots\n",
    "workflow": {
      "id": "7UEXzZjwXcj4vylR",
      "meta": {
        "instanceId": "b91e510ebae4127f953fd2f5f8d40d58ca1e71c746d4500c12ae86aad04c1502"
      },
      "name": "AI-powered sustainability lifecycle orchestration with circular economy tracking",
      "tags": [],
      "nodes": [
        {
          "id": "fecf6f5d-8193-46b6-8a9f-aa878f2c66ee",
          "name": "Monitor Lifecycle Data",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            208,
            432
          ],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 6
                }
              ]
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "b5f3021f-7096-44a3-a03d-fc48c5524108",
          "name": "Receive Sustainability Data",
          "type": "n8n-nodes-base.webhook",
          "position": [
            480,
            592
          ],
          "webhookId": "cc9dad94-3b66-4c8d-bfce-ce2515634d90",
          "parameters": {
            "path": "sustainability-data",
            "options": {},
            "httpMethod": "POST",
            "responseMode": "lastNode"
          },
          "typeVersion": 2.1
        },
        {
          "id": "f8ca4b4d-b90e-4480-a34e-f90330beb7fc",
          "name": "Initiative Submission Form",
          "type": "n8n-nodes-base.formTrigger",
          "position": [
            480,
            784
          ],
          "webhookId": "6711514e-f2c3-4367-a765-f300d611fab7",
          "parameters": {
            "options": {
              "appendAttribution": false
            },
            "formTitle": "Sustainability Initiative Submission",
            "formFields": {
              "values": [
                {
                  "fieldLabel": "Initiative Type"
                },
                {
                  "fieldType": "textarea",
                  "fieldLabel": "Description"
                },
                {
                  "fieldLabel": "Product/Material"
                },
                {
                  "fieldType": "number",
                  "fieldLabel": "Estimated Impact (kg waste reduced)"
                }
              ]
            },
            "formDescription": "Submit recycling proposals, refurbishment requests, or reuse opportunities"
          },
          "typeVersion": 2.5
        },
        {
          "id": "221aaa67-ac96-4e6c-addd-bb9d25aec0ea",
          "name": "Combine Input Sources",
          "type": "n8n-nodes-base.merge",
          "position": [
            704,
            528
          ],
          "parameters": {
            "numberInputs": 3
          },
          "typeVersion": 3.2
        },
        {
          "id": "5cc83b4c-9887-46c7-9c77-d89050142322",
          "name": "Sustainability Orchestrator",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            1424,
            544
          ],
          "parameters": {
            "text": "={{ $json.body ? JSON.stringify($json.body) : JSON.stringify($json) }}",
            "options": {
              "systemMessage": "You are the Sustainability Orchestrator Agent coordinating circular economy and sustainability governance workflows. Analyze incoming data to determine the appropriate action: delegate to Circular Economy Agent for lifecycle analysis and recycling opportunities, delegate to Sustainability Governance Agent for approvals and compliance validation, or delegate to Documentation Agent for ESG reporting. Return structured output with: action (analyze/approve/document), priority (critical/high/medium/low), delegateTo (circular_economy/governance/documentation), and summary."
            },
            "hasOutputParser": true
          },
          "typeVersion": 3.1
        },
        {
          "id": "25895454-9d58-45c1-8367-0bb3527edf67",
          "name": "Orchestrator Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            896,
            704
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o"
            },
            "options": {
              "temperature": 0.2
            },
            "builtInTools": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "mv2ECvRtbAK63G2g",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "962bb75c-56c0-4279-a73d-82ee577c5bb3",
          "name": "Orchestrator Output Parser",
          "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
          "position": [
            2448,
            976
          ],
          "parameters": {
            "schemaType": "manual",
            "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"action\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"analyze\", \"approve\", \"document\"]\n\t\t},\n\t\t\"priority\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"critical\", \"high\", \"medium\", \"low\"]\n\t\t},\n\t\t\"delegateTo\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"circular_economy\", \"governance\", \"documentation\"]\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"action\", \"priority\", \"delegateTo\", \"summary\"]\n}"
          },
          "typeVersion": 1.3
        },
        {
          "id": "f4de3c3c-0185-43f2-8f0a-fa6e9bc54415",
          "name": "Shared Memory",
          "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
          "position": [
            1056,
            736
          ],
          "parameters": {
            "contextWindowLength": 10
          },
          "typeVersion": 1.3
        },
        {
          "id": "d81876ea-a53c-4da3-a989-6c6bb975d220",
          "name": "Circular Economy Agent",
          "type": "@n8n/n8n-nodes-langchain.agentTool",
          "position": [
            1264,
            976
          ],
          "parameters": {
            "text": "={{ $fromAI('task', 'The product lifecycle data or sustainability initiative to analyze') }}",
            "options": {
              "systemMessage": "You are the Circular Economy Agent specializing in product lifecycle analysis, recycling optimization, and material reuse strategies. Analyze product data to identify: 1) End-of-life recycling opportunities, 2) Material reuse potential, 3) Refurbishment feasibility, 4) Waste reduction metrics (calculate percentages using the calculator tool), 5) Circular economy strategy recommendations. Return structured output with: productId, lifecycleStage, recyclingRate, reuseOpportunities (array), wasteReductionPotential (kg), recommendedStrategy, and complianceStatus."
            },
            "hasOutputParser": true,
            "toolDescription": "Analyzes product lifecycle data, monitors recycling rates, identifies material reuse opportunities, calculates waste reduction metrics, and recommends circular economy strategies"
          },
          "typeVersion": 3
        },
        {
          "id": "72a01d01-1d6e-4f28-b496-0188448ce899",
          "name": "Circular Economy Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            1216,
            1344
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o"
            },
            "options": {
              "temperature": 0.2
            },
            "builtInTools": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "mv2ECvRtbAK63G2g",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "4453c434-0850-4852-9f60-5da6082d8bee",
          "name": "Circular Economy Output",
          "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
          "position": [
            1424,
            1264
          ],
          "parameters": {
            "schemaType": "manual",
            "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"productId\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"lifecycleStage\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"recyclingRate\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"reuseOpportunities\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"wasteReductionPotential\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"recommendedStrategy\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"complianceStatus\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"productId\", \"lifecycleStage\", \"recyclingRate\", \"reuseOpportunities\", \"wasteReductionPotential\", \"recommendedStrategy\", \"complianceStatus\"]\n}"
          },
          "typeVersion": 1.3
        },
        {
          "id": "dce7653d-6d0b-41d9-82b9-ad8ae288ae22",
          "name": "Metrics Calculator",
          "type": "@n8n/n8n-nodes-langchain.toolCalculator",
          "position": [
            1296,
            1184
          ],
          "parameters": {},
          "typeVersion": 1
        },
        {
          "id": "b8437a88-10cd-47b7-8c6f-119577f809d0",
          "name": "Sustainability Governance Agent",
          "type": "@n8n/n8n-nodes-langchain.agentTool",
          "position": [
            1696,
            976
          ],
          "parameters": {
            "text": "={{ $fromAI('task', 'The sustainability initiative or circular economy proposal to evaluate for approval and compliance') }}",
            "options": {
              "systemMessage": "You are the Sustainability Governance Agent responsible for automating approval workflows and validating compliance. For each initiative: 1) Assess compliance with ESG standards and sustainability regulations, 2) Determine approval requirements (auto-approve low-risk, request human approval for high-risk using the approval tool), 3) Validate environmental impact claims, 4) Check regulatory compliance, 5) Recommend governance actions. Return structured output with: initiativeId, complianceScore (0-100), approvalStatus (approved/pending/rejected), riskLevel (low/medium/high/critical), regulatoryCompliance (boolean), requiredActions (array), and approvalRationale."
            },
            "hasOutputParser": true,
            "toolDescription": "Automates approvals for reuse, refurbishment, and recycling initiatives; validates sustainability compliance against ESG standards; manages governance workflows and approval processes"
          },
          "typeVersion": 3
        },
        {
          "id": "652afae9-71e1-484d-ac4c-b449dcc27278",
          "name": "Governance Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            1568,
            1184
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o"
            },
            "options": {
              "temperature": 0.1
            },
            "builtInTools": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "mv2ECvRtbAK63G2g",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "69fae70c-3b6d-4d6e-a071-22acc0b92e2b",
          "name": "Governance Output",
          "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
          "position": [
            1984,
            1184
          ],
          "parameters": {
            "schemaType": "manual",
            "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"initiativeId\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"complianceScore\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"approvalStatus\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"approved\", \"pending\", \"rejected\"]\n\t\t},\n\t\t\"riskLevel\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"low\", \"medium\", \"high\", \"critical\"]\n\t\t},\n\t\t\"regulatoryCompliance\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n\t\t\"requiredActions\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"approvalRationale\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"initiativeId\", \"complianceScore\", \"approvalStatus\", \"riskLevel\", \"regulatoryCompliance\", \"requiredActions\", \"approvalRationale\"]\n}"
          },
          "typeVersion": 1.3
        },
        {
          "id": "0d7c20e2-889f-42a6-8008-a768c45bfaf5",
          "name": "Approval Request Tool",
          "type": "n8n-nodes-base.slackHitlTool",
          "position": [
            1696,
            1184
          ],
          "webhookId": "20336994-6c44-41e6-b991-cc5d24f5e2ca",
          "parameters": {
            "user": {
              "__rl": true,
              "mode": "list",
              "value": ""
            },
            "message": "={{ $fromAI('approval_message', 'The approval request message to send to stakeholders') }}",
            "options": {},
            "authentication": "oAuth2"
          },
          "credentials": {
            "slackOAuth2Api": {
              "id": "d34b1ayEBbvZm2lT",
              "name": "Slack account"
            }
          },
          "typeVersion": 2.4
        },
        {
          "id": "8be09aa0-210b-4bdf-acf0-e151388b5d76",
          "name": "Documentation Agent",
          "type": "@n8n/n8n-nodes-langchain.agentTool",
          "position": [
            2160,
            976
          ],
          "parameters": {
            "text": "={{ $fromAI('task', 'The sustainability data, analysis results, or approval outcomes to document') }}",
            "options": {
              "systemMessage": "You are the Documentation Agent specializing in ESG-aligned sustainability reporting. Generate comprehensive documentation including: 1) Executive summaries of circular economy initiatives, 2) Waste reduction metrics and impact analysis, 3) Compliance validation reports, 4) Stakeholder communications, 5) ESG performance documentation. Use the Google Docs tool to create formatted documents. Return structured output with: documentTitle, documentType (report/summary/communication), keyMetrics (object), recommendations (array), complianceStatus, and stakeholderMessage."
            },
            "hasOutputParser": true,
            "toolDescription": "Generates ESG-aligned sustainability documentation, circular economy reports, compliance summaries, and stakeholder communications based on analysis and approval results"
          },
          "typeVersion": 3
        },
        {
          "id": "b0edc08b-4846-47f2-b0eb-2680f54b2245",
          "name": "Documentation Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            2176,
            1184
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o"
            },
            "options": {
              "temperature": 0.3
            },
            "builtInTools": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "mv2ECvRtbAK63G2g",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "f9e0f15b-06d1-4e81-bbb9-05fc462af05b",
          "name": "Documentation Output",
          "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
          "position": [
            2416,
            1184
          ],
          "parameters": {
            "schemaType": "manual",
            "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"documentTitle\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"documentType\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"report\", \"summary\", \"communication\"]\n\t\t},\n\t\t\"keyMetrics\": {\n\t\t\t\"type\": \"object\"\n\t\t},\n\t\t\"recommendations\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"complianceStatus\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"stakeholderMessage\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"documentTitle\", \"documentType\", \"keyMetrics\", \"recommendations\", \"complianceStatus\", \"stakeholderMessage\"]\n}"
          },
          "typeVersion": 1.3
        },
        {
          "id": "709cee3e-7c62-4521-8275-35eae2b2c73e",
          "name": "Create ESG Document",
          "type": "n8n-nodes-base.googleDocsTool",
          "position": [
            2288,
            1184
          ],
          "parameters": {
            "title": "={{ $fromAI('document_title', 'The title for the ESG sustainability document') }}",
            "folderId": {
              "__rl": true,
              "mode": "id",
              "value": "<__PLACEHOLDER_VALUE__google_drive_folder_id__>"
            },
            "descriptionType": "manual",
            "toolDescription": "Sends approval notification to Slack channel"
          },
          "typeVersion": 2
        },
        {
          "id": "a97fc1f2-4038-44d9-b89d-2d82544a599a",
          "name": "Route by Action",
          "type": "n8n-nodes-base.switch",
          "position": [
            2608,
            528
          ],
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "leftValue": "",
                      "caseSensitive": true
                    },
                    "combinator": "and",
                    "conditions": [
                      {
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "leftValue": "={{ $json.output.action }}",
                        "rightValue": "analyze"
                      }
                    ]
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "leftValue": "",
                      "caseSensitive": true
                    },
                    "combinator": "and",
                    "conditions": [
                      {
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "leftValue": "={{ $json.output.action }}",
                        "rightValue": "approve"
                      }
                    ]
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "leftValue": "",
                      "caseSensitive": true
                    },
                    "combinator": "and",
                    "conditions": [
                      {
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "leftValue": "={{ $json.output.action }}",
                        "rightValue": "document"
                      }
                    ]
                  }
                }
              ]
            },
            "options": {}
          },
          "typeVersion": 3.4
        },
        {
          "id": "ef70424c-ac83-4d6d-a415-74fa7aa199dc",
          "name": "Prepare Lifecycle Data",
          "type": "n8n-nodes-base.set",
          "position": [
            2832,
            544
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "id-1",
                  "name": "productId",
                  "type": "string",
                  "value": "={{ $json.output.summary }}"
                },
                {
                  "id": "id-2",
                  "name": "lifecycleStage",
                  "type": "string",
                  "value": "={{ $json.output.delegateTo }}"
                },
                {
                  "id": "id-3",
                  "name": "recyclingRate",
                  "type": "number",
                  "value": 0
                },
                {
                  "id": "id-4",
                  "name": "wasteReductionPotential",
                  "type": "number",
                  "value": 0
                },
                {
                  "id": "id-5",
                  "name": "recommendedStrategy",
                  "type": "string",
                  "value": "={{ $json.output.summary }}"
                },
                {
                  "id": "id-6",
                  "name": "complianceStatus",
                  "type": "string",
                  "value": "pending"
                },
                {
                  "id": "id-7",
                  "name": "timestamp",
                  "type": "string",
                  "value": "={{ $now.toISO() }}"
                },
                {
                  "id": "id-8",
                  "name": "priority",
                  "type": "string",
                  "value": "={{ $json.output.priority }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "f4b25f18-d0ea-4ea7-9914-89495147c75e",
          "name": "Track Lifecycle Analysis",
          "type": "n8n-nodes-base.dataTable",
          "position": [
            3056,
            544
          ],
          "parameters": {
            "columns": {
              "value": null,
              "mappingMode": "autoMapInputData"
            },
            "options": {},
            "dataTableId": {
              "__rl": true,
              "mode": "id",
              "value": "<__PLACEHOLDER_VALUE__lifecycle_analysis_table__>"
            }
          },
          "typeVersion": 1.1
        },
        {
          "id": "9f4b6dfc-bc15-4309-85e9-12b895c42612",
          "name": "Prepare Governance Data",
          "type": "n8n-nodes-base.set",
          "position": [
            2832,
            736
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "id-1",
                  "name": "initiativeId",
                  "type": "string",
                  "value": "={{ $json.output.summary }}"
                },
                {
                  "id": "id-2",
                  "name": "complianceScore",
                  "type": "number",
                  "value": 0
                },
                {
                  "id": "id-3",
                  "name": "approvalStatus",
                  "type": "string",
                  "value": "={{ $json.output.action }}"
                },
                {
                  "id": "id-4",
                  "name": "riskLevel",
                  "type": "string",
                  "value": "={{ $json.output.priority }}"
                },
                {
                  "id": "id-5",
                  "name": "regulatoryCompliance",
                  "type": "boolean",
                  "value": true
                },
                {
                  "id": "id-6",
                  "name": "approvalRationale",
                  "type": "string",
                  "value": "={{ $json.output.summary }}"
                },
                {
                  "id": "id-7",
                  "name": "timestamp",
                  "type": "string",
                  "value": "={{ $now.toISO() }}"
                },
                {
                  "id": "id-8",
                  "name": "delegatedTo",
                  "type": "string",
                  "value": "={{ $json.output.delegateTo }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "d5a4723d-27cd-4f4e-a066-f6cc352b832b",
          "name": "Track Governance Approvals",
          "type": "n8n-nodes-base.dataTable",
          "position": [
            3056,
            736
          ],
          "parameters": {
            "columns": {
              "value": null,
              "mappingMode": "autoMapInputData"
            },
            "options": {},
            "dataTableId": {
              "__rl": true,
              "mode": "id",
              "value": "<__PLACEHOLDER_VALUE__governance_approvals_table__>"
            }
          },
          "typeVersion": 1.1
        },
        {
          "id": "b004f1bd-28d9-46d1-b49d-f18f40c86e3f",
          "name": "Prepare Documentation Data",
          "type": "n8n-nodes-base.set",
          "position": [
            2832,
            352
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "id-1",
                  "name": "documentTitle",
                  "type": "string",
                  "value": "={{ $json.output.summary }}"
                },
                {
                  "id": "id-2",
                  "name": "documentType",
                  "type": "string",
                  "value": "={{ $json.output.action }}"
                },
                {
                  "id": "id-3",
                  "name": "complianceStatus",
                  "type": "string",
                  "value": "={{ $json.output.delegateTo }}"
                },
                {
                  "id": "id-4",
                  "name": "priority",
                  "type": "string",
                  "value": "={{ $json.output.priority }}"
                },
                {
                  "id": "id-5",
                  "name": "timestamp",
                  "type": "string",
                  "value": "={{ $now.toISO() }}"
                },
                {
                  "id": "id-6",
                  "name": "summary",
                  "type": "string",
                  "value": "={{ $json.output.summary }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "4409c356-2acf-4d8c-b6b7-296575fb33b0",
          "name": "Track ESG Documentation",
          "type": "n8n-nodes-base.dataTable",
          "position": [
            3056,
            352
          ],
          "parameters": {
            "columns": {
              "value": null,
              "mappingMode": "autoMapInputData"
            },
            "options": {},
            "dataTableId": {
              "__rl": true,
              "mode": "id",
              "value": "<__PLACEHOLDER_VALUE__esg_documentation_table__>"
            }
          },
          "typeVersion": 1.1
        },
        {
          "id": "bf2ac576-6cda-4be7-af13-3aa25bf90daa",
          "name": "Fetch External Sustainability Data",
          "type": "n8n-nodes-base.httpRequest",
          "onError": "continueErrorOutput",
          "position": [
            480,
            304
          ],
          "parameters": {
            "url": "<__PLACEHOLDER_VALUE__sustainability_api_endpoint__>",
            "options": {},
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "date",
                  "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
                }
              ]
            }
          },
          "typeVersion": 4.4
        },
        {
          "id": "6d8bfe20-131c-4017-ba35-d9646a9544fc",
          "name": "Combine All Results",
          "type": "n8n-nodes-base.merge",
          "position": [
            3280,
            512
          ],
          "parameters": {
            "numberInputs": 3
          },
          "typeVersion": 3.2
        },
        {
          "id": "6314294f-a9ef-449f-a7c5-5463650896ef",
          "name": "Aggregate Metrics",
          "type": "n8n-nodes-base.aggregate",
          "position": [
            3504,
            528
          ],
          "parameters": {
            "options": {},
            "aggregate": "aggregateAllItemData"
          },
          "typeVersion": 1
        },
        {
          "id": "acddde52-d8d6-4b1f-b6c2-df7ba7b48efd",
          "name": "Send Summary Notification",
          "type": "n8n-nodes-base.slack",
          "position": [
            3728,
            448
          ],
          "webhookId": "1c7e6878-e302-4c40-9649-3907b997801b",
          "parameters": {
            "text": "=🌍 Sustainability Workflow Summary\n\nTotal Items Processed: {{ $json.data.length }}\nTimestamp: {{ $now.toISO() }}\n\nCircular Economy Analysis, Governance Approvals, and ESG Documentation have been completed and tracked.\n\nView detailed metrics in the Data Tables.",
            "select": "channel",
            "channelId": {
              "__rl": true,
              "mode": "id",
              "value": "<__PLACEHOLDER_VALUE__slack_channel_id__>"
            },
            "otherOptions": {
              "includeLinkToWorkflow": false
            },
            "authentication": "oAuth2"
          },
          "credentials": {
            "slackOAuth2Api": {
              "id": "d34b1ayEBbvZm2lT",
              "name": "Slack account"
            }
          },
          "typeVersion": 2.4
        },
        {
          "id": "7fe6c8b4-67d7-42b3-9600-eeebd59bce26",
          "name": "Send Stakeholder Report",
          "type": "n8n-nodes-base.gmail",
          "position": [
            3728,
            640
          ],
          "webhookId": "49700b9e-b8d1-4f7d-8eb0-7bced5c794bd",
          "parameters": {
            "sendTo": "<__PLACEHOLDER_VALUE__stakeholder_email__>",
            "message": "=<h2>Sustainability & Circular Economy Report</h2>\n<p>This report summarizes the latest circular economy initiatives, governance approvals, and ESG documentation activities.</p>\n<h3>Summary</h3>\n<p>Total items processed: {{ $json.data.length }}</p>\n<p>Timestamp: {{ $now.toISO() }}</p>\n<h3>Key Activities</h3>\n<ul>\n<li>Product lifecycle analysis and recycling rate monitoring</li>\n<li>Sustainability governance approvals and compliance validation</li>\n<li>ESG-aligned documentation generation</li>\n</ul>\n<p>For detailed metrics and analysis, please access the sustainability dashboard.</p>",
            "options": {
              "appendAttribution": false
            },
            "subject": "=Sustainability & Circular Economy Report - {{ $now.toFormat('yyyy-MM-dd') }}"
          },
          "credentials": {
            "gmailOAuth2": {
              "id": "u1N5nBDvQ0AWhNnV",
              "name": "Gmail account"
            }
          },
          "typeVersion": 2.2
        },
        {
          "id": "42cb4e7f-da31-4499-bd0c-8f6765b9f553",
          "name": "Send Approval Notification",
          "type": "n8n-nodes-base.slackTool",
          "position": [
            1776,
            1392
          ],
          "webhookId": "a9baafa7-93ab-49be-93f6-b8fa2a3789ac",
          "parameters": {
            "text": "={{ $fromAI('approval_message', 'The approval notification message') }}",
            "select": "channel",
            "channelId": {
              "__rl": true,
              "mode": "id",
              "value": "={{ $fromAI('slack_channel', 'The Slack channel ID for approval notifications') }}"
            },
            "otherOptions": {},
            "authentication": "oAuth2",
            "descriptionType": "manual",
            "toolDescription": "Sends approval notification to Slack channel"
          },
          "credentials": {
            "slackOAuth2Api": {
              "id": "d34b1ayEBbvZm2lT",
              "name": "Slack account"
            }
          },
          "typeVersion": 2.4
        },
        {
          "id": "048c73b5-79f3-43c7-8393-7b37ba484ab8",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1616,
            -144
          ],
          "parameters": {
            "color": 4,
            "width": 672,
            "height": 384,
            "content": "## Prerequisites\n- OpenAI API key (or compatible LLM)\n- Slack workspace with bot credentials\n- Gmail account with OAuth credentials\n- Google Sheets with tracking tabs pre-created\n## Use Cases\n- Enterprises automating circular economy programme scoring across product lines\n## Customisation\n- Swap Circular Economy scoring thresholds to align with GRI, Ellen MacArthur, or regional frameworks\n## Benefits\n- Triple-source ingestion eliminates sustainability data blind spots"
          },
          "typeVersion": 1
        },
        {
          "id": "def24e1e-98a3-49b1-b4c4-300fce972740",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1040,
            -128
          ],
          "parameters": {
            "width": 464,
            "height": 288,
            "content": "## Setup Steps\n1. Import workflow; configure the lifecycle monitor trigger interval and external sustainability API endpoint URL.\n2. Add AI model credentials to the Sustainability Orchestrator and Documentation Agent.\n3. Connect Slack credentials to the Approval Request Tool and Send Summary Notification nodes.\n4. Link Gmail credentials to the Send Stakeholder Report node.\n5. Configure Google Sheets credentials; set sheet IDs for ESG Documentation, Lifecycle Analytics, and Governance.\n6. Set scoring thresholds in the Metrics Calculator node."
          },
          "typeVersion": 1
        },
        {
          "id": "0dc5876b-abd5-4ca1-a92a-63d039a3aaa6",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            224,
            -144
          ],
          "parameters": {
            "width": 768,
            "height": 304,
            "content": "## How It Works\nThis workflow automates end-to-end sustainability lifecycle management for corporate sustainability teams, ESG governance officers, and circular economy programme leads. It addresses the challenge of coordinating fragmented sustainability inputs, scheduled monitoring, platform data feeds, and manual initiative submissions into a single governed, auditable reporting pipeline. Data enters from three sources: a lifecycle monitor, an external sustainability data API, and an initiative submission form. Inputs are merged and passed to a Sustainability Orchestrator with shared memory, which delegates to three specialist agents: a Circular Economy Agent (metrics calculation and circular output scoring), a Sustainability Governance Agent (governance evaluation and Slack-based approvals), and a Documentation Agent (ESG document creation). The orchestrator then routes actions for documentation tracking, lifecycle analytics, and governance approvals, before combining results, aggregating metrics, and sending a stakeholder report via Gmail and a summary notification via Slack."
          },
          "typeVersion": 1
        },
        {
          "id": "23aa1d75-f576-4dab-ba5a-36d258962335",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            2576,
            176
          ],
          "parameters": {
            "color": 7,
            "width": 624,
            "height": 816,
            "content": "## Route by Action\n**Why** — Rules-based routing directs outputs to documentation tracking, lifecycle analytics, or governance approval paths.\n"
          },
          "typeVersion": 1
        },
        {
          "id": "f6055b18-c72c-4862-86e8-14fd4c71c548",
          "name": "Sticky Note4",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1168,
            896
          ],
          "parameters": {
            "color": 7,
            "width": 1424,
            "height": 672,
            "content": "## Governance Approval & ESG Documentation\n**Why** — Routes Slack-based approval requests and auto-generates ESG documents each cycle, eliminating manual oversight and authoring."
          },
          "typeVersion": 1
        },
        {
          "id": "7c78e799-a591-4c51-84ca-3be972009d39",
          "name": "Sticky Note5",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            896,
            416
          ],
          "parameters": {
            "color": 7,
            "width": 848,
            "height": 448,
            "content": "## Sustainability Orchestrator & Specialist Agents\n**Why** — Central coordinator with shared memory delegates tasks to Circular Economy, Governance, and Documentation agents for parallel, context-aware processing."
          },
          "typeVersion": 1
        },
        {
          "id": "260cede7-92d2-4d30-bdb2-d1442abbe297",
          "name": "Sticky Note6",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            176,
            192
          ],
          "parameters": {
            "color": 7,
            "width": 704,
            "height": 880,
            "content": "## Data Ingestion & Normalisation\n**Why** — Triple-source ingestion (scheduled, API, form) merged into a unified record prevents data gaps and fragmentation before orchestration."
          },
          "typeVersion": 1
        },
        {
          "id": "76c8d9fc-67e8-4222-a282-6ca91726a619",
          "name": "Sticky Note7",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            3216,
            192
          ],
          "parameters": {
            "color": 7,
            "width": 720,
            "height": 736,
            "content": "## Aggregate, Report & Notify\n**Why** — Consolidates multi-agent outputs into a metrics summary, then delivers Gmail reports and Slack notifications to stakeholders automatically."
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "binaryMode": "separate",
        "executionOrder": "v1"
      },
      "versionId": "70685529-c7f5-4722-bb77-662365e55655",
      "connections": {
        "Shared Memory": {
          "ai_memory": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "Route by Action": {
          "main": [
            [
              {
                "node": "Prepare Lifecycle Data",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Prepare Governance Data",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Prepare Documentation Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Governance Model": {
          "ai_languageModel": [
            [
              {
                "node": "Sustainability Governance Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Aggregate Metrics": {
          "main": [
            [
              {
                "node": "Send Summary Notification",
                "type": "main",
                "index": 0
              },
              {
                "node": "Send Stakeholder Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Governance Output": {
          "ai_outputParser": [
            [
              {
                "node": "Sustainability Governance Agent",
                "type": "ai_outputParser",
                "index": 0
              }
            ]
          ]
        },
        "Metrics Calculator": {
          "ai_tool": [
            [
              {
                "node": "Circular Economy Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Orchestrator Model": {
          "ai_languageModel": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Combine All Results": {
          "main": [
            [
              {
                "node": "Aggregate Metrics",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create ESG Document": {
          "ai_tool": [
            [
              {
                "node": "Documentation Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Documentation Agent": {
          "ai_tool": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Documentation Model": {
          "ai_languageModel": [
            [
              {
                "node": "Documentation Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Documentation Output": {
          "ai_outputParser": [
            [
              {
                "node": "Documentation Agent",
                "type": "ai_outputParser",
                "index": 0
              }
            ]
          ]
        },
        "Approval Request Tool": {
          "ai_tool": [
            [
              {
                "node": "Sustainability Governance Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Combine Input Sources": {
          "main": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Circular Economy Agent": {
          "ai_tool": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Circular Economy Model": {
          "ai_languageModel": [
            [
              {
                "node": "Circular Economy Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Monitor Lifecycle Data": {
          "main": [
            [
              {
                "node": "Combine Input Sources",
                "type": "main",
                "index": 0
              },
              {
                "node": "Fetch External Sustainability Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Lifecycle Data": {
          "main": [
            [
              {
                "node": "Track Lifecycle Analysis",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Circular Economy Output": {
          "ai_outputParser": [
            [
              {
                "node": "Circular Economy Agent",
                "type": "ai_outputParser",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Governance Data": {
          "main": [
            [
              {
                "node": "Track Governance Approvals",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Track ESG Documentation": {
          "main": [
            [
              {
                "node": "Combine All Results",
                "type": "main",
                "index": 2
              }
            ]
          ]
        },
        "Track Lifecycle Analysis": {
          "main": [
            [
              {
                "node": "Combine All Results",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Initiative Submission Form": {
          "main": [
            [
              {
                "node": "Combine Input Sources",
                "type": "main",
                "index": 2
              }
            ]
          ]
        },
        "Orchestrator Output Parser": {
          "ai_outputParser": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "ai_outputParser",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Documentation Data": {
          "main": [
            [
              {
                "node": "Track ESG Documentation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Send Approval Notification": {
          "ai_tool": [
            [
              {
                "node": "Approval Request Tool",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Track Governance Approvals": {
          "main": [
            [
              {
                "node": "Combine All Results",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Receive Sustainability Data": {
          "main": [
            [
              {
                "node": "Combine Input Sources",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Sustainability Orchestrator": {
          "main": [
            [
              {
                "node": "Route by Action",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Sustainability Governance Agent": {
          "ai_tool": [
            [
              {
                "node": "Sustainability Orchestrator",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Fetch External Sustainability Data": {
          "main": [
            [
              {
                "node": "Combine Input Sources",
                "type": "main",
                "index": 0
              }
            ],
            []
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 41,
      "nodeTypes": {
        "n8n-nodes-base.set": {
          "count": 3
        },
        "n8n-nodes-base.gmail": {
          "count": 1
        },
        "n8n-nodes-base.merge": {
          "count": 2
        },
        "n8n-nodes-base.slack": {
          "count": 1
        },
        "n8n-nodes-base.switch": {
          "count": 1
        },
        "n8n-nodes-base.webhook": {
          "count": 1
        },
        "n8n-nodes-base.aggregate": {
          "count": 1
        },
        "n8n-nodes-base.dataTable": {
          "count": 3
        },
        "n8n-nodes-base.slackTool": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 8
        },
        "n8n-nodes-base.formTrigger": {
          "count": 1
        },
        "n8n-nodes-base.httpRequest": {
          "count": 1
        },
        "n8n-nodes-base.slackHitlTool": {
          "count": 1
        },
        "n8n-nodes-base.googleDocsTool": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 1
        },
        "n8n-nodes-base.scheduleTrigger": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agentTool": {
          "count": 3
        },
        "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
          "count": 4
        },
        "@n8n/n8n-nodes-langchain.toolCalculator": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.outputParserStructured": {
          "count": 4
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "Cheng Siong Chin",
      "username": "cschin",
      "bio": "Dr. Cheng Siong CHIN is an n8n workflow creator specializing in AI-powered automation, agent orchestration, and intelligent system integrations. He designs and builds end-to-end workflows that combine LLMs, APIs, and data pipelines to streamline complex processes and deliver production-ready automation solutions. Contact me to discuss custom AI workflows and agent architectures.\n",
      "verified": true,
      "links": [
        "https://gravatar.com/mysticluminary9fa255f7f5"
      ],
      "avatar": "https://gravatar.com/avatar/54544f98e839bb9dd9a764ad1e6823eeddb6db5138d201e42f291a7b0a73303f?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 19,
        "icon": "file:httprequest.svg",
        "name": "n8n-nodes-base.httpRequest",
        "codex": {
          "data": {
            "alias": [
              "API",
              "Request",
              "URL",
              "Build",
              "cURL"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                  "icon": "🎨",
                  "label": "Automate Designs with Bannerbear and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                  "icon": "🧰",
                  "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "HTTP Request",
          "color": "#0004F5"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "HTTP Request",
        "typeVersion": 4,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 24,
        "icon": "file:merge.svg",
        "name": "n8n-nodes-base.merge",
        "codex": {
          "data": {
            "alias": [
              "Join",
              "Concatenate",
              "Wait"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                  "icon": "🏬",
                  "label": "How to synchronize data between two systems (one-way vs. two-way sync"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.merge/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Merge"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTc3XzUxOCkiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNDhDMCAyMS40OTAzIDIxLjQ5MDMgMCA0OCAwSDExMkMxMzguNTEgMCAxNjAgMjEuNDkwMyAxNjAgNDhWNTZIMTk2LjI1MkMyNDAuNDM1IDU2IDI3Ni4yNTIgOTEuODE3MiAyNzYuMjUyIDEzNlYxOTJDMjc2LjI1MiAyMTQuMDkxIDI5NC4xNjEgMjMyIDMxNi4yNTIgMjMySDM1MlYyMjRDMzUyIDE5Ny40OSAzNzMuNDkgMTc2IDQwMCAxNzZINDY0QzQ5MC41MSAxNzYgNTEyIDE5Ny40OSA1MTIgMjI0VjI4OEM1MTIgMzE0LjUxIDQ5MC41MSAzMzYgNDY0IDMzNkg0MDBDMzczLjQ5IDMzNiAzNTIgMzE0LjUxIDM1MiAyODhWMjgwSDMxNi4yNTJDMjk0LjE2MSAyODAgMjc2LjI1MiAyOTcuOTA5IDI3Ni4yNTIgMzIwVjM3NkMyNzYuMjUyIDQyMC4xODMgMjQwLjQzNSA0NTYgMTk2LjI1MiA0NTZIMTYwVjQ2NEMxNjAgNDkwLjUxIDEzOC41MSA1MTIgMTEyIDUxMkg0OEMyMS40OTAzIDUxMiAwIDQ5MC41MSAwIDQ2NFY0MDBDMCAzNzMuNDkgMjEuNDkwMyAzNTIgNDggMzUySDExMkMxMzguNTEgMzUyIDE2MCAzNzMuNDkgMTYwIDQwMFY0MDhIMTk2LjI1MkMyMTMuOTI1IDQwOCAyMjguMjUyIDM5My42NzMgMjI4LjI1MiAzNzZWMzIwQzIyOC4yNTIgMjk0Ljc4NCAyMzguODU5IDI3Mi4wNDQgMjU1Ljg1MyAyNTZDMjM4Ljg1OSAyMzkuOTU2IDIyOC4yNTIgMjE3LjIxNiAyMjguMjUyIDE5MlYxMzZDMjI4LjI1MiAxMTguMzI3IDIxMy45MjUgMTA0IDE5Ni4yNTIgMTA0SDE2MFYxMTJDMTYwIDEzOC41MSAxMzguNTEgMTYwIDExMiAxNjBINDhDMjEuNDkwMyAxNjAgMCAxMzguNTEgMCAxMTJWNDhaTTEwNCA0OEMxMDguNDE4IDQ4IDExMiA1MS41ODE3IDExMiA1NlYxMDRDMTEyIDEwOC40MTggMTA4LjQxOCAxMTIgMTA0IDExMkg1NkM1MS41ODE3IDExMiA0OCAxMDguNDE4IDQ4IDEwNFY1NkM0OCA1MS41ODE3IDUxLjU4MTcgNDggNTYgNDhIMTA0Wk00NTYgMjI0QzQ2MC40MTggMjI0IDQ2NCAyMjcuNTgyIDQ2NCAyMzJWMjgwQzQ2NCAyODQuNDE4IDQ2MC40MTggMjg4IDQ1NiAyODhINDA4QzQwMy41ODIgMjg4IDQwMCAyODQuNDE4IDQwMCAyODBWMjMyQzQwMCAyMjcuNTgyIDQwMy41ODIgMjI0IDQwOCAyMjRINDU2Wk0xMTIgNDA4QzExMiA0MDMuNTgyIDEwOC40MTggNDAwIDEwNCA0MDBINTZDNTEuNTgxNyA0MDAgNDggNDAzLjU4MiA0OCA0MDhWNDU2QzQ4IDQ2MC40MTggNTEuNTgxNyA0NjQgNTYgNDY0SDEwNEMxMDguNDE4IDQ2NCAxMTIgNDYwLjQxOCAxMTIgNDU2VjQwOFoiIGZpbGw9IiM1NEI4QzkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTc3XzUxOCI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Merge",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 38,
        "icon": "fa:pen",
        "name": "n8n-nodes-base.set",
        "codex": {
          "data": {
            "alias": [
              "Set",
              "JS",
              "JSON",
              "Filter",
              "Transform",
              "Map"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                  "icon": "📡",
                  "label": "Database Monitoring and Alerting with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Edit Fields"
        },
        "iconData": {
          "icon": "pen",
          "type": "icon"
        },
        "displayName": "Edit Fields (Set)",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 40,
        "icon": "file:slack.svg",
        "name": "n8n-nodes-base.slack",
        "codex": {
          "data": {
            "alias": [
              "human",
              "form",
              "wait",
              "hitl",
              "approval"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                  "icon": "👏",
                  "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
                }
              ]
            },
            "categories": [
              "Communication",
              "HITL"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "HITL": [
                "Human in the Loop"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "Slack"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
        },
        "displayName": "Slack",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 28,
            "name": "HITL"
          }
        ]
      },
      {
        "id": 47,
        "icon": "file:webhook.svg",
        "name": "n8n-nodes-base.webhook",
        "codex": {
          "data": {
            "alias": [
              "HTTP",
              "API",
              "Build",
              "WH"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                  "icon": "👏",
                  "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                  "label": "How to automate every step of an incident response workflow"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "Webhook"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
        },
        "displayName": "Webhook",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 112,
        "icon": "fa:map-signs",
        "name": "n8n-nodes-base.switch",
        "codex": {
          "data": {
            "alias": [
              "Router",
              "If",
              "Path",
              "Filter",
              "Condition",
              "Logic",
              "Branch",
              "Case"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                  "icon": "🏷️",
                  "label": "How to automatically manage contributions to open-source projects"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.switch/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Switch",
          "color": "#506000"
        },
        "iconData": {
          "icon": "map-signs",
          "type": "icon"
        },
        "displayName": "Switch",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 356,
        "icon": "file:gmail.svg",
        "name": "n8n-nodes-base.gmail",
        "codex": {
          "data": {
            "alias": [
              "email",
              "human",
              "form",
              "wait",
              "hitl",
              "approval"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                  "icon": "💪",
                  "label": "Using Automation to Boost Productivity in the Workplace"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Communication",
              "HITL"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "HITL": [
                "Human in the Loop"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Gmail"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
        },
        "displayName": "Gmail",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 6,
            "name": "Communication"
          },
          {
            "id": 28,
            "name": "HITL"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 839,
        "icon": "fa:clock",
        "name": "n8n-nodes-base.scheduleTrigger",
        "codex": {
          "data": {
            "alias": [
              "Time",
              "Scheduler",
              "Polling",
              "Cron",
              "Interval"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\",\"schedule\"]",
        "defaults": {
          "name": "Schedule Trigger",
          "color": "#31C49F"
        },
        "iconData": {
          "icon": "clock",
          "type": "icon"
        },
        "displayName": "Schedule Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1153,
        "icon": "file:openAiLight.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "OpenAI Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1163,
        "icon": "fa:database",
        "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Memory"
              ],
              "Memory": [
                "For beginners"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Simple Memory"
        },
        "iconData": {
          "icon": "database",
          "type": "icon"
        },
        "displayName": "Simple Memory",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1179,
        "icon": "fa:code",
        "name": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "codex": {
          "data": {
            "alias": [
              "json",
              "zod"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.outputparserstructured/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Output Parsers"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Structured Output Parser"
        },
        "iconData": {
          "icon": "code",
          "type": "icon"
        },
        "displayName": "Structured Output Parser",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1195,
        "icon": "fa:calculator",
        "name": "@n8n/n8n-nodes-langchain.toolCalculator",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.toolcalculator/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Tools"
              ],
              "Tools": [
                "Other Tools"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Calculator"
        },
        "iconData": {
          "icon": "calculator",
          "type": "icon"
        },
        "displayName": "Calculator",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1225,
        "icon": "file:form.svg",
        "name": "n8n-nodes-base.formTrigger",
        "codex": {
          "data": {
            "alias": [
              "table",
              "submit",
              "post"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.formtrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Other Trigger Nodes"
              ]
            }
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "On form submission"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0MCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwQjdCQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzQuOTc4IDM3LjczMmExLjU2IDEuNTYgMCAwIDEtMS41NjIgMS41NjNINi4yNmExLjU2IDEuNTYgMCAwIDEtMS41NjMtMS41NjNWOS42MDdjMC0uNDA1LjE1Ny0uNzk0LjQzOC0xLjA4Nmw2LjMwNC02LjUzMXY1LjM0NEg4LjIxM2ExLjE3MiAxLjE3MiAwIDEgMCAwIDIuMzQzaDQuNDNhMS4xNyAxLjE3IDAgMCAwIDEuMTcxLTEuMTcxVi4yMzJoMTkuNjAyYTEuNTYgMS41NiAwIDAgMSAxLjU2MiAxLjU2M3YxMC4zMjdsLTIuODYgMi44Ni04LjI1MiA4LjI3NmE0MTMuMDA2IDQxMy4wMDYgMCAwIDEtMS42NTQgMS42NjJsLS4zMzcuMzM3YTIgMiAwIDAgMC0uNTU3IDEuMDhMMjAuMyAzMS45MjJjLS4xMDguNjM4LS4yMTUgMS4wNzkuMjExIDEuNDE4LjQwMy4zMi45LjE3NCAxLjU0LjA2Nmw1LjQwOC0uOTI4YTIgMiAwIDAgMCAxLjA4LS41NTZsNi40NC02LjQyOXptLTI0LjAzLTIxLjI2NWExLjE4IDEuMTggMCAwIDAgMS4xNzEgMS4xNzJoMTMuMTYzYTEuMTcyIDEuMTcyIDAgMSAwIDAtMi4zNDRIMTIuMTE5YTEuMTcgMS4xNyAwIDAgMC0xLjE3MiAxLjE3Mm03LjI5NCAxNC43NjZhMS4xNyAxLjE3IDAgMCAwLTEuMTcyLTEuMTcySDEyLjEyYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNC45NTFhMS4xNyAxLjE3IDAgMCAwIDEuMTcyLTEuMTcybS44Ni03LjM5MWExLjE3IDEuMTcgMCAwIDAtMS4xNzItMS4xNzJoLTUuODExYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNS44MWExLjE2NCAxLjE2NCAwIDAgMCAxLjE3My0xLjE3MSIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggZmlsbD0iIzAwQjdCQyIgZD0ibTMzLjUzMiAxNi4zOTcgNC4yODktNC4yODkgMy43NTggMy43MSAxLjYxNy0xLjYxNiAyLjI1OCAyLjI1N2MuMjE4LjIxOC4zNC41MTMuMzQzLjgyLS4wMDIuMzExLS4xMjUuNjA4LS4zNDQuODNsLTYuODA0IDYuNzk2YTEuMTMgMS4xMyAwIDAgMS0uODI4LjM0MyAxLjE1IDEuMTUgMCAwIDEtLjgyOC0uMzQzIDEuMTggMS4xOCAwIDAgMSAwLTEuNjU3bDUuOTc2LTUuOTY4LTEuMzEyLTEuMzEzLTEuMzgzIDEuNDE0LTEzLjE0OSAxMy4xMjUtNC42MTcuNzgyLjc4Mi00LjYxNy4zMzYtLjMzNyAyLjU2MiAyLjU1NWExLjEgMS4xIDAgMCAwIC44MjguMzQ0Yy4zMTIuMDA1LjYxMi0uMTIuODI4LS4zNDRhMS4xOCAxLjE4IDAgMCAwIDAtMS42NTZsLTIuNTYyLTIuNTYyek00NC43MzYgMTIuMjRjMCAuNDE0LS4xNjMuODEtLjQ1NCAxLjEwMmwtLjkyMi45MTQtMy44NTItMy44MjguOTMtLjkzYTEuNTYzIDEuNTYzIDAgMCAxIDIuMjAzIDBsMS42NCAxLjY0MWMuMjkxLjI5My40NTUuNjkuNDU1IDEuMTAyIi8+PC9zdmc+"
        },
        "displayName": "n8n Form Trigger",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1236,
        "icon": "file:aggregate.svg",
        "name": "n8n-nodes-base.aggregate",
        "codex": {
          "data": {
            "alias": [
              "Aggregate",
              "Combine",
              "Flatten",
              "Transform",
              "Array",
              "List",
              "Item"
            ],
            "details": "",
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.aggregate/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Aggregate"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjRkY2RDVBIiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMyIDE0OGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDE0NmM2LjYyNyAwIDEyIDUuMzczIDEyIDEydjI0YzAgNi42MjctNS4zNzMgMTItMTIgMTJINDRjLTYuNjI3IDAtMTItNS4zNzMtMTItMTJ6bTAgOTZjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxNDZjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYyNGMwIDYuNjI3LTUuMzczIDEyLTEyIDEySDQ0Yy02LjYyNyAwLTEyLTUuMzczLTEyLTEyem0wIDk2YzAtNi42MjcgNS4zNzMtMTIgMTItMTJoMTQ2YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjRjMCA2LjYyNy01LjM3MyAxMi0xMiAxMkg0NGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik03NCA3NmMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDExNi4yMTdjMTcuNjczIDAgMzIgMTQuMzI3IDMyIDMydjU2YzAgMjYuOTc4IDEwLjI3MiA1MS41NTcgMjcuMTE5IDcwLjAzOSA1LjA1NSA1LjU0NSA1LjA1NSAxNC4zNzcgMCAxOS45MjItMTYuODQ3IDE4LjQ4Mi0yNy4xMTkgNDMuMDYxLTI3LjExOSA3MC4wMzl2NTZjMCAxNy42NzMtMTQuMzI3IDMyLTMyIDMySDg2Yy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjI0YzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoMTE2LjIxN2M0NC4xODMgMCA4MC0zNS44MTcgODAtODB2LTU2YzAtMzAuOTI4IDI1LjA3Mi01NiA1Ni01NmE1Ljc4MyA1Ljc4MyAwIDAgMCA1Ljc4My01Ljc4M3YtMzYuNDM0YTUuNzgzIDUuNzgzIDAgMCAwLTUuNzgzLTUuNzgzYy0zMC45MjggMC01Ni0yNS4wNzItNTYtNTZ2LTU2YzAtNDQuMTgzLTM1LjgxNy04MC04MC04MEg4NmMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zNzYgMjQ0YzAtNi42MjcgNS4zNzMtMTIgMTItMTJoMTEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjRjMCA2LjYyNy01LjM3MyAxMi0xMiAxMkgzODhjLTYuNjI3IDAtMTItNS4zNzMtMTItMTJ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4="
        },
        "displayName": "Aggregate",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1310,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agentTool",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Tools"
              ],
              "Tools": [
                "Recommended Tools"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent Tool",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent Tool",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1315,
        "icon": "fa:table",
        "name": "n8n-nodes-base.dataTable",
        "codex": {
          "data": {
            "alias": [
              "data",
              "table",
              "knowledge",
              "data table",
              "table",
              "sheet",
              "database",
              "data base",
              "mysql",
              "postgres",
              "postgresql",
              "airtable",
              "supabase",
              "noco",
              "notion"
            ],
            "details": "Data table",
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.datatable/"
                }
              ]
            },
            "categories": [
              "Core Nodes",
              "Development"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\",\"transform\"]",
        "defaults": {
          "name": "Data table"
        },
        "iconData": {
          "icon": "table",
          "type": "icon"
        },
        "displayName": "Data table",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 5,
        "name": "Engineering"
      },
      {
        "id": 48,
        "name": "AI RAG"
      }
    ],
    "image": []
  }
}