n8n_templates/n8n_workflows/14553.json
{
  "workflow": {
    "id": 14553,
    "name": "Triage video bug support tickets using WayinVideo and GPT-4o-mini to Google Sheets",
    "views": 2,
    "recentViews": 1,
    "totalViews": 2,
    "createdAt": "2026-04-01T11:34:09.232Z",
    "description": "Submit a screen recording URL, customer name, and bug type through a simple web form. The workflow automatically scans the recording using [WayinVideo](https://wayin.ai/api/) AI to pinpoint the exact moment the bug occurs, then uses GPT-4o-mini to write a structured support ticket with priority, steps to reproduce, and a fix suggestion. The completed ticket is saved instantly as a new row in your Google Sheet — ready for your dev team. Built for support agents, QA teams, and SaaS companies who want to triage bugs faster without manual video scrubbing.\n\n---\n\n## What This Workflow Does\n\n- **AI bug detection** — Sends the screen recording to WayinVideo, which scans the video and finds the exact timestamp where the bug occurs\n- **Smart polling loop** — Automatically waits 45 seconds then checks for results, retrying until WayinVideo returns the bug moments\n- **Structured ticket generation** — GPT-4o-mini reads the bug moment data and writes a full support ticket with priority level, steps to reproduce, expected vs actual behaviour, and a suggested fix\n- **Auto-triage and assignment** — The AI decides severity (Critical to Low) and which team should own it (Backend, Frontend, QA, DevOps, or Product)\n- **Google Sheets logging** — Every ticket is saved with customer name, bug type, recording URL, timestamp, ticket content, status, and submission date\n- **Web form trigger** — A built-in form lets any support agent submit a bug report without touching n8n directly\n\n---\n\n## Setup Requirements\n\n### Tools you'll need\n\n- Active n8n instance (self-hosted or n8n Cloud)\n- WayinVideo account + API key (for AI video bug detection)\n- OpenAI API key (GPT-4o-mini for ticket generation)\n- Google account with Google Sheets OAuth access\n\n**Estimated Setup Time: 10–15 minutes**\n\n---\n\n## Step-by-Step Setup\n\n1. **Get your WayinVideo API key** — Sign in to your WayinVideo account at [WayinVideo](https://wayin.ai/api/), go to your API settings, and copy your key.\n\n2. **Add the WayinVideo key to the Find Bug Moments step** — Open the node called **2. WayinVideo — Find Bug Moments** and replace `YOUR_WAYINVIDEO_API_KEY` in the Authorization header with your actual key.\n\n3. **Add the WayinVideo key to the Get Bug Moments step** — Open the node called **4. WayinVideo — Get Bug Moments** and replace `YOUR_WAYINVIDEO_API_KEY` in the Authorization header with your actual key.\n\n   &gt; ⚠️ Your WayinVideo API key appears in **two nodes** — replace it in both **2. WayinVideo — Find Bug Moments** and **4. WayinVideo — Get Bug Moments** or the workflow will fail.\n\n4. **Add your OpenAI API key** — In n8n, go to Credentials and create a new OpenAI credential. Paste your API key there. Then connect that credential to the node called **6a. OpenAI — Chat Model (GPT-4o-mini)**.\n\n5. **Create your Google Sheet** — Make a new Google Sheet with a tab named exactly **Bug Tickets**. Add these column headers in row 1:\n\n   | Customer Name | Bug Type | Recording URL | Bug Moments Found | Top Bug Timestamp | Bug Ticket | Status | Date Submitted |\n\n6. **Connect your Google account** — In n8n, create a Google Sheets OAuth2 credential and connect your Google account. Apply that credential to the node called **7. Google Sheets — Save Bug Ticket**.\n\n7. **Add your Google Sheet ID** — Open the node **7. Google Sheets — Save Bug Ticket** and replace `YOUR_GOOGLE_SHEET_ID` with your actual Sheet ID. You can find this in the Google Sheet URL — it is the long string of characters between `/d/` and `/edit`.\n\n8. **Activate the workflow** — Toggle the workflow to Active. Open the form URL from the **1. Form — Bug Recording + Details** node and submit a test bug report to confirm everything is working.\n---\n\n## How It Works (Step by Step)\n\n**Step 1 — Web Form (Bug Recording + Details)**\nA support agent opens a web form and fills in three fields: the screen recording URL, the customer's name, and the type of bug (for example: Login Error, Payment Failure, or App Crash). Submitting the form kicks off the entire workflow automatically.\n\n**Step 2 — WayinVideo — Find Bug Moments**\nThe recording URL is sent to the WayinVideo API with an instruction to search for moments matching the reported bug type. WayinVideo scans the video using AI and starts building a list of the most relevant bug moments, including timestamps and relevance scores. The API returns a job ID that is used in the next steps.\n\n**Step 3 — Wait 45 Seconds**\nThe workflow pauses for 45 seconds to give WayinVideo time to process the video before checking for results.\n\n**Step 4 — WayinVideo — Get Bug Moments**\nUsing the job ID from Step 2, the workflow requests the results from WayinVideo. This returns a list of clips, each with a title, description, start and end timestamp, and a relevance score.\n\n**Step 5 — Check: Bug Moments Found?**\nThe workflow checks whether WayinVideo has returned any bug moment clips yet.\n- **If yes** — it moves forward to generate the ticket.\n- **If no** — it loops back to Step 3, waits another 45 seconds, and checks again.\n\n&gt; ⚠️ If WayinVideo never returns results (for example, if the URL is broken or the video format is unsupported), this loop will repeat indefinitely. Consider adding a retry limit to avoid runaway executions.\n\n**Step 6 — AI Agent — Generate Bug Ticket**\nGPT-4o-mini receives the customer details from the form and the bug moment data from WayinVideo. It writes a complete structured support ticket covering: a one-sentence bug summary, priority level, bug category, exact video timestamp, steps to reproduce, expected vs actual behaviour, which team to assign it to, and a suggested fix.\n\n**Step 7 — Google Sheets — Save Bug Ticket**\nThe completed ticket is appended as a new row in your Google Sheet. The row includes the customer name, bug type, recording URL, number of bug moments found, the top bug timestamp, the full ticket text, a status of \"Open\", and the submission date and time.\n\n---\n\n## Key Features\n\n✅ **Exact bug timestamp detection** — WayinVideo pinpoints the precise moment in the recording where the bug occurs, so your dev team doesn't have to watch the whole video\n✅ **Auto-priority assignment** — GPT-4o-mini assigns Critical, High, Medium, or Low priority based on the type of bug reported\n✅ **Auto-team routing** — The AI decides whether the ticket belongs to Backend Dev, Frontend Dev, QA, DevOps, or Product — no manual triage needed\n✅ **Smart retry loop** — The workflow polls WayinVideo automatically every 45 seconds until results are ready, with no manual intervention required\n✅ **Structured ticket format** — Every ticket follows the same format with all required fields, making it consistent and ready to import into any project management tool\n✅ **Zero-code form** — Support agents submit bug reports through a hosted web form — no n8n access needed\n✅ **Full audit trail in Sheets** — Every ticket is logged with submission date, recording URL, and status so nothing falls through the cracks\n\n---\n\n## Customisation Options\n\n**Capture more bug moments** — In the node **2. WayinVideo — Find Bug Moments**, change `\"limit\": 3` to `\"limit\": 5` to detect up to five bug moments per recording instead of three.\n\n**Use a more powerful AI model** — In the node **6a. OpenAI — Chat Model (GPT-4o-mini)**, switch from `gpt-4o-mini` to `gpt-4o` for higher-quality ticket writing on complex or ambiguous bugs.\n\n**Send instant Slack alerts** — Add a Slack node after **7. Google Sheets — Save Bug Ticket** to notify your dev channel as soon as a new ticket is saved, including the priority level and timestamp.\n\n**Add a max-retry counter** — To prevent the polling loop from running forever, add a counter variable that increments each loop and an extra condition in **5. If — Bug Moments Found?** to stop after a set number of attempts (for example, 10 retries).\n\n**Push tickets to Jira or Linear** — Replace or add after the Google Sheets node an HTTP Request node that calls the Jira or Linear API to create an issue automatically from the generated ticket content.\n\n**Support multiple languages** — Change `\"target_lang\": \"en\"` in **2. WayinVideo — Find Bug Moments** to another language code (for example `\"fr\"` or `\"de\"`) to handle recordings in other languages.\n\n---\n\n## Support\n\nNeed help setting this up or want a custom version built for your team or agency?\n\n📧 Email: [info@isawow.com](info@isawow.com)\n🌐 Website: [https://isawow.com/](https://isawow.com/)",
    "workflow": {
      "meta": {
        "instanceId": "bc8ca75c203589705ae2e446cad7181d6f2a7cc1766f958ef9f34810e53b8cb2"
      },
      "nodes": [
        {
          "id": "cb2a1099-23d0-4f51-a63a-79d25ce0aec0",
          "name": "Main — Overview & Setup",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            0,
            -192
          ],
          "parameters": {
            "width": 400,
            "height": 860,
            "content": "## AI Bug Ticket Generator — WayinVideo + GPT-4o-mini + Google Sheets\nAutomatically triage customer bug reports from screen recordings. WayinVideo AI finds the exact bug moment in the video, GPT-4o-mini generates a structured support ticket, and it is saved to Google Sheets.\n\n### How it works\n1. A support agent submits a screen recording URL, customer name, and bug type via the web form.\n2. WayinVideo scans the recording to find the exact bug moment using AI.\n3. GPT-4o-mini analyzes the moment and generates a structured ticket (priority, steps to reproduce, fix suggestion).\n4. The completed ticket is appended to a Google Sheet for the support team.\n\n### Setup\n1. Replace YOUR_WAYINVIDEO_API_KEY in nodes \"2. WayinVideo — Find Bug Moments\" and \"4. WayinVideo — Get Bug Moments\".\n2. Add your OpenAI API key to the credential in node \"6a. OpenAI — Chat Model\".\n3. Replace YOUR_GOOGLE_SHEET_ID in node \"7. Google Sheets — Save Bug Ticket\".\n4. Connect your Google account in node \"7. Google Sheets — Save Bug Ticket\" via OAuth2.\n\n### Customization tips\n- Increase limit from 3 to 5 in node 2 to capture more bug moments.\n- Swap gpt-4o-mini for gpt-4o for higher-quality ticket generation.\n- Add a Slack node after step 7 to notify the dev team instantly."
          },
          "typeVersion": 1
        },
        {
          "id": "d9177c75-be48-44c0-b100-3795682426f4",
          "name": "Section — Input",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            432,
            0
          ],
          "parameters": {
            "color": 5,
            "width": 260,
            "height": 116,
            "content": "## 1. Input\nSupport agent submits a screen recording URL, customer name, and bug type via a web form."
          },
          "typeVersion": 1
        },
        {
          "id": "26209167-b590-4d98-b8dd-5307706fb2d4",
          "name": "Section — WayinVideo Bug Detection",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            736,
            0
          ],
          "parameters": {
            "color": 5,
            "width": 740,
            "height": 116,
            "content": "## 2. WayinVideo Bug Detection\nSubmits the recording to WayinVideo to find the exact bug moment. Waits 45s then polls for results."
          },
          "typeVersion": 1
        },
        {
          "id": "d3ec4e29-9ef6-4628-8a91-d8680a3da86c",
          "name": "Section — AI Ticket + Save",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1504,
            0
          ],
          "parameters": {
            "color": 5,
            "width": 900,
            "height": 116,
            "content": "## 3. AI Ticket Generation + Save\nIf bug moments found, GPT-4o-mini generates a structured ticket and saves it to Google Sheets. If not yet ready, loops back to wait 45s and poll again."
          },
          "typeVersion": 1
        },
        {
          "id": "669cb4a9-bdab-4271-a0ad-49f4a4062880",
          "name": "Warning — Infinite Loop Risk",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1472,
            512
          ],
          "parameters": {
            "color": 3,
            "width": 480,
            "height": 140,
            "content": "## ⚠️ WARNING — Infinite Loop Risk\nIf WayinVideo never returns bug moments (invalid URL or unsupported format), this workflow loops forever. Add a max-retry counter to the If node to prevent runaway executions."
          },
          "typeVersion": 1
        },
        {
          "id": "ad5f1f47-ca06-40b6-a6c4-af449bdfcd55",
          "name": "Warning — Hardcoded API Key",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            736,
            352
          ],
          "parameters": {
            "color": 3,
            "width": 480,
            "height": 140,
            "content": "## ⚠️ WARNING — Hardcoded API Key\nThe WayinVideo API key is stored in plain text inside node parameters. Move it to an n8n Credential (Header Auth) for security before sharing this workflow."
          },
          "typeVersion": 1
        },
        {
          "id": "69cf641d-65f0-4a9c-8553-6d09e8fb2571",
          "name": "1. Form — Bug Recording + Details",
          "type": "n8n-nodes-base.formTrigger",
          "position": [
            464,
            144
          ],
          "webhookId": "1b95a318-59d4-4b7c-bf41-681a7ea0b13e",
          "parameters": {
            "options": {},
            "formTitle": "🐛 Support Ticket — Video Bug Triage",
            "formFields": {
              "values": [
                {
                  "fieldLabel": "Screen Recording URL",
                  "placeholder": "https://zoom.us/rec/xxxxxxx or Loom/Drive link",
                  "requiredField": true
                },
                {
                  "fieldLabel": "Customer Name",
                  "placeholder": "e.g. Rahul Sharma / Acme Corp",
                  "requiredField": true
                },
                {
                  "fieldLabel": "Bug Type",
                  "placeholder": "e.g. Login Error, Payment Failure, UI Bug, App Crash",
                  "requiredField": true
                }
              ]
            },
            "formDescription": "Submit a customer bug screen recording URL — AI will find the exact bug moment and create a support ticket automatically."
          },
          "typeVersion": 2.2
        },
        {
          "id": "fc5ff939-a877-4840-98bd-4ba302aad0ac",
          "name": "2. WayinVideo — Find Bug Moments",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            736,
            144
          ],
          "parameters": {
            "url": "https://wayinvideo-api.wayin.ai/api/v2/clips/find-moments",
            "method": "POST",
            "options": {},
            "jsonBody": "={\n  \"video_url\": \"{{ $json['Screen Recording URL'] }}\",\n  \"query\": \"{{ $json['Bug Type'] }} error or problem moment\",\n  \"project_name\": \"Bug - {{ $json['Customer Name'] }}\",\n  \"limit\": 3,\n  \"enable_export\": false,\n  \"target_lang\": \"en\"\n}",
            "sendBody": true,
            "sendHeaders": true,
            "specifyBody": "json",
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer YOUR_TOKEN_HERE"
                },
                {
                  "name": "x-wayinvideo-api-version",
                  "value": "v2"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          },
          "typeVersion": 4.2
        },
        {
          "id": "4df19fbf-1bff-43d2-bb72-68f8047c3f9f",
          "name": "3. Wait — 45 Seconds",
          "type": "n8n-nodes-base.wait",
          "position": [
            976,
            144
          ],
          "webhookId": "wait-bug-45s",
          "parameters": {
            "amount": 45
          },
          "typeVersion": 1.1
        },
        {
          "id": "14326553-d457-42e8-8ceb-5109198b71be",
          "name": "4. WayinVideo — Get Bug Moments",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            1216,
            144
          ],
          "parameters": {
            "url": "=https://wayinvideo-api.wayin.ai/api/v2/clips/find-moments/results/{{ $('2. WayinVideo — Find Bug Moments').item.json.data.id }}",
            "options": {},
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer YOUR_TOKEN_HERE"
                },
                {
                  "name": "x-wayinvideo-api-version",
                  "value": "v2"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          },
          "typeVersion": 4.2
        },
        {
          "id": "bd3d9449-8412-4030-9455-b71135e58548",
          "name": "5. If — Bug Moments Found?",
          "type": "n8n-nodes-base.if",
          "position": [
            1424,
            144
          ],
          "parameters": {
            "options": {},
            "conditions": {
              "options": {
                "version": 3,
                "leftValue": "",
                "caseSensitive": true,
                "typeValidation": "strict"
              },
              "combinator": "and",
              "conditions": [
                {
                  "id": "aea7f509-3809-4302-9a09-a0232541e1ac",
                  "operator": {
                    "type": "array",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "leftValue": "={{ $json.data.clips }}",
                  "rightValue": ""
                }
              ]
            }
          },
          "typeVersion": 2.3
        },
        {
          "id": "a62356de-bf17-43ab-8089-fb1d5e74737a",
          "name": "6. AI Agent — Generate Bug Ticket",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            1648,
            128
          ],
          "parameters": {
            "text": "=You are a technical support engineer. Analyze the bug moments found in the customer's screen recording and create a structured support ticket.\n\nCustomer Name: {{ $('1. Form — Bug Recording + Details').item.json['Customer Name'] }}\nBug Type Reported: {{ $('1. Form — Bug Recording + Details').item.json['Bug Type'] }}\nRecording URL: {{ $('1. Form — Bug Recording + Details').item.json['Screen Recording URL'] }}\n\nBug Moments Found by WayinVideo:\n{{ $('4. WayinVideo — Get Bug Moments').item.json.data.clips.map(c => 'Moment ' + (c.idx + 1) + ': ' + c.title + ' | Time: ' + Math.floor(c.begin_ms/1000) + 's - ' + Math.floor(c.end_ms/1000) + 's | Description: ' + c.desc + ' | Relevance Score: ' + c.score).join('\\n') }}\n\nCreate a bug ticket using this exact format:\n\nBUG SUMMARY:\n[Write 1 clear sentence describing what the bug is]\n\nPRIORITY: [Choose one: Critical / High / Medium / Low]\n- Critical = payment, login, data loss, app crash\n- High = major feature not working\n- Medium = UI issue, minor feature broken\n- Low = cosmetic or text issue\n\nBUG CATEGORY: [Choose one: Authentication / Payment / UI / Performance / App Crash / API Error / Other]\n\nEXACT LOCATION IN VIDEO:\n[Timestamp where bug appears — from WayinVideo data above]\n\nSTEPS TO REPRODUCE:\n1. [What the user was doing based on the moment description]\n2. [What action triggered the bug]\n3. [What happened next]\n\nEXPECTED BEHAVIOR:\n[What should have happened]\n\nACTUAL BEHAVIOR:\n[What actually happened — based on the bug moment description]\n\nASSIGN TO: [Choose one: Backend Dev / Frontend Dev / QA Team / DevOps / Product Team]\n\nSUGGESTED FIX:\n[Write 1-2 lines on what might be causing this and how to investigate]\n\nSTATUS: Open",
            "options": {},
            "promptType": "define"
          },
          "typeVersion": 3.1
        },
        {
          "id": "711b5f37-961a-433a-bd54-e03501ccab65",
          "name": "6a. OpenAI — Chat Model (GPT-4o-mini)",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            1648,
            352
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o-mini"
            },
            "options": {},
            "builtInTools": {}
          },
          "typeVersion": 1.3
        },
        {
          "id": "49c6b8dc-e28e-4c37-8bcb-4df879fe58d6",
          "name": "7. Google Sheets — Save Bug Ticket",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            2064,
            128
          ],
          "parameters": {
            "columns": {
              "value": {
                "Status": "Open",
                "Bug Type": "={{ $('1. Form — Bug Recording + Details').item.json['Bug Type'] }}",
                "Bug Ticket": "={{ $json.output }}",
                "Customer Name": "={{ $('1. Form — Bug Recording + Details').item.json['Customer Name'] }}",
                "Recording URL": "={{ $('1. Form — Bug Recording + Details').item.json['Screen Recording URL'] }}",
                "Date Submitted": "={{ $now }}",
                "Bug Moments Found": "={{ $('4. WayinVideo — Get Bug Moments').item.json.data.clips.length }}",
                "Top Bug Timestamp": "={{ Math.floor($('4. WayinVideo — Get Bug Moments').item.json.data.clips[0].begin_ms / 1000) }}s - {{ Math.floor($('4. WayinVideo — Get Bug Moments').item.json.data.clips[0].end_ms / 1000) }}s"
              },
              "schema": [],
              "mappingMode": "defineBelow",
              "matchingColumns": []
            },
            "options": {},
            "operation": "append",
            "sheetName": {
              "__rl": true,
              "mode": "name",
              "value": "Bug Tickets"
            },
            "documentId": {
              "__rl": true,
              "mode": "id",
              "value": "YOUR_GOOGLE_SHEET_ID"
            }
          },
          "typeVersion": 4.5
        }
      ],
      "pinData": {},
      "connections": {
        "3. Wait — 45 Seconds": {
          "main": [
            [
              {
                "node": "4. WayinVideo — Get Bug Moments",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "5. If — Bug Moments Found?": {
          "main": [
            [
              {
                "node": "6. AI Agent — Generate Bug Ticket",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "3. Wait — 45 Seconds",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "4. WayinVideo — Get Bug Moments": {
          "main": [
            [
              {
                "node": "5. If — Bug Moments Found?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "2. WayinVideo — Find Bug Moments": {
          "main": [
            [
              {
                "node": "3. Wait — 45 Seconds",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "1. Form — Bug Recording + Details": {
          "main": [
            [
              {
                "node": "2. WayinVideo — Find Bug Moments",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "6. AI Agent — Generate Bug Ticket": {
          "main": [
            [
              {
                "node": "7. Google Sheets — Save Bug Ticket",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "6a. OpenAI — Chat Model (GPT-4o-mini)": {
          "ai_languageModel": [
            [
              {
                "node": "6. AI Agent — Generate Bug Ticket",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 14,
      "nodeTypes": {
        "n8n-nodes-base.if": {
          "count": 1
        },
        "n8n-nodes-base.wait": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 6
        },
        "n8n-nodes-base.formTrigger": {
          "count": 1
        },
        "n8n-nodes-base.httpRequest": {
          "count": 2
        },
        "n8n-nodes-base.googleSheets": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
          "count": 1
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "isaWOW",
      "username": "isawow",
      "bio": "",
      "verified": true,
      "links": [
        ""
      ],
      "avatar": "https://gravatar.com/avatar/8e8c1f17a2be80c0d1b0248585660dff3062cefeda523bbafeafcdb813f52ffa?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 18,
        "icon": "file:googleSheets.svg",
        "name": "n8n-nodes-base.googleSheets",
        "codex": {
          "data": {
            "alias": [
              "CSV",
              "Sheet",
              "Spreadsheet",
              "GS"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                  "icon": "❤️",
                  "label": "Love at first sight: Ricardo’s n8n journey"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                  "icon": "⏲",
                  "label": "Creating triggers for n8n workflows using polling"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                  "icon": "🍔",
                  "label": "How Honest Burgers Use Automation to Save $100k per year"
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Data & Storage",
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\",\"output\"]",
        "defaults": {
          "name": "Google Sheets"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
        },
        "displayName": "Google Sheets",
        "typeVersion": 5,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          },
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 19,
        "icon": "file:httprequest.svg",
        "name": "n8n-nodes-base.httpRequest",
        "codex": {
          "data": {
            "alias": [
              "API",
              "Request",
              "URL",
              "Build",
              "cURL"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                  "icon": "🎨",
                  "label": "Automate Designs with Bannerbear and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                  "icon": "🧰",
                  "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "HTTP Request",
          "color": "#0004F5"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "HTTP Request",
        "typeVersion": 4,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 20,
        "icon": "fa:map-signs",
        "name": "n8n-nodes-base.if",
        "codex": {
          "data": {
            "alias": [
              "Router",
              "Filter",
              "Condition",
              "Logic",
              "Boolean",
              "Branch"
            ],
            "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                  "icon": "🤬",
                  "label": "Create a toxic language detector for Telegram in 4 step"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                  "icon": "🏷️",
                  "label": "How to automatically manage contributions to open-source projects"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "If",
          "color": "#408000"
        },
        "iconData": {
          "icon": "map-signs",
          "type": "icon"
        },
        "displayName": "If",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 514,
        "icon": "fa:pause-circle",
        "name": "n8n-nodes-base.wait",
        "codex": {
          "data": {
            "alias": [
              "pause",
              "sleep",
              "delay",
              "timeout"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Flow"
              ]
            }
          }
        },
        "group": "[\"organization\"]",
        "defaults": {
          "name": "Wait",
          "color": "#804050"
        },
        "iconData": {
          "icon": "pause-circle",
          "type": "icon"
        },
        "displayName": "Wait",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1153,
        "icon": "file:openAiLight.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "OpenAI Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1225,
        "icon": "file:form.svg",
        "name": "n8n-nodes-base.formTrigger",
        "codex": {
          "data": {
            "alias": [
              "table",
              "submit",
              "post"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.formtrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Other Trigger Nodes"
              ]
            }
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "On form submission"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0MCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwQjdCQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzQuOTc4IDM3LjczMmExLjU2IDEuNTYgMCAwIDEtMS41NjIgMS41NjNINi4yNmExLjU2IDEuNTYgMCAwIDEtMS41NjMtMS41NjNWOS42MDdjMC0uNDA1LjE1Ny0uNzk0LjQzOC0xLjA4Nmw2LjMwNC02LjUzMXY1LjM0NEg4LjIxM2ExLjE3MiAxLjE3MiAwIDEgMCAwIDIuMzQzaDQuNDNhMS4xNyAxLjE3IDAgMCAwIDEuMTcxLTEuMTcxVi4yMzJoMTkuNjAyYTEuNTYgMS41NiAwIDAgMSAxLjU2MiAxLjU2M3YxMC4zMjdsLTIuODYgMi44Ni04LjI1MiA4LjI3NmE0MTMuMDA2IDQxMy4wMDYgMCAwIDEtMS42NTQgMS42NjJsLS4zMzcuMzM3YTIgMiAwIDAgMC0uNTU3IDEuMDhMMjAuMyAzMS45MjJjLS4xMDguNjM4LS4yMTUgMS4wNzkuMjExIDEuNDE4LjQwMy4zMi45LjE3NCAxLjU0LjA2Nmw1LjQwOC0uOTI4YTIgMiAwIDAgMCAxLjA4LS41NTZsNi40NC02LjQyOXptLTI0LjAzLTIxLjI2NWExLjE4IDEuMTggMCAwIDAgMS4xNzEgMS4xNzJoMTMuMTYzYTEuMTcyIDEuMTcyIDAgMSAwIDAtMi4zNDRIMTIuMTE5YTEuMTcgMS4xNyAwIDAgMC0xLjE3MiAxLjE3Mm03LjI5NCAxNC43NjZhMS4xNyAxLjE3IDAgMCAwLTEuMTcyLTEuMTcySDEyLjEyYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNC45NTFhMS4xNyAxLjE3IDAgMCAwIDEuMTcyLTEuMTcybS44Ni03LjM5MWExLjE3IDEuMTcgMCAwIDAtMS4xNzItMS4xNzJoLTUuODExYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNS44MWExLjE2NCAxLjE2NCAwIDAgMCAxLjE3My0xLjE3MSIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggZmlsbD0iIzAwQjdCQyIgZD0ibTMzLjUzMiAxNi4zOTcgNC4yODktNC4yODkgMy43NTggMy43MSAxLjYxNy0xLjYxNiAyLjI1OCAyLjI1N2MuMjE4LjIxOC4zNC41MTMuMzQzLjgyLS4wMDIuMzExLS4xMjUuNjA4LS4zNDQuODNsLTYuODA0IDYuNzk2YTEuMTMgMS4xMyAwIDAgMS0uODI4LjM0MyAxLjE1IDEuMTUgMCAwIDEtLjgyOC0uMzQzIDEuMTggMS4xOCAwIDAgMSAwLTEuNjU3bDUuOTc2LTUuOTY4LTEuMzEyLTEuMzEzLTEuMzgzIDEuNDE0LTEzLjE0OSAxMy4xMjUtNC42MTcuNzgyLjc4Mi00LjYxNy4zMzYtLjMzNyAyLjU2MiAyLjU1NWExLjEgMS4xIDAgMCAwIC44MjguMzQ0Yy4zMTIuMDA1LjYxMi0uMTIuODI4LS4zNDRhMS4xOCAxLjE4IDAgMCAwIDAtMS42NTZsLTIuNTYyLTIuNTYyek00NC43MzYgMTIuMjRjMCAuNDE0LS4xNjMuODEtLjQ1NCAxLjEwMmwtLjkyMi45MTQtMy44NTItMy44MjguOTMtLjkzYTEuNTYzIDEuNTYzIDAgMCAxIDIuMjAzIDBsMS42NCAxLjY0MWMuMjkxLjI5My40NTUuNjkuNDU1IDEuMTAyIi8+PC9zdmc+"
        },
        "displayName": "n8n Form Trigger",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 41,
        "name": "Ticket Management"
      },
      {
        "id": 49,
        "name": "AI Summarization"
      }
    ],
    "image": []
  }
}