n8n_templates/n8n_workflows/14985.json
{
  "workflow": {
    "id": 14985,
    "name": "Generate AI music and publish YouTube videos automatically with Blotato, OpenAI, ElevenLabs, and Shotstack",
    "views": 0,
    "recentViews": 0,
    "totalViews": 0,
    "createdAt": "2026-04-10T23:37:21.793Z",
    "description": "# 💥 Generate AI Music & Publish to YouTube Automatically with Blotato \n\n![Workflow Overview](https://www.dr-firas.com/youtube-blotato-II.png)\n\nThis workflow automatically generates AI music, creates a thumbnail, converts everything into a video, and publishes it directly to YouTube — fully automated.\n\nPerfect for building **faceless YouTube music channels**, **AI content automation**, or **passive content generation pipelines**.\n\n---\n\n### Who is this for?\n\nThis template is ideal for:\n\n- YouTube creators building **AI music channels**\n- Content creators creating **faceless videos**\n- Automation enthusiasts using **n8n for content pipelines**\n- Agencies generating **bulk YouTube content**\n- Anyone wanting to **automate music creation and publishing**\n\nWhether you're creating **lofi music**, **ambient tracks**, **meditation sounds**, or **background music**, this workflow removes manual work entirely.\n\n---\n\n### What problem is this workflow solving?\n\nCreating AI music videos typically involves multiple manual steps:\n\n- Generating music  \n- Creating thumbnails  \n- Converting audio into video  \n- Uploading to YouTube  \n- Writing titles and metadata  \n\nThis process is **time-consuming and repetitive**.\n\nThis workflow automates everything into a **single end-to-end pipeline**, allowing you to:\n\n- Generate unlimited AI music\n- Automatically create thumbnails\n- Convert audio into video\n- Publish directly to YouTube\n\n---\n\n### What this workflow does\n\nThis workflow performs the following steps:\n\n1. User submits a music request via form  \n2. AI generates an optimized music prompt  \n3. ElevenLabs generates AI music  \n4. AI generates thumbnail prompt  \n5. Atlas Cloud generates thumbnail image  \n6. Cloudinary uploads generated assets  \n7. Shotstack creates video (image + audio)  \n8. Blotato uploads video to YouTube automatically  \n9. SEO-optimized YouTube title is generated automatically  \n\nFinal result:  \n**AI-generated music video automatically published to YouTube**\n\nThe entire process runs **fully automated**.\n\n---\n\n### Setup\n\nTo use this workflow, configure the following credentials:\n\n#### Required APIs\n\n- OpenAI API Key — Prompt generation\n- **[Elevenlabs](https://elevenlabs.io/?from=drfirass2382)** API Key — Music generation\n- **[AtlasCloud](https://www.atlascloud.ai?ref=8QKPJE)** API Key — Thumbnail generation\n- Cloudinary Account — Media hosting\n- Shotstack API Key — Video creation\n- **[Blotato](https://blotato.com/?ref=firas)**  API Key — YouTube publishing\n\n#### Community Node Requirement\n\nThis workflow uses the **[Blotato](https://blotato.com/?ref=firas)**  **community node**.\n\n### 🎥 [Watch This Tutorial](https://youtu.be/yit-6fuKAVU)\n![SORA2 logo](https://www.dr-firas.com/music-n8n.png)\n\n---\n### 👋 Need help or want to customize this?\n📩 Contact: [LinkedIn](https://www.linkedin.com/in/dr-firas/)  \n📺 YouTube: [@DRFIRASS](https://www.youtube.com/@DRFIRASS)  \n🚀 Workshops: [Mes Ateliers n8n](https://hotm.art/formation-n8n)\n\n\n### Need help customizing?\nContact me for consulting and support : [Linkedin](https://www.linkedin.com/in/dr-firas/) / [Youtube](https://www.youtube.com/channel/UCriIQI8uaoEro5FEnOpeidQ) / [🚀 Mes Ateliers n8n  ](https://hotm.art/formation-n8n)",
    "workflow": {
      "id": "BJqsw0zgznLQCTeU",
      "meta": {
        "instanceId": "de822f81f3a2367cef7d9549771a77783236bc9596481be2ae65c05fbcc4b4fd",
        "templateCredsSetupCompleted": true
      },
      "name": "💥 Generate AI Music & Publish to YouTube Automatically with Blotato - Mise en forme - vide",
      "tags": [],
      "nodes": [
        {
          "id": "7ba890c3-63d3-4880-9b48-c5b3b14e2c89",
          "name": "Music Generation Form",
          "type": "n8n-nodes-base.formTrigger",
          "position": [
            -48,
            448
          ],
          "webhookId": "cf6bd60b-20cb-439a-9939-7b09849ddcee",
          "parameters": {
            "options": {
              "appendAttribution": false
            },
            "formTitle": "AI Music Generator for YouTube",
            "formFields": {
              "values": [
                {
                  "fieldName": "duration",
                  "fieldType": "dropdown",
                  "fieldLabel": "Music Duration",
                  "fieldOptions": {
                    "values": [
                      {
                        "option": "30s"
                      },
                      {
                        "option": "1min"
                      },
                      {
                        "option": "2min"
                      },
                      {
                        "option": "3min"
                      },
                      {
                        "option": "5min"
                      }
                    ]
                  }
                },
                {
                  "fieldName": "description",
                  "fieldType": "textarea",
                  "fieldLabel": "Music Description",
                  "placeholder": "Describe the style, mood, and feel of the music you want..."
                },
                {
                  "fieldName": "lyrics_type",
                  "fieldType": "radio",
                  "fieldLabel": "Vocal Type",
                  "fieldOptions": {
                    "values": [
                      {
                        "option": "Instrumental"
                      },
                      {
                        "option": "With Lyrics"
                      }
                    ]
                  }
                }
              ]
            },
            "formDescription": "Generate custom AI music and publish it automatically to YouTube"
          },
          "typeVersion": 2.5
        },
        {
          "id": "4671d9e0-831c-4405-8f16-e03df4067363",
          "name": "Generate ElevenLabs Prompt",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            176,
            448
          ],
          "parameters": {
            "text": "=Durée : {{ $json.duration }}\nLyrics type : {{ $json.lyrics_type }}\nDescription :{{ $json.description }}",
            "options": {
              "systemMessage": "You are a music prompt optimizer. Transform user input into optimized ElevenLabs music generation parameters. Return a JSON object with: 1) prompt (string): an optimized musical description in English, 2) duration_ms (number): duration in milliseconds, 3) force_instrumental (boolean): true if instrumental, false if with lyrics, 4) youtube_title (string): an SEO-optimized YouTube title based on the music description."
            },
            "promptType": "define",
            "hasOutputParser": true
          },
          "typeVersion": 3.1
        },
        {
          "id": "a96f0232-2a5a-4bb6-bfc5-7843b4a8f5e8",
          "name": "OpenAI gpt-4o-mini",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            64,
            816
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o-mini"
            },
            "options": {
              "temperature": 0.3
            },
            "builtInTools": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "8abe3445-561d-4d32-adb7-bbcbf5490539",
          "name": "JSON Output Parser",
          "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
          "position": [
            416,
            800
          ],
          "parameters": {
            "schemaType": "manual",
            "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"prompt\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Optimized music prompt\"\n\t\t},\n\t\t\"duration_ms\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"Duration in milliseconds\"\n\t\t},\n\t\t\"force_instrumental\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"True for instrumental, false for vocals\"\n\t\t},\n\t\t\"youtube_title\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"SEO-optimized YouTube title\"\n\t\t}\n\t}\n}"
          },
          "typeVersion": 1.3
        },
        {
          "id": "02cea2e4-4b04-4266-bf59-9b57fae3ce07",
          "name": "Generate Music - ElevenLabs",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            528,
            448
          ],
          "parameters": {
            "url": "https://api.elevenlabs.io/v1/music",
            "method": "POST",
            "options": {
              "response": {
                "response": {
                  "responseFormat": "file"
                }
              }
            },
            "sendBody": true,
            "authentication": "genericCredentialType",
            "bodyParameters": {
              "parameters": [
                {
                  "name": "prompt",
                  "value": "={{ $('Generate ElevenLabs Prompt').item.json.output.prompt }}"
                },
                {
                  "name": "duration_ms",
                  "value": "={{ $('Generate ElevenLabs Prompt').item.json.output.duration_ms }}"
                },
                {
                  "name": "force_instrumental",
                  "value": "={{ $('Generate ElevenLabs Prompt').item.json.output.force_instrumental }}"
                }
              ]
            },
            "genericAuthType": "httpHeaderAuth"
          },
          "credentials": {
            "httpHeaderAuth": {
              "id": "credential-id",
              "name": "Header Auth account"
            }
          },
          "typeVersion": 4.4
        },
        {
          "id": "d41d120c-5247-4703-9479-2df26cbdaefd",
          "name": "Generate Image Prompt",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            976,
            592
          ],
          "parameters": {
            "text": "=Based on this YouTube title: {{ $('Generate ElevenLabs Prompt').item.json.output.youtube_title }} and music description: {{ $('Music Generation Form').item.json.description }}, create a visual prompt for a YouTube thumbnail.",
            "options": {
              "systemMessage": "You are a visual prompt expert for AI image generation. Create a detailed, vivid prompt in English for generating a YouTube thumbnail (16:9 aspect ratio, 1280x720). The image should be eye-catching, professional, and related to the music theme. Focus on colors, composition, and visual elements that work well for YouTube thumbnails."
            },
            "promptType": "define"
          },
          "typeVersion": 3.1
        },
        {
          "id": "89aff1d0-d705-4989-8a6a-2f535e0fbcd3",
          "name": "OpenAI gpt-4o-mini Image",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            976,
            848
          ],
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o-mini"
            },
            "options": {
              "temperature": 0.7
            },
            "builtInTools": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "credential-id",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.3
        },
        {
          "id": "31b0da6c-7533-4945-a651-f80138555b5c",
          "name": "Generate Thumbnail - Atlas Cloud",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            1328,
            592
          ],
          "parameters": {
            "url": "https://api.atlascloud.ai/api/v1/model/generateImage",
            "method": "POST",
            "options": {},
            "sendBody": true,
            "sendHeaders": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "prompt",
                  "value": "={{ $('Generate Image Prompt').item.json.output }}"
                },
                {
                  "name": "aspect_ratio",
                  "value": "16:9"
                },
                {
                  "name": "model",
                  "value": "google/nano-banana-2/text-to-image"
                },
                {
                  "name": "output_format",
                  "value": "png"
                },
                {
                  "name": "resolution",
                  "value": "1k"
                }
              ]
            },
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer YOUR_TOKEN_HERE"
                }
              ]
            }
          },
          "typeVersion": 4.4
        },
        {
          "id": "41820733-4843-4129-9c9b-0f683349c15c",
          "name": "Merge Audio & Image Paths",
          "type": "n8n-nodes-base.merge",
          "position": [
            1984,
            304
          ],
          "parameters": {},
          "typeVersion": 3.2
        },
        {
          "id": "92c5ce04-5a7f-4163-9125-ff82bf46275c",
          "name": "Create post Youtube",
          "type": "@blotato/n8n-nodes-blotato.blotato",
          "position": [
            3072,
            304
          ],
          "parameters": {
            "options": {},
            "platform": "youtube",
            "accountId": {
              "__rl": true,
              "mode": "list",
              "value": "30379",
              "cachedResultUrl": "https://backend.blotato.com/v2/accounts/30379",
              "cachedResultName": "Dr. Firas (PlayKids - English)"
            },
            "postContentText": "={{ $('Generate ElevenLabs Prompt').item.json.output.youtube_title }}",
            "postContentMediaUrls": "={{ $json.response.url }}",
            "postCreateYoutubeOptionTitle": "={{ $('Generate ElevenLabs Prompt').item.json.output.youtube_title }}"
          },
          "credentials": {
            "blotatoApi": {
              "id": "credential-id",
              "name": "Blotato account"
            }
          },
          "typeVersion": 2
        },
        {
          "id": "3fdf2e13-21d4-4693-919e-2400c0c93a84",
          "name": "Upload an asset from file data",
          "type": "n8n-nodes-cloudinary.cloudinary",
          "position": [
            768,
            288
          ],
          "parameters": {
            "operation": "uploadFile",
            "resource_type_file": "video",
            "additionalFieldsFile": {}
          },
          "credentials": {
            "cloudinaryApi": {
              "id": "credential-id",
              "name": "Cloudinary account 7"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "8ba15d33-e629-41aa-a670-1e1a55ad75c8",
          "name": "Wait",
          "type": "n8n-nodes-base.wait",
          "position": [
            1568,
            848
          ],
          "webhookId": "acb76754-179a-4e26-8a1f-e4235d688a1c",
          "parameters": {
            "unit": "minutes",
            "amount": 2
          },
          "typeVersion": 1.1
        },
        {
          "id": "60553b0c-47f7-4aef-9d4e-e1b53f246509",
          "name": "Check Image Status",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            1808,
            592
          ],
          "parameters": {
            "url": "=https://api.atlascloud.ai/api/v1/model/prediction/{{ $('Extract Prediction ID').item.json.predictionId }}",
            "options": {},
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer YOUR_TOKEN_HERE"
                }
              ]
            }
          },
          "typeVersion": 4.4
        },
        {
          "id": "ef055494-cc7e-49ca-9bf2-38acd85a382c",
          "name": "Extract Prediction ID",
          "type": "n8n-nodes-base.code",
          "position": [
            1328,
            848
          ],
          "parameters": {
            "jsCode": "const response = $input.first().json;\n\nreturn [{\n  json: {\n    predictionId: response.data.id\n  }\n}];"
          },
          "typeVersion": 2
        },
        {
          "id": "87f07a17-e408-436e-8719-66164a352af7",
          "name": "Wait2",
          "type": "n8n-nodes-base.wait",
          "position": [
            2672,
            304
          ],
          "webhookId": "67b0f6a7-a489-47c3-b6ac-ef4af886f22e",
          "parameters": {
            "unit": "minutes",
            "amount": 1
          },
          "typeVersion": 1.1
        },
        {
          "id": "202f3412-307c-4ec4-807e-d34d205bfa6e",
          "name": "Shotstack Render",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            2464,
            304
          ],
          "parameters": {
            "url": "https://api.shotstack.io/edit/v1/render",
            "method": "POST",
            "options": {},
            "jsonBody": "={\n  \"timeline\": {\n    \"soundtrack\": {\n      \"src\": \"{{$json.audioUrl}}\"\n    },\n    \"tracks\": [\n      {\n        \"clips\": [\n          {\n            \"asset\": {\n              \"type\": \"image\",\n              \"src\": \"{{$json.imageUrl}}\"\n            },\n            \"start\": 0,\n            \"length\": {{$json.duration}}\n          }\n        ]\n      }\n    ]\n  },\n  \"output\": {\n    \"format\": \"mp4\",\n    \"resolution\": \"sd\"\n  }\n}",
            "sendBody": true,
            "sendHeaders": true,
            "specifyBody": "json",
            "headerParameters": {
              "parameters": [
                {
                  "name": "x-api-key",
                  "value": "YOUR_API"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          },
          "typeVersion": 4.3
        },
        {
          "id": "03fe7fb9-d00e-4093-9f4d-d29114bb4052",
          "name": "Shotstack Poll Result",
          "type": "n8n-nodes-base.httpRequest",
          "position": [
            2864,
            304
          ],
          "parameters": {
            "url": "=https://api.shotstack.io/edit/v1/render/{{ $json.response.id }}",
            "options": {},
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "x-api-key",
                  "value": "YOUR_API"
                }
              ]
            }
          },
          "typeVersion": 4.3
        },
        {
          "id": "e58d2c67-7357-49e4-9d0f-dace3f1c635c",
          "name": "Code clean urls",
          "type": "n8n-nodes-base.code",
          "position": [
            2224,
            304
          ],
          "parameters": {
            "jsCode": "const audioItem = items.find(item => item.json.secure_url || item.json.url);\nconst imageItem = items.find(item => item.json.imageUrl);\n\nif (!audioItem || !imageItem) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      audioUrl: audioItem.json.secure_url || audioItem.json.url,\n      imageUrl: imageItem.json.imageUrl,\n      duration: audioItem.json.duration || 10\n    }\n  }\n];"
          },
          "typeVersion": 2
        },
        {
          "id": "81354b07-87a7-4b14-8953-881302dae285",
          "name": "Code clear imageUrl",
          "type": "n8n-nodes-base.code",
          "position": [
            2016,
            592
          ],
          "parameters": {
            "jsCode": "// Extract Final Image URL\n\nreturn items.map(item => {\n  const imageUrl =\n    item.json?.data?.outputs?.[0] || null;\n\n  return {\n    json: {\n      imageUrl\n    }\n  };\n});\n"
          },
          "typeVersion": 2
        },
        {
          "id": "b877b259-94a1-4f9a-8a09-d81444f44133",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -960,
            -416
          ],
          "parameters": {
            "width": 816,
            "height": 1904,
            "content": "# 🚀  Generate AI Music & Publish to YouTube Automatically with Blotato\n## (By Dr. Firas)\n\nThis workflow generates AI music and publishes it to YouTube automatically\n---\n## 🎥 Tutorial :\n@[youtube](yit-6fuKAVU)\n\n---\n## ⚙️ How It Works\n1. Music Generation Form - Collects user input (duration, description, vocal type)\n2. Generate ElevenLabs Prompt - AI Agent transforms input into optimized parameters\n3. Generate Music - ElevenLabs - Calls ElevenLabs API to create the music audio\n4. Generate Image Prompt - AI Agent creates a visual prompt for the thumbnail\n5. Generate Thumbnail - Atlas Cloud - Generates a 16:9 YouTube thumbnail image\n6. Save Audio File & Save Image File - Writes files to /tmp/ directory\n7. FFmpeg - Create Video - Combines static image + audio into MP4 video\n8. Read Final Video - Loads the final MP4 file\n9. Publish to YouTube - Blotato - Uploads video to YouTube with title and description\n---\n\n## 🔐 Credentials Needed\nRequired Credentials:\n\n1. OpenAI API Key\n   - Type: OpenAI API credentials\n   - Get it at: https://platform.openai.com/api-keys\n   - Used for: AI Agent nodes (prompt generation)\n\n2. ElevenLabs API Key\n   - Type: Header Auth (X-API-Key)\n   - Get it at: **[elevenlabs](https://elevenlabs.io/?from=drfirass2382)**\n   - Used for: Generate Music HTTP Request\n\n3. Atlas Cloud API Key\n   - Type: Header Auth (Authorization: Bearer)\n   - Get it at: **[AtlasCloud](https://www.atlascloud.ai?ref=8QKPJE)**\n   - Used for: Generate Thumbnail HTTP Request\n\n4. Blotato API Key\n   - Type: Blotato credentials\n   - Get it at: **[Blotato](https://blotato.com/?ref=firas)** \n   - Used for: YouTube video upload\n   - Install: npm install @blotato/n8n-nodes-blotato\n\n5. SSH Credentials (for FFmpeg)\n   - Type: SSH credentials (localhost)\n   - Required: FFmpeg installed on n8n server\n---\n\n## 🚀 Setup Steps\n1- Add OpenAI credentials for prompt and content generation\n2- Add ElevenLabs credentials for music generation\n3- Add AtlasCloud credentials for image and thumbnail generation\n4- Add Shotstack credentials for video rendering\n5- Configure Upload & Merge nodes (audio + image paths)\n6- Add YouTube credentials and configure post settings\n7- Run a test and activate the workflow 🚀"
          },
          "typeVersion": 1
        },
        {
          "id": "0b164baa-5f54-4eb0-b4c1-be4fbbfe5378",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -96,
            224
          ],
          "parameters": {
            "color": 7,
            "width": 784,
            "height": 784,
            "content": "## 🎵 Generate Content Inputs\nCreates the base inputs for the workflow including prompts and music generation."
          },
          "typeVersion": 1
        },
        {
          "id": "bd17621c-8e1a-4a6f-8d44-0604f8cb481e",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            912,
            496
          ],
          "parameters": {
            "color": 7,
            "width": 1296,
            "height": 512,
            "content": "## 🖼️ AI Thumbnail Generation\nGenerates AI thumbnail using AtlasCloud and prepares image assets."
          },
          "typeVersion": 1
        },
        {
          "id": "4ea6d90e-03d4-4c53-a8ee-f4d53b0ed899",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            2384,
            192
          ],
          "parameters": {
            "color": 7,
            "width": 608,
            "height": 288,
            "content": "## 🎬 Video Rendering\nBuilds and renders the final video using Shotstack."
          },
          "typeVersion": 1
        },
        {
          "id": "46cdd430-e232-47ae-8c17-f7d57bace776",
          "name": "Sticky Note4",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            3008,
            192
          ],
          "parameters": {
            "color": 7,
            "width": 288,
            "height": 288,
            "content": "## 📺 YouTube Publishing\nPublishes the generated video automatically to YouTube."
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "binaryMode": "separate",
        "availableInMCP": false,
        "executionOrder": "v1"
      },
      "versionId": "faafcee1-9b13-4dac-828a-1a345e7ea64e",
      "connections": {
        "Wait": {
          "main": [
            [
              {
                "node": "Check Image Status",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wait2": {
          "main": [
            [
              {
                "node": "Shotstack Poll Result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code clean urls": {
          "main": [
            [
              {
                "node": "Shotstack Render",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Shotstack Render": {
          "main": [
            [
              {
                "node": "Wait2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check Image Status": {
          "main": [
            [
              {
                "node": "Code clear imageUrl",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "JSON Output Parser": {
          "ai_outputParser": [
            [
              {
                "node": "Generate ElevenLabs Prompt",
                "type": "ai_outputParser",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI gpt-4o-mini": {
          "ai_languageModel": [
            [
              {
                "node": "Generate ElevenLabs Prompt",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Code clear imageUrl": {
          "main": [
            [
              {
                "node": "Merge Audio & Image Paths",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Extract Prediction ID": {
          "main": [
            [
              {
                "node": "Wait",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate Image Prompt": {
          "main": [
            [
              {
                "node": "Generate Thumbnail - Atlas Cloud",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Music Generation Form": {
          "main": [
            [
              {
                "node": "Generate ElevenLabs Prompt",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Shotstack Poll Result": {
          "main": [
            [
              {
                "node": "Create post Youtube",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI gpt-4o-mini Image": {
          "ai_languageModel": [
            [
              {
                "node": "Generate Image Prompt",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Merge Audio & Image Paths": {
          "main": [
            [
              {
                "node": "Code clean urls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate ElevenLabs Prompt": {
          "main": [
            [
              {
                "node": "Generate Music - ElevenLabs",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate Music - ElevenLabs": {
          "main": [
            [
              {
                "node": "Generate Image Prompt",
                "type": "main",
                "index": 0
              },
              {
                "node": "Upload an asset from file data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Upload an asset from file data": {
          "main": [
            [
              {
                "node": "Merge Audio & Image Paths",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate Thumbnail - Atlas Cloud": {
          "main": [
            [
              {
                "node": "Extract Prediction ID",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 1,
    "workflowInfo": {
      "nodeCount": 24,
      "nodeTypes": {
        "n8n-nodes-base.code": {
          "count": 3
        },
        "n8n-nodes-base.wait": {
          "count": 2
        },
        "n8n-nodes-base.merge": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 5
        },
        "n8n-nodes-base.formTrigger": {
          "count": 1
        },
        "n8n-nodes-base.httpRequest": {
          "count": 5
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 2
        },
        "n8n-nodes-cloudinary.cloudinary": {
          "count": 1
        },
        "@blotato/n8n-nodes-blotato.blotato": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
          "count": 2
        },
        "@n8n/n8n-nodes-langchain.outputParserStructured": {
          "count": 1
        }
      }
    },
    "status": "published",
    "readyToDemo": null,
    "user": {
      "name": "Dr. Firas",
      "username": "drfiras",
      "bio": "Automation expert and certified trainer. I create hands-on courses to master automation with n8n. Contact me to access my exclusive training and start building powerful workflows today. 🚀",
      "verified": true,
      "links": [
        "https://hotm.art/n8n"
      ],
      "avatar": "https://gravatar.com/avatar/988a46579257f9e8c522aeb7b906f1ee96e47c4298faa548e41b04957f455ae3?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 19,
        "icon": "file:httprequest.svg",
        "name": "n8n-nodes-base.httpRequest",
        "codex": {
          "data": {
            "alias": [
              "API",
              "Request",
              "URL",
              "Build",
              "cURL"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                  "icon": "📜",
                  "label": "Celebrating World Poetry Day with a daily poem in Telegram"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                  "icon": "🎨",
                  "label": "Automate Designs with Bannerbear and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                  "icon": "🧰",
                  "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/automations-for-activists/",
                  "icon": "✨",
                  "label": "How Common Knowledge use workflow automation for activism"
                },
                {
                  "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                  "icon": "🤟",
                  "label": "Creating scheduled text affirmations with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"output\"]",
        "defaults": {
          "name": "HTTP Request",
          "color": "#0004F5"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "HTTP Request",
        "typeVersion": 4,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 24,
        "icon": "file:merge.svg",
        "name": "n8n-nodes-base.merge",
        "codex": {
          "data": {
            "alias": [
              "Join",
              "Concatenate",
              "Wait"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                  "icon": "🏬",
                  "label": "How to synchronize data between two systems (one-way vs. two-way sync"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                  "icon": "👦",
                  "label": "Build your own virtual assistant with n8n: A step by step guide"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.merge/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Merge"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTc3XzUxOCkiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNDhDMCAyMS40OTAzIDIxLjQ5MDMgMCA0OCAwSDExMkMxMzguNTEgMCAxNjAgMjEuNDkwMyAxNjAgNDhWNTZIMTk2LjI1MkMyNDAuNDM1IDU2IDI3Ni4yNTIgOTEuODE3MiAyNzYuMjUyIDEzNlYxOTJDMjc2LjI1MiAyMTQuMDkxIDI5NC4xNjEgMjMyIDMxNi4yNTIgMjMySDM1MlYyMjRDMzUyIDE5Ny40OSAzNzMuNDkgMTc2IDQwMCAxNzZINDY0QzQ5MC41MSAxNzYgNTEyIDE5Ny40OSA1MTIgMjI0VjI4OEM1MTIgMzE0LjUxIDQ5MC41MSAzMzYgNDY0IDMzNkg0MDBDMzczLjQ5IDMzNiAzNTIgMzE0LjUxIDM1MiAyODhWMjgwSDMxNi4yNTJDMjk0LjE2MSAyODAgMjc2LjI1MiAyOTcuOTA5IDI3Ni4yNTIgMzIwVjM3NkMyNzYuMjUyIDQyMC4xODMgMjQwLjQzNSA0NTYgMTk2LjI1MiA0NTZIMTYwVjQ2NEMxNjAgNDkwLjUxIDEzOC41MSA1MTIgMTEyIDUxMkg0OEMyMS40OTAzIDUxMiAwIDQ5MC41MSAwIDQ2NFY0MDBDMCAzNzMuNDkgMjEuNDkwMyAzNTIgNDggMzUySDExMkMxMzguNTEgMzUyIDE2MCAzNzMuNDkgMTYwIDQwMFY0MDhIMTk2LjI1MkMyMTMuOTI1IDQwOCAyMjguMjUyIDM5My42NzMgMjI4LjI1MiAzNzZWMzIwQzIyOC4yNTIgMjk0Ljc4NCAyMzguODU5IDI3Mi4wNDQgMjU1Ljg1MyAyNTZDMjM4Ljg1OSAyMzkuOTU2IDIyOC4yNTIgMjE3LjIxNiAyMjguMjUyIDE5MlYxMzZDMjI4LjI1MiAxMTguMzI3IDIxMy45MjUgMTA0IDE5Ni4yNTIgMTA0SDE2MFYxMTJDMTYwIDEzOC41MSAxMzguNTEgMTYwIDExMiAxNjBINDhDMjEuNDkwMyAxNjAgMCAxMzguNTEgMCAxMTJWNDhaTTEwNCA0OEMxMDguNDE4IDQ4IDExMiA1MS41ODE3IDExMiA1NlYxMDRDMTEyIDEwOC40MTggMTA4LjQxOCAxMTIgMTA0IDExMkg1NkM1MS41ODE3IDExMiA0OCAxMDguNDE4IDQ4IDEwNFY1NkM0OCA1MS41ODE3IDUxLjU4MTcgNDggNTYgNDhIMTA0Wk00NTYgMjI0QzQ2MC40MTggMjI0IDQ2NCAyMjcuNTgyIDQ2NCAyMzJWMjgwQzQ2NCAyODQuNDE4IDQ2MC40MTggMjg4IDQ1NiAyODhINDA4QzQwMy41ODIgMjg4IDQwMCAyODQuNDE4IDQwMCAyODBWMjMyQzQwMCAyMjcuNTgyIDQwMy41ODIgMjI0IDQwOCAyMjRINDU2Wk0xMTIgNDA4QzExMiA0MDMuNTgyIDEwOC40MTggNDAwIDEwNCA0MDBINTZDNTEuNTgxNyA0MDAgNDggNDAzLjU4MiA0OCA0MDhWNDU2QzQ4IDQ2MC40MTggNTEuNTgxNyA0NjQgNTYgNDY0SDEwNEMxMDguNDE4IDQ2NCAxMTIgNDYwLjQxOCAxMTIgNDU2VjQwOFoiIGZpbGw9IiM1NEI4QzkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTc3XzUxOCI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Merge",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 514,
        "icon": "fa:pause-circle",
        "name": "n8n-nodes-base.wait",
        "codex": {
          "data": {
            "alias": [
              "pause",
              "sleep",
              "delay",
              "timeout"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Flow"
              ]
            }
          }
        },
        "group": "[\"organization\"]",
        "defaults": {
          "name": "Wait",
          "color": "#804050"
        },
        "iconData": {
          "icon": "pause-circle",
          "type": "icon"
        },
        "displayName": "Wait",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 834,
        "icon": "file:code.svg",
        "name": "n8n-nodes-base.code",
        "codex": {
          "data": {
            "alias": [
              "cpde",
              "Javascript",
              "JS",
              "Python",
              "Script",
              "Custom Code",
              "Function"
            ],
            "details": "The Code node allows you to execute JavaScript in your workflow.",
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Code"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
        },
        "displayName": "Code",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1153,
        "icon": "file:openAiLight.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "OpenAI Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1179,
        "icon": "fa:code",
        "name": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "codex": {
          "data": {
            "alias": [
              "json",
              "zod"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.outputparserstructured/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Output Parsers"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Structured Output Parser"
        },
        "iconData": {
          "icon": "code",
          "type": "icon"
        },
        "displayName": "Structured Output Parser",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1225,
        "icon": "file:form.svg",
        "name": "n8n-nodes-base.formTrigger",
        "codex": {
          "data": {
            "alias": [
              "table",
              "submit",
              "post"
            ],
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.formtrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Other Trigger Nodes"
              ]
            }
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "On form submission"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0MCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwQjdCQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzQuOTc4IDM3LjczMmExLjU2IDEuNTYgMCAwIDEtMS41NjIgMS41NjNINi4yNmExLjU2IDEuNTYgMCAwIDEtMS41NjMtMS41NjNWOS42MDdjMC0uNDA1LjE1Ny0uNzk0LjQzOC0xLjA4Nmw2LjMwNC02LjUzMXY1LjM0NEg4LjIxM2ExLjE3MiAxLjE3MiAwIDEgMCAwIDIuMzQzaDQuNDNhMS4xNyAxLjE3IDAgMCAwIDEuMTcxLTEuMTcxVi4yMzJoMTkuNjAyYTEuNTYgMS41NiAwIDAgMSAxLjU2MiAxLjU2M3YxMC4zMjdsLTIuODYgMi44Ni04LjI1MiA4LjI3NmE0MTMuMDA2IDQxMy4wMDYgMCAwIDEtMS42NTQgMS42NjJsLS4zMzcuMzM3YTIgMiAwIDAgMC0uNTU3IDEuMDhMMjAuMyAzMS45MjJjLS4xMDguNjM4LS4yMTUgMS4wNzkuMjExIDEuNDE4LjQwMy4zMi45LjE3NCAxLjU0LjA2Nmw1LjQwOC0uOTI4YTIgMiAwIDAgMCAxLjA4LS41NTZsNi40NC02LjQyOXptLTI0LjAzLTIxLjI2NWExLjE4IDEuMTggMCAwIDAgMS4xNzEgMS4xNzJoMTMuMTYzYTEuMTcyIDEuMTcyIDAgMSAwIDAtMi4zNDRIMTIuMTE5YTEuMTcgMS4xNyAwIDAgMC0xLjE3MiAxLjE3Mm03LjI5NCAxNC43NjZhMS4xNyAxLjE3IDAgMCAwLTEuMTcyLTEuMTcySDEyLjEyYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNC45NTFhMS4xNyAxLjE3IDAgMCAwIDEuMTcyLTEuMTcybS44Ni03LjM5MWExLjE3IDEuMTcgMCAwIDAtMS4xNzItMS4xNzJoLTUuODExYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNS44MWExLjE2NCAxLjE2NCAwIDAgMCAxLjE3My0xLjE3MSIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggZmlsbD0iIzAwQjdCQyIgZD0ibTMzLjUzMiAxNi4zOTcgNC4yODktNC4yODkgMy43NTggMy43MSAxLjYxNy0xLjYxNiAyLjI1OCAyLjI1N2MuMjE4LjIxOC4zNC41MTMuMzQzLjgyLS4wMDIuMzExLS4xMjUuNjA4LS4zNDQuODNsLTYuODA0IDYuNzk2YTEuMTMgMS4xMyAwIDAgMS0uODI4LjM0MyAxLjE1IDEuMTUgMCAwIDEtLjgyOC0uMzQzIDEuMTggMS4xOCAwIDAgMSAwLTEuNjU3bDUuOTc2LTUuOTY4LTEuMzEyLTEuMzEzLTEuMzgzIDEuNDE0LTEzLjE0OSAxMy4xMjUtNC42MTcuNzgyLjc4Mi00LjYxNy4zMzYtLjMzNyAyLjU2MiAyLjU1NWExLjEgMS4xIDAgMCAwIC44MjguMzQ0Yy4zMTIuMDA1LjYxMi0uMTIuODI4LS4zNDRhMS4xOCAxLjE4IDAgMCAwIDAtMS42NTZsLTIuNTYyLTIuNTYyek00NC43MzYgMTIuMjRjMCAuNDE0LS4xNjMuODEtLjQ1NCAxLjEwMmwtLjkyMi45MTQtMy44NTItMy44MjguOTMtLjkzYTEuNTYzIDEuNTYzIDAgMCAxIDIuMjAzIDBsMS42NCAxLjY0MWMuMjkxLjI5My40NTUuNjkuNDU1IDEuMTAyIi8+PC9zdmc+"
        },
        "displayName": "n8n Form Trigger",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 31,
        "name": "Content Creation"
      },
      {
        "id": 51,
        "name": "Multimodal AI"
      }
    ],
    "image": []
  }
}